Repository berkeley-dsep-infra/datahub, changes with the labels that .github/labeler.yml gives for each.
All labels: python, R-code, bash, dockerfile, configuration, singleuser-image, hub-images, images, documentation, build-infra, issue-templates, helm-config, support-deployment, grafana, jupyterhub-deployment, node-placeholder-deployment, node-placeholder-scaler, hub: a11y, hub: astro, hub: biology, hub: cee, hub: data100, hub: data101, hub: data102, hub: data8, hub: datahub, hub: dlab, hub: dev, hub: edx, hub: eecs, hub: highschool, hub: ischool, hub: julia, hub: logodev, hub: nature, hub: prob140, hub: publichealth, hub: r, hub: shiny, hub: stat159, hub: stat20, hub: ugr01, hub: workshop, hub: gradebook

update cee image tag to 5e393b8d22ce: deployments/cee/hubploy.yaml
  deployments/cee/hubploy.yaml
Labels: configuration, hub: cee

update biology image tag to 24ed6d3bf1a6: deployments/biology/hubploy.yaml
  deployments/biology/hubploy.yaml
Labels: configuration, hub: biology

Remove contents of shiny image.
  deployments/shiny/image/Dockerfile
  deployments/shiny/image/class-libs.R
  deployments/shiny/image/environment.yml
  deployments/shiny/image/file-locks
  deployments/shiny/image/infra-requirements.txt
  deployments/shiny/image/install-mambaforge.bash
  deployments/shiny/image/r-packages/2023-fall-stat-135.r
  deployments/shiny/image/r-packages/2023-spring-stat-20.r
  deployments/shiny/image/r-packages/2024-spring-gradebook.r
Labels: R-code, bash, dockerfile, configuration, singleuser-image, hub: shiny

Remove shiny from CircleCI.
  .circleci/config.yml
Labels: configuration, build-infra

Deploy shiny hub via github actions.
  .github/workflows/deploy-hubs.yaml
Labels: configuration, build-infra

Specify new shiny image configuration.
  deployments/shiny/hubploy.yaml
Labels: configuration, hub: shiny

Use shiny image for gradebook.
  deployments/gradebook/hubploy.yaml
Labels: configuration, hub: gradebook

Also remove gradebook from CircleCI.
  .circleci/config.yml
Labels: configuration, build-infra

Delay adding shiny to this action until a later PR.
  .github/workflows/deploy-hubs.yaml
Labels: configuration, build-infra

Add gradebook and shiny to github action.
  .github/workflows/deploy-hubs.yaml
Labels: configuration, build-infra

fix shiny image path
  deployments/gradebook/hubploy.yaml
  deployments/shiny/hubploy.yaml
Labels: configuration, hub: shiny, hub: gradebook

update shiny image tag to 0f550a37d042: deployments/gradebook/hubploy.yaml deployments/shiny/hubploy.yaml
  deployments/gradebook/hubploy.yaml
  deployments/shiny/hubploy.yaml
Labels: configuration, hub: shiny, hub: gradebook

fixing image name stanza
  deployments/gradebook/hubploy.yaml
  deployments/shiny/hubploy.yaml
Labels: configuration, hub: shiny, hub: gradebook

moving dev to its own image repos
  .circleci/config.yml
  deployments/dev/hubploy.yaml
  deployments/dev/image/README.md
  deployments/dev/images/default/Dockerfile
  deployments/dev/images/default/Rprofile.site
  deployments/dev/images/default/apt.txt
  deployments/dev/images/default/class-libs.R
  deployments/dev/images/default/environment.yml
  deployments/dev/images/default/infra-requirements.txt
  deployments/dev/images/default/install-mambaforge.bash
  deployments/dev/images/default/install.R
  deployments/dev/images/default/rsession.conf
  deployments/dev/images/secondary/Rprofile.site
  deployments/dev/images/secondary/apt.txt
  deployments/dev/images/secondary/environment.yml
  deployments/dev/images/secondary/infra-requirements.txt
  deployments/dev/images/secondary/install.R
  deployments/dev/images/secondary/rsession.conf
  deployments/dev/images/secondary/runtime.txt
Labels: R-code, bash, dockerfile, configuration, singleuser-image, documentation, build-infra, hub: dev

wonder if we will have issues deploying the secondary image w/no hash in here
  deployments/dev/config/common.yaml
Labels: configuration, hub: dev

enabling dev hub cicd
  .github/workflows/deploy-hubs.yaml
Labels: configuration, build-infra

update dev image tag to 6000a5694eab: deployments/dev/hubploy.yaml
  deployments/dev/hubploy.yaml
Labels: configuration, hub: dev

update dev image tag to df11f4f1caa1: deployments/dev/hubploy.yaml
  deployments/dev/hubploy.yaml
Labels: configuration, hub: dev

Increase RAM for EE 120, Demog 213 and Stat 131A
  deployments/datahub/config/common.yaml
  deployments/eecs/config/common.yaml
Labels: configuration, hub: datahub, hub: eecs

fixing dev hubploy
  deployments/dev/hubploy.yaml
Labels: configuration, hub: dev

Link the github issue
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

Move Stanza for Stat 131A to R Hub
  deployments/datahub/config/common.yaml
  deployments/r/config/common.yaml
Labels: configuration, hub: datahub, hub: r

fixing secondary image for dev
  deployments/dev/config/common.yaml
  deployments/dev/hubploy.yaml
Labels: configuration, hub: dev

some tooling to make syncing the user image dirs easier
  scripts/user-image-management/repos.txt
  scripts/user-image-management/sync-user-repos.py
Labels: python, documentation

rename script
  scripts/user-image-management/sync-image-repos.py
Labels: python

update biology image tag to 8540bb31ea44: deployments/biology/hubploy.yaml
  deployments/biology/hubploy.yaml
Labels: configuration, hub: biology

adding branch creation and push functions
  scripts/user-image-management/manage-image-repos.py
Labels: python

wording
  scripts/user-image-management/manage-image-repos.py
Labels: python

Remove data event from config
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

.github/labeler.yml:

# add labels for code changes
python:
  - '**/*.py'
R-code:
  - '**/*.R'
  - '**/*.r'
bash:
  - '**/*.sh'
  - '**/*.bash'
  - '**/postBuild'
dockerfile:
  - '**/Dockerfile'

# add labels for non-singleuser image config changes
configuration:
  - '**/apt.txt'
  - '**/infra-requirements.txt'
  - '**/requirements.in'
  - '**/requirements.txt'
  - '**/runtime.txt'
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'

# catch all singleuser image config changes
singleuser-image:
  - 'deployments/**/image/**'
  - 'deployments/**/images/**'

# changes to hub images
hub-images:
  - 'images/**'

# images
images:
  - '**/*.png'
  - '**/*.svg'

# add labels to docs
documentation:
  - any: ['**/*.txt',  '!**/apt.txt', '!**/infra-requirements.txt', '!**/requirements.txt', '!**/runtime.txt']
  - 'docs/**'
  - '**/*.md'
  - 'LICENSE'

# add build-infra label to any .github or circleci changes
build-infra:
  - '.circleci/**'
  - any: ['.github/**', '!.github/ISSUE_TEMPLATE/**']
  - '.gitignore'

issue-templates:
  - '.github/ISSUE_TEMPLATE/**'

# helm chart infra
helm-config:
  - 'chartpress.yaml'
  - '**/Chart.yaml'
  - 'support/*.yaml'
  - 'hub/*.yaml'
  - 'node-placeholder/*.yaml'
  - '**/.helmignore'

# support systems
support-deployment:
  - 'support/**'

# grafana panel backups
grafana:
  - 'vendor/grafana/**'

# jupyterhub deployment
jupyterhub-deployment:
  - 'hub/**'

# nodeplaceholder/scaler labels
node-placeholder-deployment:
  - 'node-placeholder/**'

node-placeholder-scaler:
  - 'images/node-placeholder-scaler/**'

# add hub-specific labels for deployment changes
'hub: a11y':
  - 'deployments/a11y/**'
'hub: astro':
  - 'deployments/astro/**'
'hub: biology':
  - 'deployments/biology/**'
'hub: cee':
  - 'deployments/cee/**'
'hub: data100':
  - 'deployments/data100/**'
'hub: data101':
  - 'deployments/data101/**'
'hub: data102':
  - 'deployments/data102/**'
'hub: data8':
  - 'deployments/data8/**'
'hub: datahub':
  - 'deployments/datahub/**'
'hub: dlab':
  - 'deployments/dlab/**'
'hub: dev':
  - 'deployments/dev/**'
'hub: edx':
  - 'deployments/edx/**'
'hub: eecs':
  - 'deployments/eecs/**'
'hub: highschool':
  - 'deployments/highschool/**'
'hub: ischool':
  - 'deployments/ischool/**'
'hub: julia':
  - 'deployments/julia/**'
'hub: logodev':
  - 'deployments/logodev/**'
'hub: nature':
  - 'deployments/nature/**'
'hub: prob140':
  - 'deployments/prob140/**'
'hub: publichealth':
  - 'deployments/publichealth/**'
'hub: r':
  - 'deployments/r/**'
'hub: shiny':
  - 'deployments/shiny/**'
'hub: stat159':
  - 'deployments/stat159/**'
'hub: stat20':
  - 'deployments/stat20/**'
'hub: ugr01':
  - 'deployments/ugr01/**'
'hub: workshop':
  - 'deployments/workshop/**'
'hub: gradebook':
  - 'deployments/gradebook/**'
