Repository berkeley-dsep-infra/datahub, changes with the labels that .github/labeler.yml gives for each.
All labels: python, R-code, bash, dockerfile, configuration, singleuser-image, hub-images, images, documentation, build-infra, node-placeholder, node-placeholder-scaler, hub: a11y, hub: astro, hub: biology, hub: cee, hub: data100, hub: data101, hub: data102, hub: data8, hub: data8x, hub: data8xv2, hub: datahub, hub: dlab, hub: eecs, hub: highschool, hub: ischool, hub: julia, hub: logodev, hub: prob140, hub: publichealth, hub: r, hub: shiny, hub: stat159, hub: stat20, hub: workshop

.github/labeler.yml:

# add labels for code changes
python:
  - "**/*.py"
R-code:
  - "**/*.R"
  - "**/*.r"
bash:
  - "**/*.sh"
  - "**/*.bash"
  - "**/postBuild"
dockerfile:
  - "**/Dockerfile"

# add labels for non-singleuser image config changes
configuration:
  - '**/apt.txt'
  - '**/infra-requirements.txt'
  - '**/requirements.txt'
  - '**/runtime.txt'
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'

# catch all singleuser image config changes
singleuser-image:
  - "deployments/**/image/**"
  - "deployments/**/images/**"

# changes to hub images
hub-images:
  - "images/**"
    
# images
images:
  - "**/*.png"
  - "**/*.svg"

# add labels to docs
documentation:
  - any: ['**/*.txt',  '!**/apt.txt', '!**/infra-requirements.txt', '!**/requirements.txt', '!**/runtime.txt']
  - 'docs/**'
  - '**/*.md'

# add build-infra label to any .github or circleci changes
build-infra:
  - ".circleci/**"
  - ".github/**"

# node placeholder/scaler labels
node-placeholder:
  - "node-placeholder/**"

node-placeholder-scaler:
  - "images/node-placeholder-scaler/**"

# add hub-specific labels for deployment changes
"hub: a11y":
  - "deployments/a11y/**"
"hub: astro":
  - "deployments/astro/**"
"hub: biology":
  - "deployments/biology/**"
"hub: cee":
  - "deployments/cee/**"
"hub: data100":
  - "deployments/data100/**"
"hub: data101":
  - "deployments/data101/**"
"hub: data102":
  - "deployments/data102/**"
"hub: data8":
  - "deployments/data8/**"
"hub: data8x":
  - "deployments/data8x/**"
"hub: data8xv2":
  - "deployments/data8xv2/**"
"hub: datahub":
  - "deployments/datahub/**"
"hub: dlab":
  - "deployments/dlab/**"
"hub: eecs":
  - "deployments/eecs/**"
"hub: highschool":
  - "deployments/highschool/**"
"hub: ischool":
  - "deployments/ischool/**"
"hub: julia":
  - "deployments/julia/**"
"hub: logodev":
  - "deployments/logodev/**"
"hub: prob140":
  - "deployments/prob140/**"
"hub: publichealth":
  - "deployments/publichealth/**"
"hub: r":
  - "deployments/r/**"
"hub: shiny":
  - "deployments/shiny/**"
"hub: stat159":
  - "deployments/stat159/**"
"hub: stat20":
  - "deployments/stat20/**"
"hub: workshop":
  - "deployments/workshop/**"

Enable admin for Data 8.
  deployments/data8/config/common.yaml
Labels: configuration, hub: data8

Copy example from documentation into template.
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
Labels: configuration

update hub and node placeholder scaler images
  hub/Chart.yaml
  hub/values.yaml
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: configuration, node-placeholder

Relocate group profiles.
  deployments/data8/config/common.yaml
Labels: configuration, hub: data8

Fix docs for jupyterhub.custom.
  docs/admins/howto/course-config.rst
Labels: documentation

custom is actually under jupyterhub.
  docs/admins/howto/course-config.rst
Labels: documentation

Change title of course configuration page.
  docs/admins/howto/course-config.rst
Labels: documentation
