Repository berkeley-dsep-infra/datahub, changes with the labels that .github/labeler.yml gives for each.
All labels: python, R-code, bash, dockerfile, configuration, singleuser-image, hub-images, images, documentation, build-infra, issue-templates, helm-config, support-deployment, grafana, jupyterhub-deployment, node-placeholder-deployment, node-placeholder-scaler, hub: a11y, hub: astro, hub: biology, hub: cee, hub: data100, hub: data101, hub: data102, hub: data8, hub: datahub, hub: dlab, hub: dev, hub: edx, hub: eecs, hub: highschool, hub: ischool, hub: julia, hub: logodev, hub: nature, hub: prob140, hub: publichealth, hub: r, hub: shiny, hub: stat159, hub: stat20, hub: ugr01, hub: workshop, hub: gradebook

Remove ai-suggested fragment.
  .github/workflows/quarto-docs.yml
Labels: configuration, build-infra

[DH-361] adding gh-scoped-creds for nature hub
  deployments/nature/config/common.yaml
  deployments/nature/image/environment.yml
Labels: configuration, singleuser-image, hub: nature

[DH-361] enabling nonempty directory delete, show hidden files is already enabled
  deployments/nature/config/common.yaml
Labels: configuration, hub: nature

[DH-361] adding jupytext and jupyterlab-git
  deployments/nature/image/environment.yml
Labels: configuration, singleuser-image, hub: nature

[DH-361] adding earthaccess
  deployments/nature/image/environment.yml
Labels: configuration, singleuser-image, hub: nature

Split off stat20 user image.
  .circleci/config.yml
  deployments/stat20/hubploy.yaml
  deployments/stat20/image/Dockerfile
  deployments/stat20/image/README.md
  deployments/stat20/image/class-libs.R
  deployments/stat20/image/environment.yml
  deployments/stat20/image/file-locks
  deployments/stat20/image/infra-requirements.txt
  deployments/stat20/image/install-mambaforge.bash
  deployments/stat20/image/r-packages/2023-fall-stat-20.r
  deployments/stat20/image/rstudio-prefs.json
Labels: R-code, bash, dockerfile, configuration, singleuser-image, documentation, build-infra, hub: stat20

Add stat20 to workflow.
  .github/workflows/deploy-hubs.yaml
Labels: configuration, build-infra

update stat20 image tag to d3fd1f663330: deployments/stat20/hubploy.yaml
  deployments/stat20/hubploy.yaml
Labels: configuration, hub: stat20

update stat20 image tag to 5eed7cbfc7ff: deployments/stat20/hubploy.yaml
  deployments/stat20/hubploy.yaml
Labels: configuration, hub: stat20

moving nature to own repo
  .circleci/config.yml
  deployments/nature/hubploy.yaml
  deployments/nature/image/README.md
  deployments/nature/image/apt.txt
  deployments/nature/image/environment.yml
  deployments/nature/image/postBuild
  deployments/nature/image/start
Labels: bash, configuration, singleuser-image, documentation, build-infra, hub: nature

enabling nature hub deployment
  .github/workflows/deploy-hubs.yaml
Labels: configuration, build-infra

update nature image tag to 6e285f9f5ab2: deployments/nature/hubploy.yaml
  deployments/nature/hubploy.yaml
Labels: configuration, hub: nature

update nature image tag to 9ad22965ad22: deployments/nature/hubploy.yaml
  deployments/nature/hubploy.yaml
Labels: configuration, hub: nature

updates for a11y to move to new repo
  .circleci/config.yml
  deployments/a11y/hubploy.yaml
  deployments/a11y/image/README.md
  deployments/a11y/image/apt.txt
  deployments/a11y/image/environment.yml
  deployments/a11y/image/infra-requirements.txt
  deployments/a11y/image/postBuild
Labels: bash, configuration, singleuser-image, documentation, build-infra, hub: a11y

update readme verbiage
  deployments/a11y/image/README.md
Labels: singleuser-image, documentation, hub: a11y

enable deployment of a11y
  .github/workflows/deploy-hubs.yaml
Labels: configuration, build-infra

twiddle the workflow
  .github/workflows/deploy-hubs.yaml
Labels: configuration, build-infra

update a11y image tag to e33a1decb7d0: deployments/a11y/hubploy.yaml
  deployments/a11y/hubploy.yaml
Labels: configuration, hub: a11y

update a11y image tag to 1967ba9bc53f: deployments/a11y/hubploy.yaml
  deployments/a11y/hubploy.yaml
Labels: configuration, hub: a11y

update a11y image tag to 7c4cd8df980c: deployments/a11y/hubploy.yaml
  deployments/a11y/hubploy.yaml
Labels: configuration, hub: a11y

Adding more tools for dashboaring in python in dashboard image
  deployments/dev/images/secondary/environment.yml
Labels: configuration, singleuser-image, hub: dev

adding placeholder for image tag, remove path to image stuff
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
Labels: configuration

moving ugr01 to its own image repo
  .circleci/config.yml
  deployments/ugr01/hubploy.yaml
  deployments/ugr01/image/README.md
  deployments/ugr01/image/apt.txt
  deployments/ugr01/image/environment.yml
  deployments/ugr01/image/infra-requirements.txt
  deployments/ugr01/image/postBuild
  deployments/ugr01/image/start
Labels: bash, configuration, singleuser-image, documentation, build-infra, hub: ugr01

enabling deployability of ugr01
  .github/workflows/deploy-hubs.yaml
Labels: configuration, build-infra

update ugr01 image tag to d093fb974521: deployments/ugr01/hubploy.yaml
  deployments/ugr01/hubploy.yaml
Labels: configuration, hub: ugr01

moving data101 to its own repo
  .circleci/config.yml
  deployments/data101/hubploy.yaml
  deployments/data101/image/README.md
  deployments/data101/image/apt.txt
  deployments/data101/image/environment.yml
  deployments/data101/image/infra-requirements.txt
  deployments/data101/image/postBuild
  deployments/data101/image/start
Labels: bash, configuration, singleuser-image, documentation, build-infra, hub: data101

enable data101 deployment
  .github/workflows/deploy-hubs.yaml
Labels: configuration, build-infra

forgot the placeholder tag
  deployments/data101/hubploy.yaml
Labels: configuration, hub: data101

update data101 image tag to f702848059e1: deployments/data101/hubploy.yaml
  deployments/data101/hubploy.yaml
Labels: configuration, hub: data101

fix typo and better wording
  .github/workflows/deploy-hubs.yaml
Labels: configuration, build-infra

update a11y image tag to 65e4cb99b4aa: deployments/a11y/hubploy.yaml
  deployments/a11y/hubploy.yaml
Labels: configuration, hub: a11y

update data101 image tag to 0e1d41cf9936: deployments/data101/hubploy.yaml
  deployments/data101/hubploy.yaml
Labels: configuration, hub: data101

update stat20 image tag to feaa2df801d9: deployments/stat20/hubploy.yaml
  deployments/stat20/hubploy.yaml
Labels: configuration, hub: stat20

update stat159 image tag to da599718ae9f: deployments/stat159/hubploy.yaml
  deployments/stat159/hubploy.yaml
Labels: configuration, hub: stat159

update nature image tag to 00512349345a: deployments/nature/hubploy.yaml
  deployments/nature/hubploy.yaml
Labels: configuration, hub: nature

moving bio, cee and astro to new CI/CD workflow
  .circleci/config.yml
  .github/workflows/deploy-hubs.yaml
  deployments/astro/hubploy.yaml
  deployments/astro/image/README.md
  deployments/astro/image/apt.txt
  deployments/astro/image/environment.yml
  deployments/astro/image/infra-requirements.txt
  deployments/astro/image/postBuild
  deployments/astro/image/start
  deployments/biology/hubploy.yaml
  deployments/biology/image/Dockerfile
  deployments/biology/image/README.md
  deployments/biology/image/Rprofile.site
  deployments/biology/image/bio1b-packages.bash
  deployments/biology/image/ccb293-packages.bash
  deployments/biology/image/environment.yml
  deployments/biology/image/file-locks
  deployments/biology/image/ib134-packages.bash
  deployments/biology/image/infra-requirements.txt
  deployments/biology/image/install-mambaforge.bash
  deployments/biology/image/install.R
  deployments/biology/image/mitozEnv_config.py
  deployments/biology/image/patches/ncbiquery.py
  deployments/biology/image/rsession.conf
  deployments/cee/hubploy.yaml
  deployments/cee/image/README.md
  deployments/cee/image/apt.txt
  deployments/cee/image/environment.yml
  deployments/cee/image/infra-requirements.txt
  deployments/cee/image/postBuild
  deployments/cee/image/qgis.desktop
  deployments/cee/image/start
Labels: python, R-code, bash, dockerfile, configuration, singleuser-image, documentation, build-infra, hub: astro, hub: biology, hub: cee

don't enable deploys... yet
  .github/workflows/deploy-hubs.yaml
Labels: configuration, build-infra

enable deployment of astro/bio/cee
  .github/workflows/deploy-hubs.yaml
Labels: configuration, build-infra

update astro image tag to ffc76921fb47: deployments/astro/hubploy.yaml
  deployments/astro/hubploy.yaml
Labels: configuration, hub: astro

fixing typo
  deployments/cee/hubploy.yaml
Labels: configuration, hub: cee

.github/labeler.yml:

# add labels for code changes
python:
  - '**/*.py'
R-code:
  - '**/*.R'
  - '**/*.r'
bash:
  - '**/*.sh'
  - '**/*.bash'
  - '**/postBuild'
dockerfile:
  - '**/Dockerfile'

# add labels for non-singleuser image config changes
configuration:
  - '**/apt.txt'
  - '**/infra-requirements.txt'
  - '**/requirements.in'
  - '**/requirements.txt'
  - '**/runtime.txt'
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'

# catch all singleuser image config changes
singleuser-image:
  - 'deployments/**/image/**'
  - 'deployments/**/images/**'

# changes to hub images
hub-images:
  - 'images/**'

# images
images:
  - '**/*.png'
  - '**/*.svg'

# add labels to docs
documentation:
  - any: ['**/*.txt',  '!**/apt.txt', '!**/infra-requirements.txt', '!**/requirements.txt', '!**/runtime.txt']
  - 'docs/**'
  - '**/*.md'
  - 'LICENSE'

# add build-infra label to any .github or circleci changes
build-infra:
  - '.circleci/**'
  - any: ['.github/**', '!.github/ISSUE_TEMPLATE/**']
  - '.gitignore'

issue-templates:
  - '.github/ISSUE_TEMPLATE/**'

# helm chart infra
helm-config:
  - 'chartpress.yaml'
  - '**/Chart.yaml'
  - 'support/*.yaml'
  - 'hub/*.yaml'
  - 'node-placeholder/*.yaml'
  - '**/.helmignore'

# support systems
support-deployment:
  - 'support/**'

# grafana panel backups
grafana:
  - 'vendor/grafana/**'

# jupyterhub deployment
jupyterhub-deployment:
  - 'hub/**'

# nodeplaceholder/scaler labels
node-placeholder-deployment:
  - 'node-placeholder/**'

node-placeholder-scaler:
  - 'images/node-placeholder-scaler/**'

# add hub-specific labels for deployment changes
'hub: a11y':
  - 'deployments/a11y/**'
'hub: astro':
  - 'deployments/astro/**'
'hub: biology':
  - 'deployments/biology/**'
'hub: cee':
  - 'deployments/cee/**'
'hub: data100':
  - 'deployments/data100/**'
'hub: data101':
  - 'deployments/data101/**'
'hub: data102':
  - 'deployments/data102/**'
'hub: data8':
  - 'deployments/data8/**'
'hub: datahub':
  - 'deployments/datahub/**'
'hub: dlab':
  - 'deployments/dlab/**'
'hub: dev':
  - 'deployments/dev/**'
'hub: edx':
  - 'deployments/edx/**'
'hub: eecs':
  - 'deployments/eecs/**'
'hub: highschool':
  - 'deployments/highschool/**'
'hub: ischool':
  - 'deployments/ischool/**'
'hub: julia':
  - 'deployments/julia/**'
'hub: logodev':
  - 'deployments/logodev/**'
'hub: nature':
  - 'deployments/nature/**'
'hub: prob140':
  - 'deployments/prob140/**'
'hub: publichealth':
  - 'deployments/publichealth/**'
'hub: r':
  - 'deployments/r/**'
'hub: shiny':
  - 'deployments/shiny/**'
'hub: stat159':
  - 'deployments/stat159/**'
'hub: stat20':
  - 'deployments/stat20/**'
'hub: ugr01':
  - 'deployments/ugr01/**'
'hub: workshop':
  - 'deployments/workshop/**'
'hub: gradebook':
  - 'deployments/gradebook/**'
