Repository berkeley-dsep-infra/datahub, pull requests merged in 2023-12, with the labels that each got.

#5240 [DH-53] edx deployment Configuration
  .DS_Store
  .circleci/config.yml
  .github/labeler.yml
  .gitignore
  deployments/data8x/config/common.yaml
  deployments/data8x/config/prod.yaml
  deployments/data8x/config/staging.yaml
  deployments/data8x/image/environment.yml
  deployments/data8x/image/infra-requirements.txt
  deployments/data8x/image/runtime.txt
  deployments/data8x/secrets/prod.yaml
  deployments/data8x/secrets/staging.yaml
  deployments/data8xv2/hubploy.yaml
  deployments/data8xv2/image/environment.yml
  deployments/data8xv2/image/infra-requirements.txt
  deployments/data8xv2/secrets/gcloud-service-key.json
  deployments/edx/config/common.yaml
  deployments/edx/config/prod.yaml
  deployments/edx/config/staging.yaml
  deployments/edx/hubploy.yaml
  deployments/edx/image/apt.txt
  deployments/edx/image/environment.yml
  deployments/edx/image/ipython_config.py
  deployments/edx/image/overrides.json
  deployments/edx/image/postBuild
  deployments/edx/secrets/gcloud-service-key.json
  deployments/edx/secrets/prod.yaml
  deployments/edx/secrets/staging.yaml
Labels: build-infra, python, bash, configuration, singleuser-image, hub: data8xv2, hub: data8x, hub: edx

#5248 [DH-135] install jupyterhub announcements
  hub/Chart.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
Labels: dockerfile, configuration, hub-images, node-placeholder-deployment, helm-config, jupyterhub-deployment

#5256 [DH-189] Setting Ischool hub to launch JupyterLab by default
  deployments/ischool/config/common.yaml
Labels: configuration, hub: ischool

#5258 Edx: Fixed Staging IP after Deleting(!)
  deployments/edx/config/staging.yaml
Labels: configuration, hub: edx

#5257 [DH-189] Enable VSCode in Ischool Hub
  deployments/ischool/image/environment.yml
Labels: configuration, singleuser-image, hub: ischool

#5259 merging 5240/5248/5255/5256/5258 to prod
  .DS_Store
  .circleci/config.yml
  .github/labeler.yml
  .gitignore
  deployments/data8x/config/common.yaml
  deployments/data8x/config/prod.yaml
  deployments/data8x/config/staging.yaml
  deployments/data8x/image/environment.yml
  deployments/data8x/image/infra-requirements.txt
  deployments/data8x/image/runtime.txt
  deployments/data8x/secrets/prod.yaml
  deployments/data8x/secrets/staging.yaml
  deployments/data8xv2/config/staging.yaml
  deployments/data8xv2/hubploy.yaml
  deployments/data8xv2/image/environment.yml
  deployments/data8xv2/image/infra-requirements.txt
  deployments/data8xv2/secrets/gcloud-service-key.json
  deployments/edx/config/common.yaml
  deployments/edx/config/prod.yaml
  deployments/edx/config/staging.yaml
  deployments/edx/hubploy.yaml
  deployments/edx/image/apt.txt
  deployments/edx/image/environment.yml
  deployments/edx/image/ipython_config.py
  deployments/edx/image/overrides.json
  deployments/edx/image/postBuild
  deployments/edx/secrets/gcloud-service-key.json
  deployments/edx/secrets/prod.yaml
  deployments/edx/secrets/staging.yaml
  deployments/ischool/config/common.yaml
  deployments/ischool/image/environment.yml
  hub/Chart.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
  support/requirements.yaml
Labels: build-infra, python, bash, dockerfile, configuration, singleuser-image, hub-images, hub: ischool, hub: data8xv2, node-placeholder-deployment, helm-config, support-deployment, jupyterhub-deployment, hub: edx

#5263 [DH-194] testing out jupyterlab 4.0.9 on a11y
  deployments/a11y/image/environment.yml
Labels: configuration, singleuser-image, hub: a11y

#5266 [DH-200] update the delete unused users script to accept a json config file
  scripts/delete-unused-users.py
Labels: python

#5267 [DH-201] adding packs for sp24
  deployments/julia/image/install-julia-packages.jl
Labels: singleuser-image, hub: julia

#5268 [edx] Added datascience package
  deployments/edx/image/environment.yml
Labels: configuration, singleuser-image, hub: edx

#5271 [DH-36] ipython-sql is EOL move to jupysql
  .circleci/config.yml
  deployments/stat159/image/environment.yml
Labels: build-infra, configuration, singleuser-image, hub: stat159

#5269 merging 5263/5266/5267/5268/5271 to prod
  .circleci/config.yml
  deployments/a11y/image/environment.yml
  deployments/edx/image/environment.yml
  deployments/julia/image/install-julia-packages.jl
  deployments/stat159/image/environment.yml
  scripts/delete-unused-users.py
Labels: build-infra, python, configuration, singleuser-image, hub: stat159, hub: a11y, hub: julia, hub: edx

#5275 [edx] Added sympy package
  deployments/edx/image/environment.yml
Labels: configuration, singleuser-image, hub: edx

#5274 [DH-140] clean up the datahub image python install
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/apt.txt
  deployments/datahub/images/default/environment.yml
Labels: dockerfile, configuration, singleuser-image, hub: datahub

#5283 [DH-197] Remove course admin related configs across hubs
  deployments/a11y/config/common.yaml
  deployments/astro/config/common.yaml
  deployments/biology/config/common.yaml
  deployments/cee/config/common.yaml
  deployments/data100/config/common.yaml
  deployments/data101/config/common.yaml
  deployments/data102/config/common.yaml
  deployments/data8/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/dev-r/config/common.yaml
  deployments/dlab/config/common.yaml
  deployments/eecs/config/common.yaml
  deployments/ischool/config/common.yaml
  deployments/julia/config/common.yaml
  deployments/logodev/config/common.yaml
  deployments/prob140/config/common.yaml
  deployments/publichealth/config/common.yaml
  deployments/r/config/common.yaml
  deployments/shiny/config/common.yaml
  deployments/stat159/config/common.yaml
  deployments/stat20/config/common.yaml
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
  docs/admins/howto/course-config.rst
Labels: documentation, hub: stat20, configuration, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: dlab, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: logodev, hub: prob140, hub: publichealth, hub: r, hub: dev-r

#5284 merging 5274/5275/5283 to prod
  deployments/a11y/config/common.yaml
  deployments/astro/config/common.yaml
  deployments/biology/config/common.yaml
  deployments/cee/config/common.yaml
  deployments/data100/config/common.yaml
  deployments/data101/config/common.yaml
  deployments/data102/config/common.yaml
  deployments/data8/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/apt.txt
  deployments/datahub/images/default/environment.yml
  deployments/dev-r/config/common.yaml
  deployments/dlab/config/common.yaml
  deployments/edx/image/environment.yml
  deployments/eecs/config/common.yaml
  deployments/ischool/config/common.yaml
  deployments/julia/config/common.yaml
  deployments/logodev/config/common.yaml
  deployments/prob140/config/common.yaml
  deployments/publichealth/config/common.yaml
  deployments/r/config/common.yaml
  deployments/shiny/config/common.yaml
  deployments/stat159/config/common.yaml
  deployments/stat20/config/common.yaml
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
  docs/admins/howto/course-config.rst
Labels: documentation, hub: stat20, dockerfile, configuration, singleuser-image, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: dlab, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: logodev, hub: prob140, hub: publichealth, hub: r, hub: dev-r, hub: edx

#5288 [edx] Update Otter-Submit Button
  deployments/edx/image/environment.yml
Labels: configuration, singleuser-image, hub: edx

#5287 [DH-195] Remove memory bumps made during FA 23
  deployments/data100/config/common.yaml
  deployments/data101/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/eecs/config/common.yaml
  deployments/r/config/common.yaml
Labels: configuration, hub: datahub, hub: data100, hub: data101, hub: eecs, hub: r

#5290 [DH-26] bump prometheus to squash deprecated API warning
  support/requirements.yaml
Labels: configuration, helm-config, support-deployment

#5291 [DH-26] bump helm to unstick latest prom helm chart
  .circleci/config.yml
Labels: build-infra

#5292 [DH-26] upgrade gcloud sdk
  .circleci/config.yml
Labels: build-infra

#5293 [DH-26] statsd is old now it isn't
  support/requirements.yaml
Labels: configuration, helm-config, support-deployment

#5294 [DH-26] fix statsd version
  support/requirements.yaml
Labels: configuration, helm-config, support-deployment

#5295 add helm debugging output
  .circleci/config.yml
Labels: build-infra

#5296 [DH-26] comment out grafana
  .circleci/config.yml
Labels: build-infra

#5297 [DH-26] authenticate properly during deploy
  .circleci/config.yml
Labels: build-infra

#5300 [DH-26] force helm to install CRDs
  .circleci/config.yml
Labels: build-infra

#5301 [DH-26] bump cert-manager
  support/requirements.yaml
Labels: configuration, helm-config, support-deployment

#5302 [DH-26] maybe unstick support deployment
  support/values.yaml
Labels: configuration, helm-config, support-deployment

#5272 [DH-198] bump z2jh to 3.2.1
  hub/Chart.yaml
  hub/requirements.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
Labels: dockerfile, configuration, hub-images, node-placeholder-deployment, helm-config, jupyterhub-deployment

#5303 merging 5272/5287/5288/5290/5291/5292/5293/5294/5295/5296/5297/5300/5301/5302 to prod
  .circleci/config.yml
  deployments/data100/config/common.yaml
  deployments/data101/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/edx/image/environment.yml
  deployments/eecs/config/common.yaml
  deployments/r/config/common.yaml
  hub/Chart.yaml
  hub/requirements.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
  support/requirements.yaml
  support/values.yaml
Labels: build-infra, dockerfile, configuration, singleuser-image, hub-images, hub: datahub, hub: data100, hub: data101, hub: eecs, hub: r, node-placeholder-deployment, helm-config, support-deployment, jupyterhub-deployment, hub: edx

#5298 [DH-196] Set replicas to 0 across all hubs
  node-placeholder/values.yaml
Labels: configuration, node-placeholder-deployment, helm-config

#5305 [DH-205] grant us admin on our 'new' grafana
  support/secrets.yaml
Labels: configuration, helm-config, support-deployment

#5306 [DH-205] really fix admin and gh access
  support/secrets.yaml
Labels: configuration, helm-config, support-deployment

#5299 [DH-176] Removing Material Informatics workshop packages
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#5308 [DH-205] more admin tweaking
  support/secrets.yaml
Labels: configuration, helm-config, support-deployment

#5309 add circleci badge to readme
  README.md
Labels: documentation

#5310 merging 5298/5299/5305/5306/5308/5309 to prod
  README.md
  deployments/datahub/images/default/environment.yml
  node-placeholder/values.yaml
  support/secrets.yaml
Labels: documentation, configuration, singleuser-image, hub: datahub, node-placeholder-deployment, helm-config, support-deployment

#5313 [DH-50] Add nb7 to data8 image for testing
  deployments/data8/image/environment.yml
Labels: configuration, singleuser-image, hub: data8

#5270 [DH-193] configure the ingress-nginx pods to reside in the core node pool
  support/values.yaml
Labels: configuration, helm-config, support-deployment

#5317 [DH-191] removing comment from nginx config
  support/values.yaml
Labels: configuration, helm-config, support-deployment

#5273 [DH-191] move hubs to forthcoming shiny new core pool
  deployments/a11y/config/common.yaml
  deployments/astro/config/common.yaml
  deployments/biology/config/common.yaml
  deployments/cee/config/common.yaml
  deployments/data100/config/common.yaml
  deployments/data101/config/common.yaml
  deployments/data102/config/common.yaml
  deployments/data8/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/dev-r/config/common.yaml
  deployments/dlab/config/common.yaml
  deployments/eecs/config/common.yaml
  deployments/highschool/config/common.yaml
  deployments/ischool/config/common.yaml
  deployments/julia/config/common.yaml
  deployments/logodev/config/common.yaml
  deployments/prob140/config/common.yaml
  deployments/publichealth/config/common.yaml
  deployments/r/config/common.yaml
  deployments/shiny/config/common.yaml
  deployments/stat159/config/common.yaml
  deployments/stat20/config/common.yaml
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
  deployments/workshop/config/common.yaml
Labels: hub: stat20, configuration, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: dlab, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: logodev, hub: prob140, hub: publichealth, hub: r, hub: workshop, hub: dev-r, hub: highschool

#5319 merging 5270/5273/5312/5313/5317 to prod
  .DS_Store
  deployments/a11y/config/common.yaml
  deployments/astro/config/common.yaml
  deployments/biology/config/common.yaml
  deployments/cee/config/common.yaml
  deployments/data100/config/common.yaml
  deployments/data101/config/common.yaml
  deployments/data102/config/common.yaml
  deployments/data8/config/common.yaml
  deployments/data8/image/environment.yml
  deployments/datahub/config/common.yaml
  deployments/dev-r/config/common.yaml
  deployments/dlab/config/common.yaml
  deployments/eecs/config/common.yaml
  deployments/highschool/config/common.yaml
  deployments/ischool/config/common.yaml
  deployments/julia/config/common.yaml
  deployments/logodev/config/common.yaml
  deployments/prob140/config/common.yaml
  deployments/publichealth/config/common.yaml
  deployments/r/config/common.yaml
  deployments/shiny/config/common.yaml
  deployments/stat159/config/common.yaml
  deployments/stat20/config/common.yaml
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
  deployments/workshop/config/common.yaml
  support/values.yaml
Labels: hub: stat20, configuration, singleuser-image, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: dlab, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: logodev, hub: prob140, hub: publichealth, hub: r, hub: workshop, hub: dev-r, hub: highschool, helm-config, support-deployment

#5318 Upgrade Lab and Notebook to the latest in a11y hub for testing!
  deployments/a11y/image/environment.yml
Labels: configuration, singleuser-image, hub: a11y

#5320 [DH-191] fix docs
  docs/admins/howto/core-pool.rst
Labels: documentation

#5321 merging 5318/5320 to prod
  deployments/a11y/image/environment.yml
  docs/admins/howto/core-pool.rst
Labels: documentation, configuration, singleuser-image, hub: a11y

#5322 testing out archive extension
  deployments/data100/image/environment.yml
Labels: configuration, singleuser-image, hub: data100
