Repository berkeley-dsep-infra/datahub, pull requests merged in 2023-08, with the labels that each got.

#4806 Reduce RAM for Data100-JL4 hub
  deployments/data100-jl4/config/common.yaml
Labels: configuration, hub: data100-jl4

#4807 Pinning scipy to 1.10.0 to solve cartopy package rendering issue in Datahub
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#4808 reactivating cee and astro as per DH-64
  .circleci/config.yml
  deployments/astro/config/common.yaml
  deployments/cee/config/common.yaml
  node-placeholder/values.yaml
Labels: build-infra, configuration, hub: astro, hub: cee, node-placeholder

#4809 postBuild ln complains that file exists, so do we need?"
  deployments/astro/image/environment.yml
  deployments/cee/image/postBuild
Labels: bash, configuration, singleuser-image, hub: astro, hub: cee

#4810 fixing node-placeholder values.yaml
  node-placeholder/values.yaml
Labels: configuration, node-placeholder

#4811 Disable stat159 in CI.
  .circleci/config.yml
Labels: build-infra

#4813 [DH-82] update grafana to 9.5.5 and make our builds green again
  support/requirements.yaml
Labels: configuration

#4815 adding data101 for DH-64
  .circleci/config.yml
  deployments/data101/config/common.yaml
  node-placeholder/values.yaml
Labels: build-infra, configuration, hub: data101, node-placeholder

#4814 merging 4806-11/4813/4815 to prod
  .circleci/config.yml
  deployments/astro/config/common.yaml
  deployments/astro/image/environment.yml
  deployments/cee/config/common.yaml
  deployments/cee/image/postBuild
  deployments/data100-jl4/config/common.yaml
  deployments/data101/config/common.yaml
  deployments/datahub/images/default/environment.yml
  node-placeholder/values.yaml
  support/requirements.yaml
Labels: build-infra, bash, configuration, singleuser-image, hub: astro, hub: datahub, hub: cee, hub: data101, node-placeholder, hub: data100-jl4

#4816 [DH-51] testing tree/lab redirect bugfix
  deployments/data100-jl4/image/environment.yml
Labels: configuration, singleuser-image, hub: data100-jl4

#4817 merge 4816 to prod
  deployments/data100-jl4/image/environment.yml
Labels: configuration, singleuser-image, hub: data100-jl4

#4819 remove cesar from the archive retrieval request issue template, add balaji
  .github/ISSUE_TEMPLATE/data_archival_request.yml
Labels: issue-templates

#4820 add labels for LICENSE, github issue template, helm/chart , and support and hub deployment changes
  .github/labeler.yml
  .gitignore
Labels: build-infra

#4824 quickly merging 4819/4820 to prod
  .github/ISSUE_TEMPLATE/data_archival_request.yml
  .github/labeler.yml
  .gitignore
Labels: build-infra, issue-templates

#4825 [DH-51] Update notebook and jupyterlab to latest releases
  deployments/data100-jl4/image/environment.yml
Labels: configuration, singleuser-image, hub: data100-jl4

#4828 Update a11y to notebook 7.0.2.
  deployments/a11y/image/environment.yml
Labels: configuration, singleuser-image, hub: a11y

#4829 adding graphviz
  deployments/data100-jl4/image/environment.yml
Labels: configuration, singleuser-image, hub: data100-jl4

#4823 Increase RAM for ESPM 157
  deployments/datahub/config/common.yaml
  deployments/r/config/common.yaml
Labels: configuration, hub: datahub, hub: r

#4832 twice the graphviz, twice the fun?
  deployments/data100-jl4/image/environment.yml
Labels: configuration, singleuser-image, hub: data100-jl4

#4833 Fix indentation of custom block.
  deployments/r/config/common.yaml
Labels: configuration, hub: r

#4834 use conda forge for `python-graphviz`
  deployments/data100-jl4/image/environment.yml
Labels: configuration, singleuser-image, hub: data100-jl4

#4835 merging 4823/4825/4828/4829/4832/4833/4834 to prod
  deployments/a11y/image/environment.yml
  deployments/data100-jl4/image/environment.yml
  deployments/datahub/config/common.yaml
  deployments/r/config/common.yaml
Labels: configuration, singleuser-image, hub: datahub, hub: a11y, hub: r, hub: data100-jl4

#4836 dependabot alert for astro
  deployments/astro/image/environment.yml
Labels: configuration, singleuser-image, hub: astro

#4839 merging 4836 to prod
  deployments/astro/image/environment.yml
Labels: configuration, singleuser-image, hub: astro

#4841 add turnaround time
  .github/ISSUE_TEMPLATE/package_request.yml
Labels: issue-templates

#4844 Increase memory to 2GB for Data 101 hub
  deployments/data101/config/common.yaml
Labels: configuration, hub: data101

#4830 bump grafana https timeout
  support/values.yaml
Labels: configuration, helm-config, support-deployment

#4837 dependabot alerts for node placeholder
  .github/labeler.yml
  hub/Chart.yaml
  images/node-placeholder-scaler/requirements.in
  images/node-placeholder-scaler/requirements.txt
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: build-infra, configuration, hub-images, node-placeholder-deployment, node-placeholder-scaler, helm-config, jupyterhub-deployment

#4848 i added a + accidentally a week ago
  .github/labeler.yml
Labels: build-infra

#4849 merging 4830/4837/4841/4847/4848 to prod
  .github/ISSUE_TEMPLATE/package_request.yml
  .github/labeler.yml
  deployments/data101/config/common.yaml
  hub/Chart.yaml
  images/node-placeholder-scaler/requirements.in
  images/node-placeholder-scaler/requirements.txt
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
  support/values.yaml
Labels: build-infra, configuration, hub-images, hub: data101, node-placeholder-deployment, node-placeholder-scaler, issue-templates, helm-config, support-deployment, jupyterhub-deployment

#4850 uncommenting db configs for DH-94
  deployments/data101/config/common.yaml
Labels: configuration, hub: data101

#4851 [DH-94] merge #4850 to prod
  deployments/data101/config/common.yaml
Labels: configuration, hub: data101

#4852 Basing image off data100-jl4 as per DH-93
  .circleci/config.yml
  deployments/data101/hubploy.yaml
  deployments/data101/image/apt.txt
  deployments/data101/image/environment.yml
  deployments/data101/image/infra-requirements.txt
Labels: build-infra, configuration, singleuser-image, hub: data101

#4853 fix for lab 4
  deployments/data101/config/common.yaml
Labels: configuration, hub: data101

#4854 [DH-93] adding pymongo dep
  deployments/data101/image/environment.yml
Labels: configuration, singleuser-image, hub: data101

#4855 [DH-93] merging #4852, #4853, #4854 to prod
  .circleci/config.yml
  deployments/data101/config/common.yaml
  deployments/data101/hubploy.yaml
  deployments/data101/image/apt.txt
  deployments/data101/image/environment.yml
  deployments/data101/image/infra-requirements.txt
Labels: build-infra, configuration, singleuser-image, hub: data101

#4845 [DH-83] initial commit to upgrade data100 to jl 4/notebook 7
  deployments/data100/config/common.yaml
  deployments/data100/image/apt.txt
  deployments/data100/image/environment.yml
Labels: configuration, singleuser-image, hub: data100

#4856 [DH-84] forgot to remove commented out entries
  deployments/data100/image/environment.yml
Labels: configuration, singleuser-image, hub: data100

#4859 Bump jupyterhub to 4.0.2.
  deployments/a11y/image/environment.yml
  deployments/a11y/image/infra-requirements.txt
  deployments/astro/image/infra-requirements.txt
  deployments/biology/image/infra-requirements.txt
  deployments/cee/image/infra-requirements.txt
  deployments/data100-jl4/image/environment.yml
  deployments/data100-jl4/image/infra-requirements.txt
  deployments/data100/image/environment.yml
  deployments/data100/image/infra-requirements.txt
  deployments/data101/image/environment.yml
  deployments/data101/image/infra-requirements.txt
  deployments/data8/image/infra-requirements.txt
  deployments/data8x/image/environment.yml
  deployments/data8x/image/infra-requirements.txt
  deployments/data8xv2/image/environment.yml
  deployments/data8xv2/image/infra-requirements.txt
  deployments/datahub/images/default/infra-requirements.txt
  deployments/dev-r/image/Dockerfile
  deployments/dev-r/image/infra-requirements.txt
  deployments/eecs/image/infra-requirements.txt
  deployments/ischool/image/infra-requirements.txt
  deployments/julia/image/infra-requirements.txt
  deployments/publichealth/image/infra-requirements.txt
  deployments/shiny/image/infra-requirements.txt
  deployments/stat159/image/environment.yml
  deployments/stat159/image/infra-requirements.txt
  deployments/stat20/image/infra-requirements.txt
  hub/Chart.yaml
  hub/requirements.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
  scripts/infra-packages/requirements.txt
Labels: hub: stat20, dockerfile, configuration, singleuser-image, hub-images, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: publichealth, hub: data8xv2, node-placeholder-deployment, hub: data100-jl4, hub: dev-r, helm-config, jupyterhub-deployment, hub: data8x

#4861 Set OAuthenticator.allow_all per DH-75.
  hub/values.yaml
Labels: configuration, helm-config, jupyterhub-deployment

#4863 Escape braces in environment variables.
  deployments/datahub/secrets/prod.yaml
  deployments/datahub/secrets/staging.yaml
  deployments/workshop/secrets/prod.yaml
  deployments/workshop/secrets/staging.yaml
  hub/Chart.yaml
  hub/requirements.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
Labels: dockerfile, configuration, hub-images, hub: datahub, hub: workshop, node-placeholder-deployment, helm-config, jupyterhub-deployment

#4864 Add admins for high school hub
  deployments/highschool/config/common.yaml
Labels: configuration, hub: highschool

#4865 Disable auth_state on highschool. Clean up admin users.
  deployments/highschool/config/common.yaml
  deployments/highschool/secrets/prod.yaml
  deployments/highschool/secrets/staging.yaml
Labels: configuration, hub: highschool

#4866 Sync progress method from upstream.
  hub/values.yaml
Labels: configuration, helm-config, jupyterhub-deployment

#4869 [DH-83] debump otter
  deployments/data100/image/environment.yml
Labels: configuration, singleuser-image, hub: data100

#4870 [DH-91] remove data100-jl4 builds
  .circleci/config.yml
Labels: build-infra

#4867 Update datahub image.
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/Rprofile.site
  deployments/datahub/images/default/apt.txt
  deployments/datahub/images/default/rsession.conf
Labels: dockerfile, configuration, singleuser-image, hub: datahub

#4873 merging 4845/4846/4859/4861/4863/4864/4865/4866/4867/4869/4870 to prod
  .circleci/config.yml
  deployments/a11y/image/environment.yml
  deployments/a11y/image/infra-requirements.txt
  deployments/astro/image/infra-requirements.txt
  deployments/biology/image/infra-requirements.txt
  deployments/cee/image/infra-requirements.txt
  deployments/data100-jl4/image/environment.yml
  deployments/data100-jl4/image/infra-requirements.txt
  deployments/data100/config/common.yaml
  deployments/data100/image/apt.txt
  deployments/data100/image/environment.yml
  deployments/data100/image/infra-requirements.txt
  deployments/data101/image/environment.yml
  deployments/data101/image/infra-requirements.txt
  deployments/data8/image/infra-requirements.txt
  deployments/data8x/image/environment.yml
  deployments/data8x/image/infra-requirements.txt
  deployments/data8xv2/image/environment.yml
  deployments/data8xv2/image/infra-requirements.txt
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/Rprofile.site
  deployments/datahub/images/default/apt.txt
  deployments/datahub/images/default/infra-requirements.txt
  deployments/datahub/images/default/rsession.conf
  deployments/datahub/secrets/prod.yaml
  deployments/datahub/secrets/staging.yaml
  deployments/dev-r/image/Dockerfile
  deployments/dev-r/image/infra-requirements.txt
  deployments/eecs/image/infra-requirements.txt
  deployments/highschool/config/common.yaml
  deployments/highschool/secrets/prod.yaml
  deployments/highschool/secrets/staging.yaml
  deployments/ischool/image/infra-requirements.txt
  deployments/julia/image/infra-requirements.txt
  deployments/publichealth/image/infra-requirements.txt
  deployments/shiny/image/infra-requirements.txt
  deployments/stat159/image/environment.yml
  deployments/stat159/image/infra-requirements.txt
  deployments/stat20/image/infra-requirements.txt
  deployments/workshop/secrets/prod.yaml
  deployments/workshop/secrets/staging.yaml
  hub/Chart.yaml
  hub/requirements.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
  scripts/infra-packages/requirements.txt
Labels: build-infra, hub: stat20, dockerfile, configuration, singleuser-image, hub-images, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: publichealth, hub: workshop, hub: data8xv2, node-placeholder-deployment, hub: data100-jl4, hub: dev-r, hub: highschool, helm-config, jupyterhub-deployment, hub: data8x

#4874 add pgspecial, remove gh-scoped-creds
  deployments/data101/image/environment.yml
Labels: configuration, singleuser-image, hub: data101

#4871 [DH-104] bump calendar autoscaler configs for FA23
  node-placeholder/values.yaml
Labels: configuration, node-placeholder-deployment, helm-config

#4876 [DH-105] Increase RAM for EE120 in EECS hub
  deployments/eecs/config/common.yaml
Labels: configuration, hub: eecs

#4877 merging 4871/4874/4876 to prod
  deployments/data101/image/environment.yml
  deployments/eecs/config/common.yaml
  node-placeholder/values.yaml
Labels: configuration, singleuser-image, hub: data101, hub: eecs, node-placeholder-deployment, helm-config

#4880 github credentials package
  deployments/data100/image/environment.yml
Labels: configuration, singleuser-image, hub: data100

#4884 Bump to 3.0.2 for auth_token fix.
  hub/Chart.yaml
  hub/requirements.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
Labels: dockerfile, configuration, hub-images, node-placeholder-deployment, helm-config, jupyterhub-deployment

#4883 bump otter for data101
  deployments/data101/image/environment.yml
Labels: configuration, singleuser-image, hub: data101

#4887 Update common.yaml
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#4886 [DH-100] Add admin users in Public Health hub for PH 142 FA 23 course
  deployments/publichealth/config/common.yaml
Labels: configuration, hub: publichealth

#4890 data101 had two deploy blocks, now only one
  .circleci/config.yml
Labels: build-infra

#4889 merging 4880/4884/4883/4887/4886/4890 to prod
  .circleci/config.yml
  deployments/data100/config/common.yaml
  deployments/data100/image/environment.yml
  deployments/data101/image/environment.yml
  deployments/publichealth/config/common.yaml
  hub/Chart.yaml
  hub/requirements.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
Labels: build-infra, dockerfile, configuration, singleuser-image, hub-images, hub: data100, hub: data101, hub: publichealth, node-placeholder-deployment, helm-config, jupyterhub-deployment

#4888 Prune unneeded R libraries
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/r-packages/2019-fall-stat-131a.r
  deployments/datahub/images/default/r-packages/2020-spring-envecon-c118.r
  deployments/datahub/images/default/r-packages/2021-spring-espm-288.r
  deployments/datahub/images/default/r-packages/2023-spring-stat-135.r
  deployments/datahub/images/default/r-packages/orphaned-2021-spring-stat-20.r
  deployments/datahub/images/default/r-packages/orphaned-ph-142.r
  deployments/datahub/images/default/r-packages/orphaned-ph-290.r
  deployments/datahub/images/default/r-packages/orphaned-stat-20.r
Labels: dockerfile, singleuser-image, hub: datahub, R-code

#4891 otter upgrade
  deployments/data100/image/environment.yml
Labels: configuration, singleuser-image, hub: data100

#4893 merging 4888/4891 to prod
  deployments/data100/image/environment.yml
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/r-packages/2019-fall-stat-131a.r
  deployments/datahub/images/default/r-packages/2020-spring-envecon-c118.r
  deployments/datahub/images/default/r-packages/2021-spring-espm-288.r
  deployments/datahub/images/default/r-packages/2023-spring-stat-135.r
  deployments/datahub/images/default/r-packages/orphaned-2021-spring-stat-20.r
  deployments/datahub/images/default/r-packages/orphaned-ph-142.r
  deployments/datahub/images/default/r-packages/orphaned-ph-290.r
  deployments/datahub/images/default/r-packages/orphaned-stat-20.r
Labels: dockerfile, configuration, singleuser-image, hub: datahub, hub: data100, R-code

#4895 fails for balaji, but will it work for sknapp\?
  deployments/highschool/config/common.yaml
Labels: configuration, hub: highschool

#4897 [dh-91] remove data100-jl4 from our repo
  .github/labeler.yml
  deployments/data100-jl4/config/common.yaml
  deployments/data100-jl4/config/prod.yaml
  deployments/data100-jl4/config/staging.yaml
  deployments/data100-jl4/hubploy.yaml
  deployments/data100-jl4/image/apt.txt
  deployments/data100-jl4/image/environment.yml
  deployments/data100-jl4/image/infra-requirements.txt
  deployments/data100-jl4/secrets/gcr-key.json
  deployments/data100-jl4/secrets/gke-key.json
  deployments/data100-jl4/secrets/prod.yaml
  deployments/data100-jl4/secrets/staging.yaml
Labels: build-infra, configuration, singleuser-image, hub: data100-jl4

#4898 merging 4895/4897 to prod
  .github/labeler.yml
  deployments/data100-jl4/config/common.yaml
  deployments/data100-jl4/config/prod.yaml
  deployments/data100-jl4/config/staging.yaml
  deployments/data100-jl4/hubploy.yaml
  deployments/data100-jl4/image/apt.txt
  deployments/data100-jl4/image/environment.yml
  deployments/data100-jl4/image/infra-requirements.txt
  deployments/data100-jl4/secrets/gcr-key.json
  deployments/data100-jl4/secrets/gke-key.json
  deployments/data100-jl4/secrets/prod.yaml
  deployments/data100-jl4/secrets/staging.yaml
  deployments/highschool/config/common.yaml
Labels: build-infra, configuration, singleuser-image, hub: data100-jl4, hub: highschool

#4899 Move admins to secrets.
  deployments/highschool/config/common.yaml
  deployments/highschool/secrets/prod.yaml
Labels: configuration, hub: highschool

#4900 Merge #4899.
  deployments/highschool/config/common.yaml
  deployments/highschool/secrets/prod.yaml
Labels: configuration, hub: highschool

#4905 Don't build logodev image.
  .circleci/config.yml
Labels: build-infra

#4904 Update quarto, sync libs from textbook image.
  deployments/stat20/image/Dockerfile
  deployments/stat20/image/r-packages/2023-fall-stat-20.r
Labels: hub: stat20, dockerfile, singleuser-image, R-code

#4903 Add comment about dlab dependencies.
  deployments/datahub/images/default/Dockerfile
Labels: dockerfile, singleuser-image, hub: datahub

#4908 Install mosaicData in r and shiny.
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/r-packages/2023-fall-stat-135.r
  deployments/shiny/image/Dockerfile
  deployments/shiny/image/r-packages/2023-fall-stat-135.r
Labels: dockerfile, singleuser-image, hub: datahub, hub: shiny, R-code

#4909 Merge #4903, #4904, #4905, #4908
  .circleci/config.yml
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/r-packages/2023-fall-stat-135.r
  deployments/shiny/image/Dockerfile
  deployments/shiny/image/r-packages/2023-fall-stat-135.r
  deployments/stat20/image/Dockerfile
  deployments/stat20/image/r-packages/2023-fall-stat-20.r
Labels: build-infra, hub: stat20, dockerfile, singleuser-image, hub: datahub, hub: shiny, R-code

#4912 bump jupysql to 0.10.0
  deployments/data101/image/environment.yml
Labels: configuration, singleuser-image, hub: data101

#4915 Add admin users for Data 101 Hub
  deployments/data101/config/common.yaml
Labels: configuration, hub: data101

#4921 [DH-113] Debump otter to v4.4.1
  deployments/data100/image/environment.yml
Labels: configuration, singleuser-image, hub: data100

#4922 bye data8x
  .circleci/config.yml
  .github/labeler.yml
Labels: build-infra

#4923 [DH-113] Merging #4912, #4915, #4921, and #4922 to prod
  .circleci/config.yml
  .github/labeler.yml
  deployments/data100/image/environment.yml
  deployments/data101/config/common.yaml
  deployments/data101/image/environment.yml
Labels: build-infra, configuration, singleuser-image, hub: data100, hub: data101

#4924 otter bump
  deployments/data100/image/environment.yml
Labels: configuration, singleuser-image, hub: data100

#4926 Bump ischool to geospatial 4.3.1.
  deployments/ischool/image/Dockerfile
  deployments/ischool/image/environment.yml
  deployments/ischool/image/requirements.txt
Labels: dockerfile, configuration, singleuser-image, hub: ischool

#4928 Merge #4924, #4926.
  deployments/data100/image/environment.yml
  deployments/ischool/image/Dockerfile
  deployments/ischool/image/environment.yml
  deployments/ischool/image/requirements.txt
Labels: dockerfile, configuration, singleuser-image, hub: data100, hub: ischool

#4938 Try profiles on dev-r hub.
  deployments/dev-r/config/common.yaml
  deployments/dev-r/hubploy.yaml
  deployments/dev-r/images/default/Dockerfile
  deployments/dev-r/images/default/Rprofile.site
  deployments/dev-r/images/default/apt.txt
  deployments/dev-r/images/default/class-libs.R
  deployments/dev-r/images/default/environment.yml
  deployments/dev-r/images/default/infra-requirements.txt
  deployments/dev-r/images/default/install-mambaforge.bash
  deployments/dev-r/images/default/install.R
  deployments/dev-r/images/default/rsession.conf
  deployments/dev-r/images/secondary/Dockerfile-
  deployments/dev-r/images/secondary/Rprofile.site
  deployments/dev-r/images/secondary/apt.txt
  deployments/dev-r/images/secondary/environment.yml
  deployments/dev-r/images/secondary/infra-requirements.txt
  deployments/dev-r/images/secondary/install.R
  deployments/dev-r/images/secondary/rsession.conf
  deployments/dev-r/images/secondary/runtime.txt
Labels: bash, dockerfile, configuration, singleuser-image, R-code, hub: dev-r

#4939 Merge #4938.
  deployments/dev-r/config/common.yaml
  deployments/dev-r/hubploy.yaml
  deployments/dev-r/images/default/Dockerfile
  deployments/dev-r/images/default/Rprofile.site
  deployments/dev-r/images/default/apt.txt
  deployments/dev-r/images/default/class-libs.R
  deployments/dev-r/images/default/environment.yml
  deployments/dev-r/images/default/infra-requirements.txt
  deployments/dev-r/images/default/install-mambaforge.bash
  deployments/dev-r/images/default/install.R
  deployments/dev-r/images/default/rsession.conf
  deployments/dev-r/images/secondary/Dockerfile-
  deployments/dev-r/images/secondary/Rprofile.site
  deployments/dev-r/images/secondary/apt.txt
  deployments/dev-r/images/secondary/environment.yml
  deployments/dev-r/images/secondary/infra-requirements.txt
  deployments/dev-r/images/secondary/install.R
  deployments/dev-r/images/secondary/rsession.conf
  deployments/dev-r/images/secondary/runtime.txt
Labels: bash, dockerfile, configuration, singleuser-image, R-code, hub: dev-r

#4943 Give prob140 hub admin privileges to Fall 2023 Data 140 staff
  deployments/prob140/config/common.yaml
Labels: configuration, hub: prob140

#4940 Adding gh-scoped-creds in Data 102 hub
  deployments/data102/config/common.yaml
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub, hub: data102

#4956 Change `tas` to `ta`.
  deployments/data101/config/common.yaml
  deployments/prob140/config/common.yaml
Labels: configuration, hub: data101, hub: prob140

#4957 Merge #4940, #4943, #4956.
  deployments/data101/config/common.yaml
  deployments/data102/config/common.yaml
  deployments/datahub/images/default/environment.yml
  deployments/prob140/config/common.yaml
Labels: configuration, singleuser-image, hub: datahub, hub: data102, hub: data101, hub: prob140

#4948 Increase RAM to 4GB for Data 101 Admins
  deployments/data101/config/common.yaml
Labels: configuration, hub: data101

#4958 Provide admin access for Data 102 hub
  deployments/data102/config/common.yaml
Labels: configuration, hub: data102

#4963 Give MBA 247 staff access to student servers.
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#4960 Merge #4948, #4958, #4963
  deployments/data101/config/common.yaml
  deployments/data102/config/common.yaml
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub, hub: data102, hub: data101

#4964 Add shared folder for MBA 247.
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#4965 Merge #4964.
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#4967 Add config for UGBA 88.
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#4968 Merge #4967.
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#4969 Fixing issues with Data 101 Admin access
  deployments/data101/config/common.yaml
Labels: configuration, hub: data101

#4971 Add R packages for MBA 247.
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/r-packages/2023-fall-mba-247.r
  deployments/datahub/images/default/r-packages/ias-c188.r
  deployments/datahub/images/default/r-packages/ib161.r
  deployments/datahub/images/default/r-packages/ps-3.r
Labels: dockerfile, singleuser-image, hub: datahub, R-code

#4975 [data101] Update environment.yml for otter-grader
  deployments/data101/image/environment.yml
Labels: configuration, singleuser-image, hub: data101

#4974 Add shared folder for UGBA 88.
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#4978 Increase Data 101 Hub Admin's memory to 4GB
  deployments/data101/config/common.yaml
Labels: configuration, hub: data101

#4977 Merge #4974, #4975, #4978 to prod
  deployments/data101/config/common.yaml
  deployments/data101/image/environment.yml
  deployments/datahub/config/common.yaml
Labels: configuration, singleuser-image, hub: datahub, hub: data101

#4979 Correcting bcourses id in Data 101 config!
  deployments/data101/config/common.yaml
Labels: configuration, hub: data101

#4980 Merge #4970 to prod
  deployments/data101/config/common.yaml
Labels: configuration, hub: data101
