Repository berkeley-dsep-infra/datahub, pull requests merged in 2023-07, with the labels that each got.

#4703 Bump stat20 to geospatial 4.3.
  deployments/stat20/image/Dockerfile
  deployments/stat20/image/environment.yml
Labels: hub: stat20, dockerfile, configuration, singleuser-image

#4704 Enabling Admin access for PH 142 instructors and TAs
  deployments/publichealth/config/common.yaml
Labels: configuration, hub: publichealth

#4705 [DH-51] reverting any changes to infra-requirements.txt
  deployments/data100-jl4/image/infra-requirements.txt
Labels: configuration, singleuser-image, hub: data100-jl4

#4706 merging 4703/4704/4705 to prod
  deployments/data100-jl4/image/infra-requirements.txt
  deployments/publichealth/config/common.yaml
  deployments/stat20/image/Dockerfile
  deployments/stat20/image/environment.yml
Labels: hub: stat20, dockerfile, configuration, singleuser-image, hub: publichealth, hub: data100-jl4

#4709 Add datascience package in the eecs hub
  deployments/eecs/image/environment.yml
Labels: configuration, singleuser-image, hub: eecs

#4710 [DH-51] bump `seaborn` and `ipywidgets`
  deployments/data100-jl4/image/environment.yml
Labels: configuration, singleuser-image, hub: data100-jl4

#4712 merging 4709/4710 to prod
  deployments/data100-jl4/image/environment.yml
  deployments/eecs/image/environment.yml
Labels: configuration, singleuser-image, hub: eecs, hub: data100-jl4

#4713 Remove unused code that parsed group names.
  hub/values.yaml
Labels: configuration

#4716 Use bcourses groups in stat159 for RTC and hub admins.
  deployments/stat159/config/common.yaml
  deployments/stat159/secrets/prod.yaml
  deployments/stat159/secrets/staging.yaml
Labels: configuration, hub: stat159

#4714 [DH-3] update core node pool specs in the documentation
  docs/admins/howto/core-pool.rst
Labels: documentation

#4722 Merge #4713, #4714, #4716.
  deployments/stat159/config/common.yaml
  deployments/stat159/secrets/prod.yaml
  deployments/stat159/secrets/staging.yaml
  docs/admins/howto/core-pool.rst
  hub/values.yaml
Labels: documentation, configuration, hub: stat159

#4724 Remove unnecessary import.
  hub/values.yaml
Labels: configuration

#4723 [DH-51] adding nbconvert, bumping pytest-notebook
  deployments/data100-jl4/image/environment.yml
Labels: configuration, singleuser-image, hub: data100-jl4

#4726 [DH-51] bump jupyter_server
  deployments/data100-jl4/image/apt.txt
  deployments/data100-jl4/image/environment.yml
Labels: configuration, singleuser-image, hub: data100-jl4

#4727 Bump canvasoauthenticator.
  hub/Chart.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: dockerfile, configuration, hub-images, node-placeholder

#4729 Fix pandoc version
  deployments/data100-jl4/image/environment.yml
Labels: configuration, singleuser-image, hub: data100-jl4

#4730 Use group for admin_users. Load roles for course staff.
  deployments/data100/config/common.yaml
  deployments/data8/config/common.yaml
  deployments/dev-r/config/common.yaml
Labels: configuration, hub: data100, hub: data8, hub: dev-r

#4735 Add some initial documentation on grafana.
  docs/admins/howto/index.rst
  docs/admins/howto/prometheus-grafana.rst
Labels: documentation

#4734 update core-pool docs to specify starting out with 1 node
  docs/admins/howto/core-pool.rst
Labels: documentation

#4736 [DH-3] move first batch of hubs to new `core` pool
  deployments/a11y/config/common.yaml
  deployments/biology/config/common.yaml
  deployments/data102/config/common.yaml
  deployments/dev-r/config/common.yaml
  deployments/logodev/config/common.yaml
Labels: configuration, hub: a11y, hub: data102, hub: biology, hub: logodev, hub: dev-r

#4737 merging 4714/4723/4724/4725/4726/4727/4729/4730/4734/4735/4736 to prod
  deployments/a11y/config/common.yaml
  deployments/biology/config/common.yaml
  deployments/data100-jl4/image/apt.txt
  deployments/data100-jl4/image/environment.yml
  deployments/data100/config/common.yaml
  deployments/data102/config/common.yaml
  deployments/data8/config/common.yaml
  deployments/dev-r/config/common.yaml
  deployments/logodev/config/common.yaml
  deployments/publichealth/image/Dockerfile
  deployments/publichealth/image/environment.yml
  deployments/publichealth/image/install-mambaforge.bash
  deployments/publichealth/image/requirements.txt
  docs/admins/howto/core-pool.rst
  docs/admins/howto/index.rst
  docs/admins/howto/prometheus-grafana.rst
  hub/Chart.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: documentation, bash, dockerfile, configuration, singleuser-image, hub-images, hub: a11y, hub: data102, hub: biology, hub: data100, hub: data8, hub: logodev, hub: publichealth, node-placeholder, hub: data100-jl4, hub: dev-r

#4738 point JL4/data100 hubs to new core pool
  deployments/data100-jl4/config/common.yaml
Labels: configuration, hub: data100-jl4

#4739 merging 4730 to prod
  deployments/data100-jl4/config/common.yaml
Labels: configuration, hub: data100-jl4

#4740 Add roles for course and datahub staff.
  deployments/prob140/config/common.yaml
Labels: configuration, hub: prob140

#4741 Merge #4740.
  deployments/prob140/config/common.yaml
Labels: configuration, hub: prob140

#4742 Add info on creating course staff role.
  docs/admins/howto/course-config.rst
Labels: documentation

#4743 Fix link formatting.
  docs/admins/howto/course-config.rst
Labels: documentation

#4744 [DH-3] next batch of hubs to move
  deployments/astro/config/common.yaml
  deployments/cee/config/common.yaml
  deployments/data100/config/common.yaml
  deployments/data101/config/common.yaml
  deployments/dlab/config/common.yaml
  deployments/eecs/config/common.yaml
  deployments/highschool/config/common.yaml
  deployments/ischool/config/common.yaml
  deployments/shiny/config/common.yaml
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
  deployments/workshop/config/common.yaml
Labels: configuration, hub: astro, hub: shiny, hub: dlab, hub: cee, hub: data100, hub: data101, hub: eecs, hub: ischool, hub: workshop, hub: highschool

#4745 merging 4742/4743/4744 to prod
  deployments/astro/config/common.yaml
  deployments/cee/config/common.yaml
  deployments/data100/config/common.yaml
  deployments/data101/config/common.yaml
  deployments/dlab/config/common.yaml
  deployments/eecs/config/common.yaml
  deployments/highschool/config/common.yaml
  deployments/ischool/config/common.yaml
  deployments/shiny/config/common.yaml
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
  deployments/workshop/config/common.yaml
  docs/admins/howto/course-config.rst
Labels: documentation, configuration, hub: astro, hub: shiny, hub: dlab, hub: cee, hub: data100, hub: data101, hub: eecs, hub: ischool, hub: workshop, hub: highschool

#4746 [DH-51] bump jupyterlab
  deployments/data100-jl4/image/environment.yml
Labels: configuration, singleuser-image, hub: data100-jl4

#4748 data100su23-jl4-admin
  deployments/data100-jl4/config/common.yaml
Labels: configuration, hub: data100-jl4

#4749 normalizing configs for data100 and jl4 deployments
  deployments/data100-jl4/config/common.yaml
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100, hub: data100-jl4

#4753 [DH-51] finally get admin access properly sorted
  deployments/data100-jl4/config/common.yaml
Labels: configuration, hub: data100-jl4

#4754 merging 4753 to prod
  deployments/data100-jl4/config/common.yaml
Labels: configuration, hub: data100-jl4

#4755 memory increase for project A2
  deployments/data100-jl4/config/common.yaml
Labels: configuration, hub: data100-jl4

#4756 merging 4755 to prod
  deployments/data100-jl4/config/common.yaml
Labels: configuration, hub: data100-jl4

#4757 Use ::ta instead of ::tas.
  deployments/data100/config/common.yaml
  deployments/data8/config/common.yaml
  deployments/dev-r/config/common.yaml
  docs/admins/howto/course-config.rst
Labels: documentation, configuration, hub: data100, hub: data8, hub: dev-r

#4758 Merge #4757.
  deployments/data100/config/common.yaml
  deployments/data8/config/common.yaml
  deployments/dev-r/config/common.yaml
  docs/admins/howto/course-config.rst
Labels: documentation, configuration, hub: data100, hub: data8, hub: dev-r

#4759 [DH-3] three more hubs to the new core pool
  deployments/data8/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/publichealth/config/common.yaml
Labels: configuration, hub: datahub, hub: data8, hub: publichealth

#4760 merging 4759 to prod
  deployments/data8/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/publichealth/config/common.yaml
Labels: configuration, hub: datahub, hub: data8, hub: publichealth

#4766 remove grafana-spamming logic bomb from the calendar autoscaler
  images/node-placeholder-scaler/scaler/scaler.py
Labels: python, hub-images, node-placeholder-scaler

#4767 node placeholder chartpress
  hub/Chart.yaml
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: configuration, node-placeholder

#4768 merging 4763/4766/4767 to prod
  hub/Chart.yaml
  hub/values.yaml
  images/node-placeholder-scaler/scaler/calendar.py
  images/node-placeholder-scaler/scaler/scaler.py
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: python, configuration, hub-images, node-placeholder, node-placeholder-scaler

#4770 merging 4769 to prod
  deployments/data100-jl4/image/environment.yml
Labels: configuration, singleuser-image, hub: data100-jl4

#4771 [DH-3] moving final hubs to new core pool
  deployments/julia/config/common.yaml
  deployments/r/config/common.yaml
  deployments/stat159/config/common.yaml
  deployments/stat20/config/common.yaml
Labels: hub: stat20, configuration, hub: stat159, hub: julia, hub: r

#4772 merging 4771 to prod
  deployments/julia/config/common.yaml
  deployments/r/config/common.yaml
  deployments/stat159/config/common.yaml
  deployments/stat20/config/common.yaml
Labels: hub: stat20, configuration, hub: stat159, hub: julia, hub: r

#4777 [data8xv2] JupyterLab 4 and Jupyter Notebook 7
  deployments/data8xv2/config/common.yaml
  deployments/data8xv2/config/prod.yaml
  deployments/data8xv2/config/staging.yaml
  deployments/data8xv2/hubploy.yaml
  deployments/data8xv2/image/apt.txt
  deployments/data8xv2/image/environment.yml
  deployments/data8xv2/image/postBuild
  deployments/data8xv2/image/start
  deployments/data8xv2/secrets/prod.yaml
  deployments/data8xv2/secrets/staging.yaml
Labels: bash, configuration, singleuser-image, hub: data8xv2

#4780 Upgrade JL to 4.0.3 and JN to 7.0 in a11y hub!
  deployments/a11y/image/environment.yml
Labels: configuration, singleuser-image, hub: a11y

#4765 fixing dependabot alerts
  deployments/datahub/images/default/requirements.txt
Labels: configuration, singleuser-image, hub: datahub

#4782 merging 4765/4777/4780 to prod
  deployments/a11y/image/environment.yml
  deployments/data8xv2/config/common.yaml
  deployments/data8xv2/config/prod.yaml
  deployments/data8xv2/config/staging.yaml
  deployments/data8xv2/hubploy.yaml
  deployments/data8xv2/image/apt.txt
  deployments/data8xv2/image/environment.yml
  deployments/data8xv2/image/postBuild
  deployments/data8xv2/image/start
  deployments/data8xv2/secrets/prod.yaml
  deployments/data8xv2/secrets/staging.yaml
  deployments/datahub/images/default/requirements.txt
Labels: bash, configuration, singleuser-image, hub: datahub, hub: a11y, hub: data8xv2

#4783 re-enable julia builds
  .circleci/config.yml
Labels: build-infra

#4784 merging 4783 to prod
  .circleci/config.yml
Labels: build-infra

#4781 [DH-3] Fix julia
  deployments/julia/image/environment.yml
  deployments/julia/image/infra-requirements.txt
  deployments/julia/image/install-julia-packages.jl
  deployments/julia/image/install-julia.bash
Labels: bash, configuration, singleuser-image, hub: julia

#4785 [DH-3] bump julia to jammy
  deployments/julia/image/Dockerfile
Labels: dockerfile, singleuser-image, hub: julia

#4786 merging 4781/4785 to prod
  deployments/julia/image/Dockerfile
  deployments/julia/image/environment.yml
  deployments/julia/image/infra-requirements.txt
  deployments/julia/image/install-julia-packages.jl
  deployments/julia/image/install-julia.bash
Labels: bash, dockerfile, configuration, singleuser-image, hub: julia

#4787 [DH-78] remove pypdf
  deployments/datahub/images/default/requirements.txt
Labels: configuration, singleuser-image, hub: datahub

#4788 merging 4787 to prod
  deployments/datahub/images/default/requirements.txt
Labels: configuration, singleuser-image, hub: datahub

#4789 Update admin template to include info about publishing courses in bcourses
  .github/ISSUE_TEMPLATE/admin_request.yml
Labels: build-infra

#4790 [DH-51] remove `jupyter-collaboration` package until RTC is fixed/needed
  deployments/data100-jl4/image/environment.yml
Labels: configuration, singleuser-image, hub: data100-jl4

#4793 merging 4789/4790 to prod
  .github/ISSUE_TEMPLATE/admin_request.yml
  deployments/data100-jl4/image/environment.yml
Labels: build-infra, configuration, singleuser-image, hub: data100-jl4

#4795 Update delete-hub.rst
  docs/admins/howto/delete-hub.rst
Labels: documentation

#4799 temporarily unblock ci/cd
  .circleci/config.yml
Labels: build-infra

#4804 i really truly hate rst
  docs/admins/howto/new-hub.rst
Labels: documentation

#4801 Update cartopy and matplotlib packages to the latest version in datahub!
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#4803 debump otter
  deployments/data100-jl4/image/environment.yml
Labels: configuration, singleuser-image, hub: data100-jl4

#4805 merging 4795/4798/4799/4801/4802/4803/4804 to prod
  .circleci/config.yml
  deployments/data100-jl4/image/environment.yml
  deployments/datahub/images/default/environment.yml
  docs/admins/howto/delete-hub.rst
  docs/admins/howto/new-hub.rst
Labels: documentation, build-infra, configuration, singleuser-image, hub: datahub, hub: data100-jl4
