Repository berkeley-dsep-infra/datahub, pull requests merged in 2023-06, with the labels that each got.

#4602 update package docs
  docs/admins/howto/new-packages.rst
Labels: documentation

#4603 s/Dockerfile/apt.txt
  docs/admins/howto/new-packages.rst
Labels: documentation

#4604 Bump jupyterhub and nbclassic to fix nbgitpuller.
  deployments/a11y/image/environment.yml
Labels: configuration, singleuser-image, hub: a11y

#4605 Merge #4602, #4603, #4604
  deployments/a11y/image/environment.yml
  docs/admins/howto/new-packages.rst
Labels: documentation, configuration, singleuser-image, hub: a11y

#4606 Upgrade otter to v4.3.2 in Data 8 image
  deployments/data8/image/environment.yml
Labels: configuration, singleuser-image, hub: data8

#4607 Bump workshop hub's RAM to 4G
  deployments/workshop/config/common.yaml
Labels: configuration, hub: workshop

#4608 merging 4606 and 4707 to prod
  deployments/data8/image/environment.yml
  deployments/workshop/config/common.yaml
Labels: configuration, singleuser-image, hub: data8, hub: workshop

#4615 Modify github template for admin request to ask for bcourses id
  .github/ISSUE_TEMPLATE/admin_request.yml
Labels: build-infra

#4617 Removing label attribute from markdown file
  .github/ISSUE_TEMPLATE/admin_request.yml
Labels: build-infra

#4622 jupyterhub-ltiauthenticator bumped to 1.5.1
  deployments/data8xv2/config/common.yaml
  hub/Chart.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: dockerfile, configuration, hub-images, hub: data8xv2

#4623 merging 4614, 4615, 4617, 4618, and 4622 to prod
  .github/ISSUE_TEMPLATE/admin_request.yml
  .github/ISSUE_TEMPLATE/data_archival_request.yml
  deployments/data8xv2/config/common.yaml
  hub/Chart.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: build-infra, dockerfile, configuration, hub-images, hub: data8xv2

#4624 dependabot alert fix
  images/node-placeholder-scaler/requirements.txt
Labels: configuration, hub-images

#4626 [data8xv2] Update otter-grader to 4.1.0
  deployments/data8xv2/image/environment.yml
Labels: configuration, singleuser-image, hub: data8xv2

#4627 merging 4620, 4624, 4626 to prod
  deployments/data8xv2/image/environment.yml
  deployments/datahub/images/default/requirements.txt
  images/node-placeholder-scaler/requirements.txt
Labels: configuration, singleuser-image, hub-images, hub: datahub, hub: data8xv2

#4628 Enable admin access for Data 8 Instructors and TAs in Data 8 Hub
  deployments/data8/config/common.yaml
Labels: configuration, hub: data8

#4631 move groups block to correct place in data8 config
  deployments/data8/config/common.yaml
Labels: configuration, hub: data8

#4634 add some github labels for node placeholders and the scaler
  .github/labeler.yml
Labels: build-infra

#4636 merging 4628/4631/4634/4635 to prod
  .github/labeler.yml
  deployments/data8/config/common.yaml
Labels: build-infra, configuration, hub: data8

#4637 Enable admin for Data 8.
  deployments/data8/config/common.yaml
Labels: configuration, hub: data8

#4638 Merge #4637.
  deployments/data8/config/common.yaml
Labels: configuration, hub: data8

#4639 Copy example from documentation into template.
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
Labels: configuration

#4632 [DH-54] upgrade python on calendar autoscaler to 3.11
  images/node-placeholder-scaler/Dockerfile
  images/node-placeholder-scaler/requirements.txt
Labels: dockerfile, configuration, hub-images, node-placeholder-scaler

#4633 [DH-54] scale down hubs for the summer
  node-placeholder/values.yaml
Labels: configuration, node-placeholder

#4640 update hub and node placeholder scaler images
  hub/Chart.yaml
  hub/values.yaml
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: configuration, node-placeholder

#4641 merging 4632/4633/4639/4640 to prod
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
  hub/Chart.yaml
  hub/values.yaml
  images/node-placeholder-scaler/Dockerfile
  images/node-placeholder-scaler/requirements.txt
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: dockerfile, configuration, hub-images, node-placeholder, node-placeholder-scaler

#4644 Change title of course configuration page.
  docs/admins/howto/course-config.rst
Labels: documentation

#4646 Decrease RAM from 4G to 1G in Workshop Hub
  deployments/workshop/config/common.yaml
Labels: configuration, hub: workshop

#4651 update our calendar scaler docs
  docs/admins/howto/calendar-scaler.rst
Labels: documentation

#4645 [DH-51] initial commit of data100-jl4 hub
  .circleci/config.yml
  .github/labeler.yml
  deployments/data100-jl4/config/common.yaml
  deployments/data100-jl4/config/prod.yaml
  deployments/data100-jl4/config/staging.yaml
  deployments/data100-jl4/hubploy.yaml
  deployments/data100-jl4/image/apt.txt
  deployments/data100-jl4/image/environment.yml
  deployments/data100-jl4/image/infra-requirements.txt
  deployments/data100-jl4/secrets/gcr-key.json
  deployments/data100-jl4/secrets/gke-key.json
  deployments/data100-jl4/secrets/prod.yaml
  deployments/data100-jl4/secrets/staging.yaml
  node-placeholder/values.yaml
Labels: build-infra, configuration, singleuser-image, node-placeholder, hub: data100-jl4

#4653 [DH-51] dask is broken and not needed
  deployments/data100-jl4/image/environment.yml
Labels: configuration, singleuser-image, hub: data100-jl4

#4654 [DH-51] upgrade jupyterhub to latest
  deployments/data100-jl4/image/infra-requirements.txt
Labels: configuration, singleuser-image, hub: data100-jl4

#4657 removed older pinned versions of repo2docker, pin to latest release
  deployments/data100-jl4/image/environment.yml
  deployments/data100/image/environment.yml
  requirements.txt
Labels: configuration, singleuser-image, hub: data100, hub: data100-jl4

#4658 merging 4657 to prod
  deployments/data100-jl4/image/environment.yml
  deployments/data100/image/environment.yml
  requirements.txt
Labels: configuration, singleuser-image, hub: data100, hub: data100-jl4

#4659 fixes dependabot alert #64
  deployments/datahub/images/default/requirements.txt
Labels: configuration, singleuser-image, hub: datahub

#4660 merging 4659 to prod
  deployments/datahub/images/default/requirements.txt
Labels: configuration, singleuser-image, hub: datahub

#4662 Update JN 7.0 to release candidate and Install Jupyter Lab Theme editor in a11y hub
  deployments/a11y/image/environment.yml
Labels: configuration, singleuser-image, hub: a11y

#4665 Removing jupyter themes package with disappointment
  deployments/a11y/image/environment.yml
Labels: configuration, singleuser-image, hub: a11y

#4666 [DH-51] bump notebook to 7b3
  deployments/data100-jl4/image/d100-env.txt
  deployments/data100-jl4/image/environment.yml
Labels: configuration, singleuser-image, hub: data100-jl4

#4668 [DH-51] revert 4666
  deployments/data100-jl4/image/environment.yml
Labels: configuration, singleuser-image, hub: data100-jl4

#4669 Downgrade Lab to 4.0.1
  deployments/a11y/image/environment.yml
Labels: configuration, singleuser-image, hub: a11y

#4672 [DH-51] bump notebook to 7.0.0rc1
  deployments/data100-jl4/image/environment.yml
Labels: configuration, singleuser-image, hub: data100-jl4

#4673 [DH-54] comment out infra-reqs and debump notebook
  deployments/data100-jl4/image/environment.yml
Labels: configuration, singleuser-image, hub: data100-jl4

#4674 Bump Lab to 4.0.2 in a11y hub
  deployments/a11y/image/environment.yml
Labels: configuration, singleuser-image, hub: a11y

#4675 [DH-51] bump notebook to 7.0.0rc1 and hack config to finally make it work
  deployments/data100-jl4/config/common.yaml
  deployments/data100-jl4/image/environment.yml
Labels: configuration, singleuser-image, hub: data100-jl4

#4679 Add group profile for data100 staff.
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#4680 merging 4662/4665/4666/4667/4668/4669/4672/4673/4674/4675/4679 to prod
  deployments/a11y/image/environment.yml
  deployments/data100-jl4/config/common.yaml
  deployments/data100-jl4/image/d100-env.txt
  deployments/data100-jl4/image/environment.yml
  deployments/data100/config/common.yaml
Labels: configuration, singleuser-image, hub: a11y, hub: data100, hub: data100-jl4

#4681 [DH-51] comment out `jupytext` until 1.15.x is released
  deployments/data100-jl4/image/environment.yml
Labels: configuration, singleuser-image, hub: data100-jl4

#4682 merging 4681 to prod
  deployments/data100-jl4/image/environment.yml
Labels: configuration, singleuser-image, hub: data100-jl4

#4684 [DH-51] bump notebook to 7.0.0rc2
  deployments/data100-jl4/image/environment.yml
Labels: configuration, singleuser-image, hub: data100-jl4

#4688 Add temporary development R hub
  .circleci/config.yml
  deployments/dev-r/config/common.yaml
  deployments/dev-r/config/prod.yaml
  deployments/dev-r/config/staging.yaml
  deployments/dev-r/hubploy.yaml
  deployments/dev-r/image/Dockerfile
  deployments/dev-r/image/Rprofile.site
  deployments/dev-r/image/apt.txt
  deployments/dev-r/image/class-libs.R
  deployments/dev-r/image/environment.yml
  deployments/dev-r/image/infra-requirements.txt
  deployments/dev-r/image/install-mambaforge.bash
  deployments/dev-r/image/install.R
  deployments/dev-r/image/rsession.conf
  deployments/dev-r/secrets/gcr-key.json
  deployments/dev-r/secrets/gke-key.json
  deployments/dev-r/secrets/prod.yaml
  deployments/dev-r/secrets/staging.yaml
Labels: build-infra, bash, dockerfile, configuration, singleuser-image, R-code

#4689 Fix dev-r cookiecutter templating issue.
  deployments/dev-r/secrets/prod.yaml
  deployments/dev-r/secrets/staging.yaml
Labels: configuration

#4690 Document replacement of cookiecutter secrets.
  docs/admins/howto/new-hub.rst
Labels: documentation

#4691 adding dev-r to gh labels
  .github/labeler.yml
Labels: build-infra

#4686 Increase Data 100 hub's RAM to 4GB
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#4692 Use `hub_name` rather than `staging`.
  docs/admins/howto/new-hub.rst
Labels: documentation

#4694 Merge #4684, #4686, #4688, #4689, #4690, #4691, #4692.
  .circleci/config.yml
  .github/labeler.yml
  deployments/data100-jl4/image/environment.yml
  deployments/data100/config/common.yaml
  deployments/dev-r/config/common.yaml
  deployments/dev-r/config/prod.yaml
  deployments/dev-r/config/staging.yaml
  deployments/dev-r/hubploy.yaml
  deployments/dev-r/image/Dockerfile
  deployments/dev-r/image/Rprofile.site
  deployments/dev-r/image/apt.txt
  deployments/dev-r/image/class-libs.R
  deployments/dev-r/image/environment.yml
  deployments/dev-r/image/infra-requirements.txt
  deployments/dev-r/image/install-mambaforge.bash
  deployments/dev-r/image/install.R
  deployments/dev-r/image/rsession.conf
  deployments/dev-r/secrets/gcr-key.json
  deployments/dev-r/secrets/gke-key.json
  deployments/dev-r/secrets/prod.yaml
  deployments/dev-r/secrets/staging.yaml
  docs/admins/howto/new-hub.rst
Labels: documentation, build-infra, bash, dockerfile, configuration, singleuser-image, hub: data100, hub: data100-jl4, R-code

#4693 Bump otter grader to v4.3.4 in Data 8 Hub
  deployments/data8/image/environment.yml
Labels: configuration, singleuser-image, hub: data8

#4699 [DH-51] bump and pin the collaboration package
  deployments/data100-jl4/image/environment.yml
Labels: configuration, singleuser-image, hub: data100-jl4

#4700 merging 4693/4699 to prod
  deployments/data100-jl4/image/environment.yml
  deployments/data8/image/environment.yml
Labels: configuration, singleuser-image, hub: data8, hub: data100-jl4
