Repository berkeley-dsep-infra/datahub, pull requests merged in 2023-04, with the labels that each got.

#4515 magically add documentation label to new prs
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: documentation, process, automation, enhancement

#4520 add hub-specific labels to prs that change their config, and build for any changes in `.github` or `.circleci`
  .github/labeler.yml
  docs/admins/howto/new-hub.rst
Labels: documentation, process, automation, enhancement

#4522 quotes are hard
  docs/admins/howto/new-hub.rst
Labels: documentation

#4514 Increase RAM to 8GB for Econ/Demog 175
  deployments/datahub/config/common.yaml
Labels: support

#4529 add section on commenting out github action for pr labeler
  docs/admins/howto/delete-hub.rst
Labels: documentation

#4530 Add gradebook dependencies.
  deployments/shiny/image/r-packages/2023-spring-stat-20.r
Labels: shiny

#4531 [DH-21] adding more labels for code, config and image changes
  .github/labeler.yml
  docs/admins/howto/new-hub.rst
Labels: documentation, automation, enhancement, jira, build-infra

#4535 Upgrade JL 4.0 to latest release candidate version and JN 7.0 to latest beta version in a11y hub
  deployments/a11y/image/environment.yml
Labels: configuration, singleuser-image, hub: a11y

#4536 merging 4529/4530/4531/4535 to prod
  .github/labeler.yml
  deployments/a11y/image/environment.yml
  deployments/shiny/image/r-packages/2023-spring-stat-20.r
  docs/admins/howto/delete-hub.rst
  docs/admins/howto/new-hub.rst
Labels: documentation, shiny, build-infra, a11y
