Repository berkeley-dsep-infra/datahub, pull requests merged in 2023-09, with the labels that each got.

#4986 lab 2 ram increase
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#4987 Merging #4986 to prod
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#4992 Correct and improve group profile docs.
  docs/admins/howto/course-config.rst
Labels: documentation

#4993 Fix hyperlink format.
  docs/admins/howto/course-config.rst
Labels: documentation

#5001 Add admin users for PHW 251 in Public Health Hub!
  deployments/publichealth/config/common.yaml
Labels: configuration, hub: publichealth

#5002 [DH-128] Add loadRoles config for PH 142 and PH 251 in Public Health Hub
  deployments/publichealth/config/common.yaml
Labels: configuration, hub: publichealth

#5003 Increase RAM to 4GB for CE103N in Datahub
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#5005 Increase RAM for Demog 180
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#5006 Merge #4992, #4993, #5001, #5002, #5003, #5005 to prod!
  deployments/datahub/config/common.yaml
  deployments/publichealth/config/common.yaml
  docs/admins/howto/course-config.rst
Labels: documentation, configuration, hub: datahub, hub: publichealth

#5009 Add a11y themes to a11y hub image!
  deployments/a11y/image/environment.yml
Labels: configuration, singleuser-image, hub: a11y

#5020 Add pymysql for ubga88 .
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#4996 adding content group
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#5022 duplicate jupysql entry in data100
  deployments/data100/image/environment.yml
Labels: configuration, singleuser-image, hub: data100

#5029 remove the fetch_course_emails sidecar
  images/fetch-course-emails/Dockerfile
  images/fetch-course-emails/README.md
  images/fetch-course-emails/course-emails.py
  images/fetch-course-emails/requirements.txt
Labels: documentation, python, dockerfile, configuration, hub-images

#5031 merging 4996/5022/5029 to prod
  deployments/data100/config/common.yaml
  deployments/data100/image/environment.yml
  images/fetch-course-emails/Dockerfile
  images/fetch-course-emails/README.md
  images/fetch-course-emails/course-emails.py
  images/fetch-course-emails/requirements.txt
Labels: documentation, python, dockerfile, configuration, singleuser-image, hub-images, hub: data100

#5032 reduce student memory
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#5041 Increase memory allocation to 4GB for Data 102 hub
  deployments/data102/config/common.yaml
Labels: configuration, hub: data102

#5044 Disable logodev image build.
  .circleci/config.yml
Labels: build-infra

#5045 Merge #5032, #5041, #5044.
  .circleci/config.yml
  deployments/data100/config/common.yaml
  deployments/data102/config/common.yaml
Labels: build-infra, configuration, hub: data102, hub: data100

#5043 Bump nodejs to 16.
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#5046 Potentially fix `No module named 'jupyter_server.contents'`.
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#5048 adding musescore and music21 for music 30
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/apt.txt
  deployments/datahub/images/default/environment.yml
Labels: dockerfile, configuration, singleuser-image, hub: datahub

#5049 bump `musescore` to v3 and remove unnecessary comments from datahub's `Dockerfile`
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/apt.txt
Labels: dockerfile, configuration, singleuser-image, hub: datahub

#5052 merging 5043/5046/5048/5049 to prod
  deployments/datahub/images/default/apt.txt
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#5056 some testing for DH-123
  deployments/a11y/image/apt.txt
Labels: configuration, singleuser-image, hub: a11y

#5057 merging 5056 to prod for DH-123 testing
  deployments/a11y/image/apt.txt
Labels: configuration, singleuser-image, hub: a11y

#5054 Isolate data102 hub to have its own image
  .circleci/config.yml
  deployments/data102/config/common.yaml
  deployments/data102/hubploy.yaml
  deployments/data102/image/apt.txt
  deployments/data102/image/environment.yml
  deployments/data102/image/infra-requirements.txt
Labels: build-infra, configuration, singleuser-image, hub: data102

#5058 Merge #5054 to prod
  .circleci/config.yml
  deployments/data102/config/common.yaml
  deployments/data102/hubploy.yaml
  deployments/data102/image/apt.txt
  deployments/data102/image/environment.yml
  deployments/data102/image/infra-requirements.txt
Labels: build-infra, configuration, singleuser-image, hub: data102

#5060 install latest kubespawner on hub image
  hub/Chart.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: dockerfile, configuration, hub-images, node-placeholder-deployment, helm-config, jupyterhub-deployment

#5064 merging 5060 to prod
  hub/Chart.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: dockerfile, configuration, hub-images, node-placeholder-deployment, helm-config, jupyterhub-deployment

#5070 [DH-121] bumping postgresql storage for data101 from 2G to 4G
  deployments/data101/config/common.yaml
Labels: configuration, hub: data101

#5073 [DH-121] Merging #5070 to prod
  deployments/data101/config/common.yaml
Labels: configuration, hub: data101

#5072 Add graphviz package to data 102 image
  deployments/data102/image/environment.yml
Labels: configuration, singleuser-image, hub: data102

#5074 Increase RAM to 3 GB for UGBA88 course
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#5077 Merge #5072, #5074.
  deployments/data102/image/environment.yml
  deployments/datahub/config/common.yaml
Labels: configuration, singleuser-image, hub: datahub, hub: data102

#5076 Update delete-unused-users.py
  scripts/delete-unused-users.py
Labels: python

#5079 removing emacs with Shane providing supervision
  deployments/a11y/image/apt.txt
Labels: configuration, singleuser-image, hub: a11y

#5078 de-opacify the logic behind how we choose to delete users from a hub db
  scripts/delete-unused-users.py
Labels: python

#5080 merging 5076/5078/5079 to prod
  deployments/a11y/image/apt.txt
  scripts/delete-unused-users.py
Labels: python, configuration, singleuser-image, hub: a11y

#5082 Add python-graphviz to Data 102 image
  deployments/data102/image/environment.yml
Labels: configuration, singleuser-image, hub: data102

#5083 [DH-123] remove the pinned version of `kubespawner`
  hub/Chart.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
Labels: dockerfile, configuration, hub-images, node-placeholder-deployment, helm-config, jupyterhub-deployment

#5086 install bambi for data102
  deployments/data102/image/environment.yml
Labels: configuration, singleuser-image, hub: data102

#5084 additional geospatial R packages
  deployments/datahub/images/default/apt.txt
Labels: configuration, singleuser-image, hub: datahub

#5087 merging 5082/5083/5084/5086 to prod
  deployments/data102/image/environment.yml
  deployments/datahub/images/default/apt.txt
  hub/Chart.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
Labels: dockerfile, configuration, singleuser-image, hub-images, hub: datahub, hub: data102, node-placeholder-deployment, helm-config, jupyterhub-deployment

#5088 Enable named servers on dev-r.
  deployments/dev-r/config/common.yaml
Labels: configuration, hub: dev-r

#5089 Create a per-course profile.
  deployments/dev-r/config/common.yaml
Labels: configuration, hub: dev-r

#5090 Merge #5088, #5089.
  deployments/dev-r/config/common.yaml
Labels: configuration, hub: dev-r
