Repository berkeley-dsep-infra/datahub, pull requests merged in 2023-10, with the labels that each got.

#5097 Delete old dev-r image/ directory.
  deployments/dev-r/image/Dockerfile
  deployments/dev-r/image/Rprofile.site
  deployments/dev-r/image/apt.txt
  deployments/dev-r/image/class-libs.R
  deployments/dev-r/image/environment.yml
  deployments/dev-r/image/infra-requirements.txt
  deployments/dev-r/image/install-mambaforge.bash
  deployments/dev-r/image/install.R
  deployments/dev-r/image/rsession.conf
Labels: bash, dockerfile, configuration, singleuser-image, R-code, hub: dev-r

#5098 Install infra-requirements.txt in images subdirs.
  deployments/dev-r/images/secondary/Dockerfile-
  scripts/infra-packages/sync.bash
Labels: bash, singleuser-image, hub: dev-r

#5093 [DH-145] fix pagination, basically a complete rewrite
  docs/admins/howto/remove-users-orm.rst
  scripts/delete-unused-users.py
Labels: documentation, python

#5100 remove an old commented out line
  scripts/delete-unused-users.py
Labels: python

#5101 [DH-130] bump data101 memory
  deployments/data101/config/common.yaml
Labels: configuration, hub: data101

#5102 [DH-130] increasing data101 again from 4G to 5G per user to more lo…
  deployments/data101/config/common.yaml
Labels: configuration, hub: data101

#5103 merging 5093/5097/5098/5100/5101/5102 to prod
  deployments/data101/config/common.yaml
  deployments/dev-r/image/Dockerfile
  deployments/dev-r/image/Rprofile.site
  deployments/dev-r/image/apt.txt
  deployments/dev-r/image/class-libs.R
  deployments/dev-r/image/environment.yml
  deployments/dev-r/image/infra-requirements.txt
  deployments/dev-r/image/install-mambaforge.bash
  deployments/dev-r/image/install.R
  deployments/dev-r/image/rsession.conf
  deployments/dev-r/images/secondary/Dockerfile-
  docs/admins/howto/remove-users-orm.rst
  scripts/delete-unused-users.py
  scripts/infra-packages/sync.bash
Labels: documentation, python, bash, dockerfile, configuration, singleuser-image, hub: data101, R-code, hub: dev-r

#5106 Add jupyterlab-myst.
  deployments/dev-r/images/secondary/environment.yml
Labels: configuration, singleuser-image, hub: dev-r

#5107 Bump secondary image tag.
  deployments/dev-r/config/common.yaml
Labels: configuration, hub: dev-r

#5108 Add xgboost and randomforest to R hub image
  deployments/datahub/images/default/r-packages/2023-fall-mba-247.r
Labels: singleuser-image, hub: datahub, R-code

#5104 add argument for inactive_since to specify other timedeltas
  scripts/delete-unused-users.py
Labels: python, hacktoberfest-accepted

#5109 add nbconvert[webpdf] library
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#5111 removing nb2pdf
  deployments/datahub/images/default/environment.yml
  deployments/datahub/images/default/requirements.txt
Labels: configuration, singleuser-image, hub: datahub

#5113 add chromium browser for playwright
  deployments/datahub/images/default/Dockerfile
Labels: dockerfile, singleuser-image, hub: datahub

#5114 merging 5104/5106/5107/5108/5109/5111/5113 to prod
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/environment.yml
  deployments/datahub/images/default/r-packages/2023-fall-mba-247.r
  deployments/datahub/images/default/requirements.txt
  deployments/dev-r/config/common.yaml
  deployments/dev-r/images/secondary/environment.yml
  scripts/delete-unused-users.py
Labels: python, dockerfile, configuration, singleuser-image, hub: datahub, R-code, hub: dev-r

#5120 [DH-66] move python popcon from infra-reqs to environment.yaml
  deployments/data100/image/environment.yml
  deployments/data101/image/environment.yml
  deployments/data102/image/environment.yml
Labels: configuration, singleuser-image, hub: data102, hub: data100, hub: data101

#5121 merging 5120 to prod
  deployments/data100/image/environment.yml
  deployments/data101/image/environment.yml
  deployments/data102/image/environment.yml
Labels: configuration, singleuser-image, hub: data102, hub: data100, hub: data101

#5118 Pull {infra-,}requirements into environment.yml.
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/environment.yml
  deployments/datahub/images/default/requirements.txt.disabled
Labels: dockerfile, configuration, singleuser-image, hub: datahub

#5123 lower data101 user ram
  deployments/data101/config/common.yaml
Labels: configuration, hub: data101

#5127 [DH-155] move cee and astro to `small-courses-filestore`
  deployments/astro/config/common.yaml
  deployments/cee/config/common.yaml
Labels: configuration, hub: astro, hub: cee

#5126 Revert Data 102 Hub RAM to 2GB limit state
  deployments/data102/config/common.yaml
Labels: configuration, hub: data102

#5128 merging 5118/5123/5126/5127 to prod
  deployments/astro/config/common.yaml
  deployments/cee/config/common.yaml
  deployments/data101/config/common.yaml
  deployments/data102/config/common.yaml
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/environment.yml
  deployments/datahub/images/default/requirements.txt.disabled
Labels: dockerfile, configuration, singleuser-image, hub: astro, hub: datahub, hub: data102, hub: cee, hub: data101

#5131 adding pytorch for data102
  deployments/data102/image/environment.yml
Labels: configuration, singleuser-image, hub: data102

#5132 merging 5131 to prod
  deployments/data102/image/environment.yml
Labels: configuration, singleuser-image, hub: data102

#5133 [DH-157] set ram min/max to 1/1G
  deployments/data8/config/common.yaml
Labels: configuration, hub: data8

#5134 merging 5133 to prod
  deployments/data8/config/common.yaml
Labels: configuration, hub: data8

#5136 ipyleaflet 0.17.4 for data88 e
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#5137 Add bug template for performance issues
  .github/ISSUE_TEMPLATE/performance_issue.yml
Labels: issue-templates

#5138 Change the title name for the template
  .github/ISSUE_TEMPLATE/performance_issue.yml
Labels: issue-templates

#5139 Removing team updates from the template repository
  .github/ISSUE_TEMPLATE/teamreport.md
Labels: issue-templates

#5140 more housekeeping for github templates
  .github/ISSUE_TEMPLATE/admin_request.yml
  .github/ISSUE_TEMPLATE/resourcescheduler.yml
Labels: issue-templates

#5142 merging 5136/5137/5138/5139/5140 to prod
  .github/ISSUE_TEMPLATE/admin_request.yml
  .github/ISSUE_TEMPLATE/performance_issue.yml
  .github/ISSUE_TEMPLATE/resourcescheduler.yml
  .github/ISSUE_TEMPLATE/teamreport.md
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub, issue-templates

#5112 [DH-84] change ip to point at small-courses-filestore
  deployments/stat159/config/common.yaml
Labels: configuration, hub: stat159

#5144 memory increase (project A2)
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#5147 merging 5144/5112 to prod
  deployments/data100/config/common.yaml
  deployments/stat159/config/common.yaml
Labels: configuration, hub: stat159, hub: data100

#5148 update the docs
  docs/admins/cluster-config.rst
  docs/admins/howto/core-pool.rst
  docs/admins/howto/new-hub.rst
Labels: documentation

#5155 Increase RAM for music30 course in Datahub
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#5157 merging 5148/5155 to prod
  deployments/datahub/config/common.yaml
  docs/admins/cluster-config.rst
  docs/admins/howto/core-pool.rst
  docs/admins/howto/new-hub.rst
Labels: documentation, configuration, hub: datahub

#5164 fix dependabot alert
  images/node-placeholder-scaler/requirements.in
  images/node-placeholder-scaler/requirements.txt
Labels: configuration, hub-images, node-placeholder-scaler

#5165 [DH-160] install mongosh
  deployments/data101/image/postBuild
Labels: bash, singleuser-image, hub: data101

#5166 merging 5162/5164/5165 to prod
  deployments/data101/image/postBuild
  deployments/datahub/config/common.yaml
  images/node-placeholder-scaler/requirements.in
  images/node-placeholder-scaler/requirements.txt
Labels: bash, configuration, singleuser-image, hub-images, hub: datahub, hub: data101, node-placeholder-scaler

#5174 [DH-163] fix julia image build
  deployments/julia/image/Dockerfile
  deployments/julia/image/environment.yml
  deployments/julia/image/install-mambaforge.bash
Labels: bash, dockerfile, configuration, singleuser-image, hub: julia

#5176 [DH-163] bump notebook
  deployments/julia/image/environment.yml
Labels: configuration, singleuser-image, hub: julia

#5178 [DH-163] debump traitlets
  deployments/julia/image/environment.yml
Labels: configuration, singleuser-image, hub: julia

#5177 Install pa11y-cli in a11y hub image
  deployments/a11y/image/postBuild
Labels: bash, singleuser-image, hub: a11y

#5180 [DH-165] install mongo tools for data101
  deployments/data101/image/environment.yml
  deployments/data101/image/postBuild
Labels: bash, configuration, singleuser-image, hub: data101
