Repository berkeley-dsep-infra/datahub, pull requests merged in 2023-05, with the labels that each got.

#4538 more dependabot alerts
  deployments/datahub/images/default/requirements.txt
Labels: configuration, singleuser-image, hub: datahub

#4540 remove yuvi from cookiecutter config
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
Labels: configuration

#4541 update moar docs with the dev workflow
  README.md
Labels: documentation, configuration

#4544 Fix readthedocs project site.
  docs/admins/structure.rst
Labels: documentation, configuration

#4548 Add Jupyterthemes package to a11y hub image
  deployments/a11y/image/environment.yml
Labels: configuration, singleuser-image, hub: a11y

#4549 explicitly ignore markdown for the configuration label
  .github/labeler.yml
Labels: build-infra, configuration

#4551 remove explicit neg on txt for configs
  .github/labeler.yml
Labels: documentation, build-infra, configuration

#4552 add `pyopenssl` which supports OpenSSL 1.1.1
  docs/requirements.txt
Labels: documentation, configuration

#4556 [DH-35] unpin pyopenssl and add .readthedocs.yaml
  docs/.readthedocs.yaml
  docs/requirements.txt
Labels: documentation, configuration

#4561 [dh-21] finally fix labels
  .github/labeler.yml
Labels: build-infra, configuration

#4563 fix my label fix
  .github/labeler.yml
Labels: build-infra

#4546 merging 4532/4538/4540/4541/4544/4548/4549/4551/4552/4556/4561/4563 to prod
  .github/labeler.yml
  README.md
  deployments/a11y/image/environment.yml
  deployments/astro/image/environment.yml
  deployments/datahub/images/default/requirements.txt
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
  docs/.readthedocs.yaml
  docs/admins/structure.rst
  images/fetch-course-emails/requirements.txt
  images/node-placeholder-scaler/requirements.in
  images/node-placeholder-scaler/requirements.txt
Labels: documentation, build-infra, configuration, singleuser-image, hub-images, hub: astro, hub: datahub, hub: a11y

#4571 Simplify resource overrides.
  docs/admins/howto/course-config.rst
  hub/values.yaml
Labels: documentation, configuration

#4572 Update admin list following Spring 2023.
  deployments/a11y/config/common.yaml
  deployments/astro/config/common.yaml
  deployments/biology/config/common.yaml
  deployments/cee/config/common.yaml
  deployments/data100/config/common.yaml
  deployments/data100/secrets/prod.yaml
  deployments/data101/config/common.yaml
  deployments/data102/config/common.yaml
  deployments/data8/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/datahub/secrets/prod.yaml
  deployments/datahub/secrets/staging.yaml
  deployments/dlab/config/common.yaml
  deployments/eecs/config/common.yaml
  deployments/ischool/config/common.yaml
  deployments/julia/config/common.yaml
  deployments/logodev/config/common.yaml
  deployments/prob140/config/common.yaml
  deployments/publichealth/config/common.yaml
  deployments/r/config/common.yaml
  deployments/shiny/config/common.yaml
  deployments/stat159/config/common.yaml
  deployments/stat20/config/common.yaml
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
  docs/admins/howto/course-config.rst
Labels: documentation, hub: stat20, configuration, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: dlab, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: logodev, hub: prob140, hub: publichealth, hub: r

#4574 Remove RAM increase related config changes for Data 200 course in Data 100 hub
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#4576 Merge #4571, #4572, #4574.
  deployments/a11y/config/common.yaml
  deployments/astro/config/common.yaml
  deployments/biology/config/common.yaml
  deployments/cee/config/common.yaml
  deployments/data100/config/common.yaml
  deployments/data100/secrets/prod.yaml
  deployments/data101/config/common.yaml
  deployments/data102/config/common.yaml
  deployments/data8/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/datahub/secrets/prod.yaml
  deployments/datahub/secrets/staging.yaml
  deployments/dlab/config/common.yaml
  deployments/eecs/config/common.yaml
  deployments/ischool/config/common.yaml
  deployments/julia/config/common.yaml
  deployments/logodev/config/common.yaml
  deployments/prob140/config/common.yaml
  deployments/publichealth/config/common.yaml
  deployments/r/config/common.yaml
  deployments/shiny/config/common.yaml
  deployments/stat159/config/common.yaml
  deployments/stat20/config/common.yaml
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
  docs/admins/howto/course-config.rst
  hub/values.yaml
Labels: documentation, hub: stat20, configuration, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: dlab, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: logodev, hub: prob140, hub: publichealth, hub: r

#4578 Remove python-mode from a11y.
  deployments/a11y/image/apt.txt
Labels: documentation, configuration, singleuser-image, hub: a11y

#4581 Version unversioned packages in the CEE image
  deployments/cee/image/environment.yml
Labels: configuration, singleuser-image, hub: cee

#4582 Change workshop hub password as per the request of Demog department
  deployments/workshop/secrets/prod.yaml
  deployments/workshop/secrets/staging.yaml
Labels: documentation, configuration, hub: workshop

#4583 comment out documentation label until we know wtf is making this match everything
  .github/labeler.yml
Labels: build-infra

#4585 Revert password change for workshop hub
  deployments/workshop/secrets/prod.yaml
  deployments/workshop/secrets/staging.yaml
Labels: configuration, hub: workshop

#4584 moving a11y to jammy
  .circleci/config.yml
  deployments/a11y/hubploy.yaml
  deployments/a11y/image/environment.yml
  requirements.txt
Labels: build-infra, configuration, singleuser-image, hub: a11y

#4586 bump build image
  .circleci/config.yml
Labels: build-infra

#4587 upgrading data100, eecs, stat159 to jammy
  deployments/data100/hubploy.yaml
  deployments/data100/image/apt.txt
  deployments/eecs/hubploy.yaml
  deployments/eecs/image/apt.txt
  deployments/stat159/hubploy.yaml
  deployments/stat159/image/apt.txt
Labels: configuration, singleuser-image, hub: stat159, hub: data100, hub: eecs

#4592 fix labels for docs
  .github/labeler.yml
Labels: build-infra

#4594 Upgrade Jupyter Lab to 4.0.0 and Notebook 7 to 7.0.0b2 in a11y hub
  deployments/a11y/image/environment.yml
Labels: configuration, singleuser-image, hub: a11y

#4596 Upgrade Jupyter Notebook 7 to version 7.0.0b3 in a11y hub!
  deployments/a11y/image/environment.yml
Labels: configuration, singleuser-image, hub: a11y

#4598 merge 4592/4594/4596 to prod
  .github/labeler.yml
  deployments/a11y/image/environment.yml
Labels: build-infra, configuration, singleuser-image, hub: a11y
