Repository berkeley-dsep-infra/datahub, pull requests merged in 2023-11, with the labels that each got.

#5183 merging 5177/5180 to prod
  deployments/a11y/image/postBuild
  deployments/data101/image/environment.yml
  deployments/data101/image/postBuild
Labels: bash, configuration, singleuser-image, hub: a11y, hub: data101

#5170 [DH-66] move conda and R install locations, fix popcon deployment path, install temp version of popcon
  deployments/a11y/image/environment.yml
  deployments/a11y/image/infra-requirements.txt
  deployments/astro/image/environment.yml
  deployments/biology/image/Dockerfile
  deployments/biology/image/environment.yml
  deployments/biology/image/infra-requirements.txt
  deployments/cee/image/infra-requirements.txt
  deployments/data100/image/environment.yml
  deployments/data100/image/infra-requirements.txt
  deployments/data101/image/environment.yml
  deployments/data101/image/infra-requirements.txt
  deployments/data102/image/environment.yml
  deployments/data102/image/infra-requirements.txt
  deployments/data8/image/Dockerfile
  deployments/data8/image/environment.yml
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/infra-requirements.txt
  deployments/dev-r/images/default/Dockerfile
  deployments/dev-r/images/default/environment.yml
  deployments/dev-r/images/default/infra-requirements.txt
  deployments/dev-r/images/secondary/environment.yml
  deployments/dev-r/images/secondary/infra-requirements.txt
  deployments/eecs/image/infra-requirements.txt
  deployments/ischool/image/infra-requirements.txt
  deployments/publichealth/image/infra-requirements.txt
  deployments/shiny/image/infra-requirements.txt
  deployments/stat159/image/infra-requirements.txt
  deployments/stat20/image/infra-requirements.txt
  hub/Chart.yaml
  hub/values.yaml
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
  scripts/infra-packages/requirements.txt
Labels: hub: stat20, dockerfile, configuration, singleuser-image, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: publichealth, node-placeholder-deployment, hub: dev-r, helm-config, jupyterhub-deployment

#5184 [DH-66] try and fix astro
  deployments/astro/image/environment.yml
Labels: configuration, singleuser-image, hub: astro

#5185 [DH-66] fixing traitlets/notebook issue
  deployments/ischool/image/environment.yml
  deployments/publichealth/image/environment.yml
  deployments/shiny/image/requirements.txt
  deployments/stat20/image/environment.yml
Labels: hub: stat20, configuration, singleuser-image, hub: shiny, hub: ischool, hub: publichealth

#5186 [DH-66] publichealth is still sad
  deployments/publichealth/image/environment.yml
Labels: configuration, singleuser-image, hub: publichealth

#5187 [DH-66] duplicate install of `jupyter-rsession-proxy` might be breaking things
  deployments/publichealth/image/Dockerfile
  deployments/publichealth/image/infra-requirements.txt
Labels: dockerfile, configuration, singleuser-image, hub: publichealth

#5188 Update syncthing to the latest stable version in Ischool hub image
  deployments/ischool/image/environment.yml
Labels: configuration, singleuser-image, hub: ischool

#5189 [DH66] revert popcon, move conda install to env.yml
  deployments/publichealth/image/Dockerfile
  deployments/publichealth/image/environment.yml
  deployments/publichealth/image/infra-requirements.txt
Labels: dockerfile, configuration, singleuser-image, hub: publichealth

#5190 [DH-66] fix publichealth build config
  deployments/publichealth/image/Dockerfile
  deployments/publichealth/image/environment.yml
Labels: dockerfile, configuration, singleuser-image, hub: publichealth

#5192 merging 5170/5184/5185/5186/5187/5188/5189/5190 to prod
  deployments/a11y/image/environment.yml
  deployments/a11y/image/infra-requirements.txt
  deployments/astro/image/environment.yml
  deployments/biology/image/Dockerfile
  deployments/biology/image/environment.yml
  deployments/biology/image/infra-requirements.txt
  deployments/cee/image/infra-requirements.txt
  deployments/data100/image/environment.yml
  deployments/data100/image/infra-requirements.txt
  deployments/data101/image/environment.yml
  deployments/data101/image/infra-requirements.txt
  deployments/data102/image/environment.yml
  deployments/data102/image/infra-requirements.txt
  deployments/data8/image/Dockerfile
  deployments/data8/image/environment.yml
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/infra-requirements.txt
  deployments/dev-r/images/default/Dockerfile
  deployments/dev-r/images/default/environment.yml
  deployments/dev-r/images/default/infra-requirements.txt
  deployments/dev-r/images/secondary/environment.yml
  deployments/dev-r/images/secondary/infra-requirements.txt
  deployments/eecs/image/infra-requirements.txt
  deployments/ischool/image/environment.yml
  deployments/ischool/image/infra-requirements.txt
  deployments/publichealth/image/Dockerfile
  deployments/publichealth/image/environment.yml
  deployments/publichealth/image/infra-requirements.txt
  deployments/shiny/image/infra-requirements.txt
  deployments/shiny/image/requirements.txt
  deployments/stat159/image/infra-requirements.txt
  deployments/stat20/image/environment.yml
  deployments/stat20/image/infra-requirements.txt
  hub/Chart.yaml
  hub/values.yaml
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
  scripts/infra-packages/requirements.txt
Labels: hub: stat20, dockerfile, configuration, singleuser-image, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: publichealth, node-placeholder-deployment, hub: dev-r, helm-config, jupyterhub-deployment

#5197 [DH-66] normalize popcon installation to the latest version on my fork
  deployments/a11y/image/environment.yml
  deployments/a11y/image/infra-requirements.txt
  deployments/astro/image/infra-requirements.txt
  deployments/biology/image/infra-requirements.txt
  deployments/cee/image/infra-requirements.txt
  deployments/data100/image/environment.yml
  deployments/data100/image/infra-requirements.txt
  deployments/data101/image/environment.yml
  deployments/data101/image/infra-requirements.txt
  deployments/data102/image/environment.yml
  deployments/data102/image/infra-requirements.txt
  deployments/data8/image/infra-requirements.txt
  deployments/datahub/images/default/infra-requirements.txt
  deployments/dev-r/images/default/infra-requirements.txt
  deployments/dev-r/images/secondary/infra-requirements.txt
  deployments/eecs/image/infra-requirements.txt
  deployments/ischool/image/infra-requirements.txt
  deployments/julia/image/infra-requirements.txt
  deployments/publichealth/image/environment.yml
  deployments/publichealth/image/infra-requirements.txt
  deployments/shiny/image/infra-requirements.txt
  deployments/stat159/image/environment.yml
  deployments/stat159/image/infra-requirements.txt
  deployments/stat20/image/infra-requirements.txt
  scripts/infra-packages/requirements.txt
Labels: hub: stat20, configuration, singleuser-image, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: publichealth, hub: dev-r

#5200 merging 5197 to prod
  deployments/a11y/image/environment.yml
  deployments/a11y/image/infra-requirements.txt
  deployments/astro/image/infra-requirements.txt
  deployments/biology/image/infra-requirements.txt
  deployments/cee/image/infra-requirements.txt
  deployments/data100/image/environment.yml
  deployments/data100/image/infra-requirements.txt
  deployments/data101/image/environment.yml
  deployments/data101/image/infra-requirements.txt
  deployments/data102/image/environment.yml
  deployments/data102/image/infra-requirements.txt
  deployments/data8/image/infra-requirements.txt
  deployments/datahub/images/default/infra-requirements.txt
  deployments/dev-r/images/default/infra-requirements.txt
  deployments/dev-r/images/secondary/infra-requirements.txt
  deployments/eecs/image/infra-requirements.txt
  deployments/ischool/image/infra-requirements.txt
  deployments/julia/image/infra-requirements.txt
  deployments/publichealth/image/environment.yml
  deployments/publichealth/image/infra-requirements.txt
  deployments/shiny/image/infra-requirements.txt
  deployments/stat159/image/environment.yml
  deployments/stat159/image/infra-requirements.txt
  deployments/stat20/image/infra-requirements.txt
  scripts/infra-packages/requirements.txt
Labels: hub: stat20, configuration, singleuser-image, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: publichealth, hub: dev-r

#5193 [DH-166] bump mambaforge
  deployments/data8/image/install-mambaforge.bash
  deployments/datahub/images/default/install-mambaforge.bash
  deployments/ischool/image/install-mambaforge.bash
  deployments/shiny/image/install-mambaforge.bash
Labels: bash, singleuser-image, hub: datahub, hub: shiny, hub: data8, hub: ischool

#5202 bump circleci build timeout w/a silly band-aid
  .circleci/config.yml
Labels: build-infra

#5201 DH-164
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/apt.txt
  deployments/datahub/images/default/environment.yml
Labels: dockerfile, configuration, singleuser-image, hub: datahub

#5204 DH-175 bump ci python to 3.9
  .circleci/config.yml
Labels: build-infra

#5208 [DH-175] change python cache names
  .circleci/config.yml
Labels: build-infra

#5210 merging 5193/5201/5202/5203/5204/5208 to prod
  .circleci/config.yml
  deployments/biology/image/Dockerfile
  deployments/biology/image/environment.yml
  deployments/biology/image/install-mambaforge.bash
  deployments/data8/image/install-mambaforge.bash
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/apt.txt
  deployments/datahub/images/default/environment.yml
  deployments/datahub/images/default/install-mambaforge.bash
  deployments/ischool/image/install-mambaforge.bash
  deployments/shiny/image/install-mambaforge.bash
Labels: build-infra, bash, dockerfile, configuration, singleuser-image, hub: datahub, hub: shiny, hub: biology, hub: data8, hub: ischool

#5211 [DH-97] adding new packages to julia for SP24
  deployments/julia/image/install-julia-packages.jl
Labels: singleuser-image, hub: julia

#5212 [DH-177] bump scipy to make error go away
  deployments/data8/image/environment.yml
Labels: configuration, singleuser-image, hub: data8

#5213 merge 5211/5212 to prod
  deployments/data8/image/environment.yml
  deployments/julia/image/install-julia-packages.jl
Labels: configuration, singleuser-image, hub: data8, hub: julia

#5214 DH-164 removing QtPDF and PDFExporter
  deployments/datahub/config/common.yaml
  deployments/datahub/images/default/apt.txt
Labels: configuration, singleuser-image, hub: datahub

#5215 Merging #5214 to prod
  deployments/datahub/config/common.yaml
  deployments/datahub/images/default/apt.txt
Labels: configuration, singleuser-image, hub: datahub

#5216 reduce RAM limit (project A2)
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#5220 Merge #5216 to prod
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#5219 [DH-178] remove some python packages from bio and timing for R installation
  deployments/biology/image/Dockerfile
  deployments/biology/image/environment.yml
Labels: dockerfile, configuration, singleuser-image, hub: biology

#5224 [DH-53] add edx github label
  .github/labeler.yml
Labels: build-infra

#5223 [DH-66] rebuild all single user server images w/updated popcon
  deployments/a11y/image/apt.txt
  deployments/astro/image/apt.txt
  deployments/biology/image/Dockerfile
  deployments/cee/image/apt.txt
  deployments/data100/image/apt.txt
  deployments/data101/image/apt.txt
  deployments/data102/image/apt.txt
  deployments/data8/image/Dockerfile
  deployments/datahub/images/default/apt.txt
  deployments/dev-r/images/default/apt.txt
  deployments/dev-r/images/secondary/apt.txt
  deployments/eecs/image/apt.txt
  deployments/ischool/image/Dockerfile
  deployments/julia/image/Dockerfile
  deployments/publichealth/image/Dockerfile
  deployments/shiny/image/Dockerfile
  deployments/stat159/image/apt.txt
  deployments/stat20/image/Dockerfile
Labels: hub: stat20, dockerfile, configuration, singleuser-image, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: publichealth, hub: dev-r

#5226 alphabetize builds in circleci
  .circleci/config.yml
Labels: build-infra

#5225 merging 5219/5223/5224/5226 to prod
  .circleci/config.yml
  .github/labeler.yml
  deployments/a11y/image/apt.txt
  deployments/astro/image/apt.txt
  deployments/biology/image/Dockerfile
  deployments/biology/image/environment.yml
  deployments/cee/image/apt.txt
  deployments/data100/image/apt.txt
  deployments/data101/image/apt.txt
  deployments/data102/image/apt.txt
  deployments/data8/image/Dockerfile
  deployments/datahub/images/default/apt.txt
  deployments/dev-r/images/default/apt.txt
  deployments/dev-r/images/secondary/apt.txt
  deployments/eecs/image/apt.txt
  deployments/ischool/image/Dockerfile
  deployments/julia/image/Dockerfile
  deployments/publichealth/image/Dockerfile
  deployments/shiny/image/Dockerfile
  deployments/stat159/image/apt.txt
  deployments/stat20/image/Dockerfile
Labels: build-infra, hub: stat20, dockerfile, configuration, singleuser-image, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: publichealth, hub: dev-r

#5228 Add a11y tools to a11y hub image
  deployments/a11y/image/apt.txt
  deployments/a11y/image/postBuild
Labels: bash, configuration, singleuser-image, hub: a11y

#5229 merging 5228 to prod
  deployments/a11y/image/apt.txt
  deployments/a11y/image/postBuild
Labels: bash, configuration, singleuser-image, hub: a11y

#5231 [DH-134] Add more fields to performance issue template
  .github/ISSUE_TEMPLATE/performance_issue.yml
Labels: issue-templates

#5238 [DH-182] critical security update for ray
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub, dependabot

#5245 [DH-183] bump julia
  deployments/julia/image/install-julia.bash
Labels: bash, singleuser-image, hub: julia

#5244 adding package (mlxtend)
  deployments/data100/image/environment.yml
Labels: configuration, singleuser-image, hub: data100

#5247 merging 5231/5238/5244/5245 to prod
  .github/ISSUE_TEMPLATE/performance_issue.yml
  deployments/data100/image/environment.yml
  deployments/datahub/images/default/environment.yml
  deployments/julia/image/install-julia.bash
Labels: bash, configuration, singleuser-image, hub: datahub, hub: data100, hub: julia, issue-templates
