Repository berkeley-dsep-infra/datahub, pull requests merged in 2024-10, with the labels that each got.

#6314 Debump Data 100 RAM and CPU
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#6315 merging 6314 to prod
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#6318 removing logodev image config from datahub repo
  deployments/logodev/image/apt.txt
  deployments/logodev/image/environment.yml
  deployments/logodev/image/infra-requirements.txt
  deployments/logodev/image/postBuild
Labels: bash, configuration, singleuser-image, hub: logodev

#6320 Add naming convention for shared directories
  .github/ISSUE_TEMPLATE/shared_directories.yml
Labels: issue-templates

#6319 Add operations cheatsheet.
  docs/_quarto.yml
  docs/admins/howto/cheatsheet.qmd
Labels: documentation, configuration

#6317 Enable shared directories for data100 based on bcourses id
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#6322 Merge 6317, 6318, 6319 and 6320 to prod
  .github/ISSUE_TEMPLATE/shared_directories.yml
  deployments/data100/config/common.yaml
  deployments/logodev/image/apt.txt
  deployments/logodev/image/environment.yml
  deployments/logodev/image/infra-requirements.txt
  deployments/logodev/image/postBuild
  docs/_quarto.yml
  docs/admins/howto/cheatsheet.qmd
Labels: documentation, bash, configuration, singleuser-image, hub: data100, hub: logodev, issue-templates

#6324 update nature image tag to 954910cf20a7: deployments/nature/hubploy.yaml
  deployments/nature/hubploy.yaml
Labels: configuration, hub: nature

#6326 [DH-301] Remove outdated/unused gcr key
  deployments/a11y/secrets/gcr-key.json
  deployments/astro/secrets/gcr-key.json
  deployments/biology/secrets/gcr-key.json
  deployments/cee/secrets/gcr-key.json
  deployments/data100/secrets/gcr-key.json
  deployments/data101/secrets/gcr-key.json
  deployments/data102/secrets/gcr-key.json
  deployments/data8/secrets/gcr-key.json
  deployments/datahub/secrets/gcr-key.json
  deployments/dev/secrets/gcr-key.json
  deployments/dlab/secrets/gcr-key.json
  deployments/eecs/secrets/gcr-key.json
  deployments/gradebook/secrets/gcr-key.json
  deployments/highschool/secrets/gcr-key.json
  deployments/ischool/secrets/gcr-key.json
  deployments/julia/secrets/gcr-key.json
  deployments/logodev/secrets/gcr-key.json
  deployments/nature/secrets/gcr-key.json
  deployments/prob140/secrets/gcr-key.json
  deployments/publichealth/secrets/gcr-key.json
  deployments/r/secrets/gcr-key.json
  deployments/shiny/secrets/gcr-key.json
  deployments/stat159/secrets/gcr-key.json
  deployments/stat20/secrets/gcr-key.json
  deployments/ugr01/secrets/gcr-key.json
  deployments/workshop/secrets/gcr-key.json
  docs/admins/howto/new-hub.qmd
Labels: documentation, hub: stat20, configuration, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: dlab, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: logodev, hub: prob140, hub: publichealth, hub: r, hub: workshop, hub: highschool, hub: gradebook, hub: dev, hub: ugr01, hub: nature

#6327 [DH-258] using pause container provided by registry.k8s.io instead of gcr
  node-placeholder/templates/_helpers.tpl
Labels: node-placeholder-deployment

#6328 fix header of the new hub doc
  docs/admins/howto/new-hub.qmd
Labels: documentation

#6331 update nature image tag to 31bd0ba9af02: deployments/nature/hubploy.yaml
  deployments/nature/hubploy.yaml
Labels: configuration, hub: nature

#6336 merging 6324/6325/6326/6327/6328/6329/6331/6335 to prod
  CNAME
  deployments/a11y/secrets/gcr-key.json
  deployments/astro/secrets/gcr-key.json
  deployments/biology/secrets/gcr-key.json
  deployments/cee/secrets/gcr-key.json
  deployments/data100/config/common.yaml
  deployments/data100/secrets/gcr-key.json
  deployments/data101/secrets/gcr-key.json
  deployments/data102/hubploy.yaml
  deployments/data102/secrets/gcr-key.json
  deployments/data8/secrets/gcr-key.json
  deployments/datahub/secrets/gcr-key.json
  deployments/dev/secrets/gcr-key.json
  deployments/dlab/secrets/gcr-key.json
  deployments/eecs/secrets/gcr-key.json
  deployments/gradebook/secrets/gcr-key.json
  deployments/highschool/secrets/gcr-key.json
  deployments/ischool/secrets/gcr-key.json
  deployments/julia/secrets/gcr-key.json
  deployments/logodev/secrets/gcr-key.json
  deployments/nature/hubploy.yaml
  deployments/nature/secrets/gcr-key.json
  deployments/prob140/secrets/gcr-key.json
  deployments/publichealth/secrets/gcr-key.json
  deployments/r/secrets/gcr-key.json
  deployments/shiny/secrets/gcr-key.json
  deployments/stat159/secrets/gcr-key.json
  deployments/stat20/secrets/gcr-key.json
  deployments/ugr01/secrets/gcr-key.json
  deployments/workshop/secrets/gcr-key.json
  docs/admins/howto/new-hub.qmd
  node-placeholder/templates/_helpers.tpl
Labels: documentation, hub: stat20, configuration, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: dlab, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: logodev, hub: prob140, hub: publichealth, hub: r, hub: workshop, node-placeholder-deployment, hub: highschool, hub: gradebook, hub: dev, hub: ugr01, hub: nature

#6337 update ugr01 image tag to 75d5b0603930: deployments/ugr01/hubploy.yaml
  deployments/ugr01/hubploy.yaml
Labels: configuration, hub: ugr01

#6338 update ugr01 image tag to 0480c5c97a4d: deployments/ugr01/hubploy.yaml
  deployments/ugr01/hubploy.yaml
Labels: configuration, hub: ugr01

#6340 update biology image tag to e49b780d16d2: deployments/biology/hubploy…
  deployments/biology/hubploy.yaml
Labels: configuration, hub: biology

#6342 update ugr01 image tag to a42eba257801: deployments/ugr01/hubploy.yaml
  deployments/ugr01/hubploy.yaml
Labels: configuration, hub: ugr01

#6341 merging 6337/6338/6340/6342 to prod
  deployments/biology/hubploy.yaml
  deployments/ugr01/hubploy.yaml
Labels: configuration, hub: biology, hub: ugr01

#6023 porting things to niquests
  hub/Chart.yaml
  images/node-placeholder-scaler/requirements.in
  images/node-placeholder-scaler/requirements.txt
  images/node-placeholder-scaler/scaler/calendar.py
  images/node-placeholder-scaler/scaler/scaler.py
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
  requirements.txt
  scripts/post-grafana-annotation.py
  scripts/rsync-active-users.py
Labels: python, configuration, hub-images, node-placeholder-deployment, node-placeholder-scaler, helm-config, jupyterhub-deployment

#6344 we only need one placeholder node, tbh
  node-placeholder/values.yaml
Labels: configuration, node-placeholder-deployment, helm-config

#6347 [DH-227] in preparation for running git precommits
  .github/scripts/determine-hub-deployments.py
  hub/Chart.yaml
  images/node-placeholder-scaler/scaler/__main__.py
  images/node-placeholder-scaler/scaler/calendar.py
  images/node-placeholder-scaler/scaler/scaler.py
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
  requirements.txt
  scripts/delete-unused-users.py
  scripts/git-pre-cloner.py
  scripts/list-packages.py
  scripts/post-grafana-annotation.py
  scripts/rsync-active-users.py
  scripts/user-image-management/manage-image-repos.py
  vendor/google/ugr/gke/templates/gke_template.py
  vendor/google/ugr/gke/templates/node_pool_template.py
Labels: build-infra, python, configuration, hub-images, node-placeholder-deployment, node-placeholder-scaler, helm-config, jupyterhub-deployment

#6348 merge 6347 to prod
  .github/scripts/determine-hub-deployments.py
  hub/Chart.yaml
  images/node-placeholder-scaler/scaler/__main__.py
  images/node-placeholder-scaler/scaler/calendar.py
  images/node-placeholder-scaler/scaler/scaler.py
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
  requirements.txt
  scripts/delete-unused-users.py
  scripts/git-pre-cloner.py
  scripts/list-packages.py
  scripts/post-grafana-annotation.py
  scripts/rsync-active-users.py
  scripts/user-image-management/manage-image-repos.py
  vendor/google/ugr/gke/templates/gke_template.py
  vendor/google/ugr/gke/templates/node_pool_template.py
Labels: build-infra, python, configuration, hub-images, node-placeholder-deployment, node-placeholder-scaler, helm-config, jupyterhub-deployment

#6350 revert nature image tag
  deployments/nature/hubploy.yaml
Labels: configuration, hub: nature

#6352 go back to using the original image tag for nature hub
  deployments/nature/hubploy.yaml
Labels: configuration, hub: nature

#6355 [DH-394] update publichealth image tag to 78e9a74723e4: deployments/publicheal…
  deployments/publichealth/hubploy.yaml
Labels: configuration, hub: publichealth

#6354 Adding instructions to request package version and reproducible test cases for future package requests
  .github/ISSUE_TEMPLATE/package_request.yml
Labels: issue-templates

#6356 merging 6355 to prod
  .github/ISSUE_TEMPLATE/package_request.yml
  deployments/publichealth/hubploy.yaml
Labels: configuration, hub: publichealth, issue-templates

#6359 update datahub image tag to 91798b9f377b: deployments/datahub/hubploy…
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, hub: highschool

#6360 Merge 6359 to prod
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, hub: highschool

#6361 [DH-394} update publichealth image tag to 34f76c1735eb
  deployments/publichealth/hubploy.yaml
Labels: configuration, hub: publichealth

#6363 [DH-301] install hubploy from main branch vs fork branch
  requirements.txt
Labels: configuration, hub: logodev

#6362 [DH-394] merge #6361 to prod
  deployments/publichealth/hubploy.yaml
  requirements.txt
Labels: configuration, hub: publichealth

#6367 [DH-384] update datahub image tag to 34f4eb103e6a: deployments/datahub/hubploy…
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, hub: highschool

#6369 update nature image tag to 9db6f82fbe39: deployments/nature/hubploy.yaml
  deployments/nature/hubploy.yaml
Labels: configuration, hub: nature

#6368 merging 6366/6367/6369 to prod
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/nature/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, hub: highschool, hub: nature

#6375 fix a typo in the user image repo doc
  docs/admins/howto/managing-multiple-user-image-repos.qmd
Labels: documentation

#6379 [DH-301] updating instructions for the new tool
  docs/admins/howto/managing-multiple-user-image-repos.qmd
Labels: documentation

#6381 merging 6375/6379 to prod
  docs/admins/howto/managing-multiple-user-image-repos.qmd
Labels: documentation

#6382 Disable jupyter lab scrollPastEnd.
  deployments/nature/config/common.yaml
Labels: configuration, hub: nature

#6383 Merge #6382.
  deployments/nature/config/common.yaml
Labels: configuration, hub: nature

#6387 Increase RAM to 5 GB for MCB201B course!
  deployments/biology/config/common.yaml
Labels: configuration, hub: biology

#6388 Fixing bio stanza for adding RAM
  deployments/biology/config/common.yaml
Labels: configuration, hub: biology

#6394 update a11y image tag to 9cb7ae26ffbe: deployments/a11y/hubploy.yaml
  deployments/a11y/hubploy.yaml
Labels: configuration, hub: a11y

#6395 fixing a couple of typos in the manage-repos tool docs
  docs/admins/howto/managing-multiple-user-image-repos.qmd
Labels: documentation

#6396 update nature image tag to fc53f089643a: deployments/nature/hubploy.yaml
  deployments/nature/hubploy.yaml
Labels: configuration, hub: nature

#6397 update biology image tag to 01a45afe1c4d: deployments/biology/hubploy…
  deployments/biology/hubploy.yaml
Labels: configuration, hub: biology

#6398 update eecs image tag to cd59fd081aad: deployments/eecs/hubploy.yaml
  deployments/eecs/hubploy.yaml
Labels: configuration, hub: eecs

#6400 merging 6394/6395/6396/6397/6398 to prod
  deployments/a11y/hubploy.yaml
  deployments/biology/hubploy.yaml
  deployments/eecs/hubploy.yaml
  deployments/nature/hubploy.yaml
  docs/admins/howto/managing-multiple-user-image-repos.qmd
Labels: documentation, configuration, hub: a11y, hub: biology, hub: eecs, hub: nature

#6401 updating `dev-requirements.txt` with missing packages
  dev-requirements.txt
Labels: documentation, configuration

#6402 update docs with mention of dev-requirements.txt + extra formatting fixes
  README.md
  docs/admins/howto/calendar-scaler.qmd
  docs/admins/howto/new-hub.qmd
Labels: documentation

#6403 [DH-273] updates ischool
  deployments/ischool/hubploy.yaml
Labels: configuration, hub: ischool

#6404 Merge #6401, #6402, #6403 to prod
  README.md
  deployments/ischool/hubploy.yaml
  dev-requirements.txt
  docs/admins/howto/calendar-scaler.qmd
  docs/admins/howto/new-hub.qmd
Labels: documentation, configuration, hub: ischool

#6405 update docs for manage-repos
  docs/admins/howto/managing-multiple-user-image-repos.qmd
Labels: documentation

#6406 Remove features page.
  docs/_quarto.yml
  docs/users/features.qmd
Labels: documentation, configuration

#6407 Move auth page to the curriculum guide.
  docs/_quarto.yml
  docs/users/authentication.qmd
Labels: documentation, configuration

#6408 Move gh-scoped-creds to curriculum guide.
  docs/_quarto.yml
  docs/hubs.qmd
  docs/hubs/data100.qmd
  docs/hubs/data102.qmd
  docs/hubs/datahub.qmd
  docs/hubs/edx.qmd
  docs/hubs/prob140.qmd
  docs/hubs/r.qmd
  docs/hubs/shiny.qmd
  docs/hubs/stat159.qmd
  docs/hubs/stat20.qmd
  docs/users/images/RStudio-Logo-flat.svg
  docs/users/images/desktop.png
  docs/users/images/jupyterlab.png
  docs/users/images/rstudio.png
  docs/users/images/vscode.png
  docs/users/private-repo.qmd
Labels: documentation, configuration, images

#6409 Un-nest admin tasks.
  docs/_quarto.yml
  docs/tasks/calendar-scaler.qmd
  docs/tasks/cheatsheet.qmd
  docs/tasks/clusterswitch.qmd
  docs/tasks/core-pool.qmd
  docs/tasks/course-config.qmd
  docs/tasks/delete-hub.qmd
  docs/tasks/dns.qmd
  docs/tasks/documentation.qmd
  docs/tasks/github-token.qmd
  docs/tasks/google-sheets.qmd
  docs/tasks/index.qmd
  docs/tasks/managing-multiple-user-image-repos.qmd
  docs/tasks/new-hub.qmd
  docs/tasks/new-image.qmd
  docs/tasks/new-packages.qmd
  docs/tasks/prometheus-grafana.qmd
  docs/tasks/rebuild-hub-image.qmd
  docs/tasks/rebuild-postgres-image.qmd
  docs/tasks/remove-users-orm.qmd
  docs/tasks/transition-image.qmd
Labels: documentation, configuration

#6411 updating the ORM database cleanup doc
  docs/tasks/remove-users-orm.qmd
Labels: documentation

#6412 merging 6405/6406/6407/6408/6409/6411 to prod
  docs/_quarto.yml
  docs/admins/howto/remove-users-orm.qmd
  docs/hubs.qmd
  docs/hubs/data100.qmd
  docs/hubs/data102.qmd
  docs/hubs/datahub.qmd
  docs/hubs/edx.qmd
  docs/hubs/prob140.qmd
  docs/hubs/r.qmd
  docs/hubs/shiny.qmd
  docs/hubs/stat159.qmd
  docs/hubs/stat20.qmd
  docs/tasks/calendar-scaler.qmd
  docs/tasks/cheatsheet.qmd
  docs/tasks/clusterswitch.qmd
  docs/tasks/core-pool.qmd
  docs/tasks/course-config.qmd
  docs/tasks/delete-hub.qmd
  docs/tasks/dns.qmd
  docs/tasks/documentation.qmd
  docs/tasks/github-token.qmd
  docs/tasks/google-sheets.qmd
  docs/tasks/index.qmd
  docs/tasks/managing-multiple-user-image-repos.qmd
  docs/tasks/new-hub.qmd
  docs/tasks/new-image.qmd
  docs/tasks/new-packages.qmd
  docs/tasks/prometheus-grafana.qmd
  docs/tasks/rebuild-hub-image.qmd
  docs/tasks/rebuild-postgres-image.qmd
  docs/tasks/remove-users-orm.qmd
  docs/tasks/transition-image.qmd
  docs/users/authentication.qmd
  docs/users/features.qmd
  docs/users/images/RStudio-Logo-flat.svg
  docs/users/images/desktop.png
  docs/users/images/jupyterlab.png
  docs/users/images/rstudio.png
  docs/users/images/vscode.png
  docs/users/private-repo.qmd
Labels: documentation, configuration, images

#6414 merging 6413 to prod, more workflow notification testing for slack
  deployments/logodev/hubploy.yaml
Labels: configuration, hub: logodev

#6416 update logodev image tag to bc7919aa9814
  deployments/logodev/hubploy.yaml
Labels: configuration, hub: logodev

#6419 [DH-301] fix dev hub's `hubploy.yaml`
  deployments/dev/hubploy.yaml
Labels: configuration, hub: dev

#6418 [DH-301] add CI/CD documentation
  docs/.gitignore
  docs/admins/cicd-github-actions.qmd
Labels: documentation

#6424 Update CI/CD doc
  docs/admins/cicd-github-actions.qmd
Labels: documentation

#6425 Example of a listing on an index page.
  docs/_quarto.yml
  docs/admins/index.qmd
Labels: documentation, configuration

#6426 [DH-301] adding workflow diagram
  docs/admins/cicd-github-actions.qmd
Labels: documentation

#6427 This fixes the alternative color scheme.
  docs/admins/cicd-github-actions.qmd
Labels: documentation

#6422 [DH-301] additional documentation for the merge and pr creation commands
  docs/tasks/managing-multiple-user-image-repos.qmd
Labels: documentation

#6431 update nature image tag to 829049c6fba4: deployments/nature/hubploy.yaml
  deployments/nature/hubploy.yaml
Labels: configuration, hub: nature

#6432 merging 6416/6418/6419/6422/6423/6424/6425/6426/6427/6431 to prod
  deployments/dev/hubploy.yaml
  deployments/logodev/hubploy.yaml
  deployments/nature/hubploy.yaml
  docs/.gitignore
  docs/_quarto.yml
  docs/admins/cicd-github-actions.qmd
  docs/admins/index.qmd
  docs/admins/storage.qmd
  docs/admins/structure.qmd
  docs/tasks/managing-multiple-user-image-repos.qmd
Labels: documentation, configuration, hub: logodev, hub: dev, hub: nature

#6434 update nature image tag to 9d9eeb463ce3: deployments/nature/hubploy.yaml
  deployments/nature/hubploy.yaml
Labels: configuration, hub: nature

#6435 merging 6434 to prod
  deployments/nature/hubploy.yaml
Labels: configuration, hub: nature

#6436 clean up core pool sysctl config
  .gitignore
  vendor/google/gke/node-pool/config/core-pool-sysctl.yaml
  vendor/google/gke/node-pool/config/core-pool-sysctl.yaml.bak
Labels: build-infra, configuration

#6440 update a11y image tag to 710a5e6cc90c
  deployments/a11y/hubploy.yaml
Labels: configuration, hub: a11y

#6441 [DH-377] Increase ephemeral ports by default
  hub/Chart.yaml
  hub/values.yaml
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: configuration, node-placeholder-deployment, helm-config, jupyterhub-deployment

#6442 merging 6436/6440/6441 to prod
  .gitignore
  deployments/a11y/hubploy.yaml
  hub/Chart.yaml
  hub/values.yaml
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
  vendor/google/gke/node-pool/config/core-pool-sysctl.yaml
  vendor/google/gke/node-pool/config/core-pool-sysctl.yaml.bak
Labels: build-infra, configuration, hub: a11y, node-placeholder-deployment, helm-config, jupyterhub-deployment

#6445 merge 6444 to prod, bring the hubs back up
  hub/Chart.yaml
  hub/values.yaml
  node-placeholder/Chart.yaml
Labels: configuration, node-placeholder-deployment, helm-config, jupyterhub-deployment
