Repository berkeley-dsep-infra/datahub, pull requests merged in 2024-02, with the labels that each got.

#5486 Update how admin RAM is determined in data100.datahub
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#5484 merge 5483/5485/5486 to prod
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#5495 Request more info in the RAM template
  .github/ISSUE_TEMPLATE/higher-resources.md
Labels: issue-templates

#5502 packages for pol sci 3
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/environment.yml
  deployments/datahub/images/default/install.R
  deployments/datahub/images/default/r-packages/2024-sp-polsci-3.r
Labels: dockerfile, configuration, singleuser-image, hub: datahub, R-code

#5488 Adding shared directory to Econ 148 based on bcourses group affiliation
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#5505 merging 5488/5494/5494/5502 to prod
  .github/ISSUE_TEMPLATE/higher-resources.md
  deployments/data100/config/common.yaml
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/environment.yml
  deployments/datahub/images/default/install.R
  deployments/datahub/images/default/r-packages/2024-sp-polsci-3.r
  deployments/eecs/config/common.yaml
Labels: dockerfile, configuration, singleuser-image, hub: datahub, hub: data100, hub: eecs, R-code, issue-templates

#5510 Update bcourses id in config files for Data 101 Sp 24 course
  deployments/data101/config/common.yaml
Labels: configuration, hub: data101

#5511 [DH-230] update jupyterlab and notebook to fix CWE vunerabilities
  deployments/a11y/image/infra-requirements.txt
  deployments/astro/image/infra-requirements.txt
  deployments/biology/image/infra-requirements.txt
  deployments/cee/image/infra-requirements.txt
  deployments/data100/image/environment.yml
  deployments/data100/image/infra-requirements.txt
  deployments/data101/image/environment.yml
  deployments/data101/image/infra-requirements.txt
  deployments/data102/image/environment.yml
  deployments/data102/image/infra-requirements.txt
  deployments/data8/image/environment.yml
  deployments/data8/image/infra-requirements.txt
  deployments/datahub/images/default/infra-requirements.txt
  deployments/dev-r/images/default/infra-requirements.txt
  deployments/dev-r/images/secondary/infra-requirements.txt
  deployments/edx/image/environment.yml
  deployments/edx/image/infra-requirements.txt
  deployments/eecs/image/infra-requirements.txt
  deployments/ischool/image/infra-requirements.txt
  deployments/julia/image/environment.yml
  deployments/julia/image/infra-requirements.txt
  deployments/publichealth/image/infra-requirements.txt
  deployments/shiny/image/infra-requirements.txt
  deployments/stat159/image/environment.yml
  deployments/stat159/image/infra-requirements.txt
  deployments/stat20/image/infra-requirements.txt
  scripts/infra-packages/requirements.txt
Labels: hub: stat20, configuration, singleuser-image, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: publichealth, hub: dev-r, hub: edx

#5516 move our image build jobs from xlarge runners to large
  .circleci/config.yml
Labels: build-infra

#5517 [DH-232] fix notebook exporting for julia
  deployments/julia/image/Dockerfile
  deployments/julia/image/apt.txt
Labels: dockerfile, configuration, singleuser-image, hub: julia

#5518 merging 5517 to prod
  deployments/julia/image/Dockerfile
  deployments/julia/image/apt.txt
Labels: dockerfile, configuration, singleuser-image, hub: julia

#5524 Sp24 Data100 Increase single user RAM limit to 4GB for hw3
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#5527 merging 5524 to prod
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#5531 bump ram for legal studies 123
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#5532 merging 5531 to prod
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#5533 [DH-221] Reduce replicas for CEE hub!
  node-placeholder/values.yaml
Labels: configuration, node-placeholder-deployment, helm-config

#5536 [DH-231] Enable gh-scoped-creds for D-Lab
  deployments/datahub/images/default/environment.yml
  deployments/dlab/config/common.yaml
Labels: configuration, singleuser-image, hub: datahub, hub: dlab

#5540 temp bandaid for big cpu workload assignment
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#5542 merging 5533/5536/5540 to prod
  deployments/data100/config/common.yaml
  deployments/datahub/images/default/environment.yml
  deployments/dlab/config/common.yaml
  node-placeholder/values.yaml
Labels: configuration, singleuser-image, hub: datahub, hub: dlab, hub: data100, node-placeholder-deployment, helm-config

#5545 more bandaids for data100
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#5549 debump data100 cores/ram
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#5546 merging 5545/5548 to prod
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#5552 Source additional env vars from Renviron.site.
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/Renviron.site.append
Labels: dockerfile, singleuser-image, hub: datahub

#5554 Use Rprofile.site instead of Renviron.site.
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/Renviron.site.append
  deployments/datahub/images/default/Rprofile.site
Labels: dockerfile, singleuser-image, hub: datahub

#5555 Merge #5552, #5554.
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/Rprofile.site
Labels: dockerfile, singleuser-image, hub: datahub

#5558 Set gh-scoped-creds vars in RStudio env.
  deployments/dlab/config/common.yaml
Labels: configuration, hub: dlab

#5559 Merge #5558.
  deployments/dlab/config/common.yaml
Labels: configuration, hub: dlab

#5560 Don't retain temporary setup variables.
  deployments/datahub/images/default/Rprofile.site
Labels: singleuser-image, hub: datahub

#5556 bump to 5.4.0 otter
  deployments/data100/image/environment.yml
Labels: configuration, singleuser-image, hub: data100

#5566 GH_* vars are reversed.
  deployments/dlab/config/common.yaml
Labels: configuration, hub: dlab

#5565 Bump nycflights to 1.0.2.
  deployments/datahub/images/default/install.R
Labels: singleuser-image, hub: datahub, R-code

#5563 [DH-240] Add stanza to enable elevated privileges for Pol Sci 3 course staff in R hub
  deployments/r/config/common.yaml
Labels: configuration, hub: r

#5567 Merge #5560, #5565, #5566.
  deployments/data100/image/environment.yml
  deployments/datahub/images/default/Rprofile.site
  deployments/datahub/images/default/install.R
  deployments/dlab/config/common.yaml
  deployments/r/config/common.yaml
Labels: configuration, singleuser-image, hub: datahub, hub: dlab, hub: data100, hub: r, R-code

#5569 Update shiny image to prepare for gradebook.
  deployments/shiny/image/Dockerfile
  deployments/shiny/image/environment.yml
  deployments/shiny/image/r-packages/2024-spring-gradebook.r
  deployments/shiny/image/requirements.txt
Labels: dockerfile, configuration, singleuser-image, hub: shiny, R-code

#5570 Set home in gradebook hub.
  deployments/gradebook/config/common.yaml
  deployments/shiny/image/r-packages/2024-spring-gradebook.r
Labels: configuration, singleuser-image, hub: shiny, R-code, hub: gradebook

#5501 [DH-3] try using a test fork of the chp
  hub/Chart.yaml
  hub/values.yaml
  node-placeholder/Chart.yaml
Labels: configuration, node-placeholder-deployment, helm-config, jupyterhub-deployment

#5576 [DH-244] remove autoscaling from core pools
  docs/admins/howto/core-pool.rst
Labels: documentation

#5578 merging 5501/5568/5569/5570/5576 to prod
  .circleci/config.yml
  .github/labeler.yml
  deployments/gradebook/config/common.yaml
  deployments/gradebook/config/filestore/squash-flags.json
  deployments/gradebook/config/prod.yaml
  deployments/gradebook/config/staging.yaml
  deployments/gradebook/hubploy.yaml
  deployments/gradebook/secrets/gcr-key.json
  deployments/gradebook/secrets/gke-key.json
  deployments/gradebook/secrets/prod.yaml
  deployments/gradebook/secrets/staging.yaml
  deployments/shiny/image/Dockerfile
  deployments/shiny/image/environment.yml
  deployments/shiny/image/r-packages/2024-spring-gradebook.r
  deployments/shiny/image/requirements.txt
  docs/admins/howto/core-pool.rst
  hub/Chart.yaml
  hub/values.yaml
  node-placeholder/Chart.yaml
Labels: documentation, build-infra, dockerfile, configuration, singleuser-image, hub: shiny, node-placeholder-deployment, R-code, helm-config, jupyterhub-deployment
