Repository berkeley-dsep-infra/datahub, pull requests merged in 2024-06, with the labels that each got.

#5771 hopefully unstick our deploys
  requirements.txt
Labels: configuration

#5772 merging 5468/5770/5771 to prod
  deployments/a11y/config/common.yaml
  requirements.txt
Labels: configuration, hub: a11y

#5774 Bump memory for admins.
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#5773 Install git from conda-forge.
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#5775 [DH-301] update CI before we push out the new logodev image
  .circleci/config.yml
Labels: build-infra

#5776 merging 5767/5773/5774/5775 to prod
  .circleci/config.yml
  deployments/a11y/image/environment.yml
  deployments/a11y/image/postBuild
  deployments/datahub/config/common.yaml
  deployments/datahub/images/default/environment.yml
Labels: build-infra, bash, configuration, singleuser-image, hub: datahub, hub: a11y

#5779 [DH-301] actually need to build the logodev image during testing
  .circleci/config.yml
Labels: build-infra

#5780 merging 5778/5779 to prod
  .circleci/config.yml
  deployments/logodev/hubploy.yaml
  deployments/logodev/image/apt.txt
  deployments/logodev/image/environment.yml
  deployments/logodev/image/infra-requirements.txt
  deployments/logodev/image/postBuild
Labels: build-infra, bash, configuration, singleuser-image, hub: logodev

#5783 [DH-303] Set up dev environment for discovery interns to play with dashboards
  deployments/dev/config/common.yaml
  deployments/dev/images/secondary/environment.yml
Labels: configuration, singleuser-image, hub: dev

#5782 [DH-303] moving dev hub to its own node pool
  deployments/dev/config/common.yaml
  node-placeholder/values.yaml
Labels: configuration, node-placeholder-deployment, helm-config, hub: dev

#5785 Enable custom.group_profiles.
  deployments/dev/config/common.yaml
Labels: configuration, hub: dev

#5786 Add bcourses group to a11y hub config to provide enhanced privileges
  deployments/a11y/config/common.yaml
Labels: configuration, hub: a11y

#5788 Merge 5782, 5783, 5785 and 5786 to prod!
  deployments/a11y/config/common.yaml
  deployments/dev/config/common.yaml
  deployments/dev/images/secondary/environment.yml
  node-placeholder/values.yaml
Labels: configuration, singleuser-image, hub: a11y, node-placeholder-deployment, helm-config, hub: dev

#5790 [DH-305] adding deps for playwright
  deployments/data100/image/apt.txt
Labels: configuration, singleuser-image, hub: data100

#5792 [DH-305] make webpdf conversion work
  deployments/data100/image/apt.txt
  deployments/data100/image/postBuild
  deployments/data100/image/start
Labels: bash, configuration, singleuser-image, hub: data100

#5793 [DH-305] removing duplicate apt packages
  deployments/data100/image/apt.txt
Labels: configuration, singleuser-image, hub: data100

#5794 [DH-305] Merging #5790, #5792, #5793 to prod
  deployments/data100/image/apt.txt
  deployments/data100/image/postBuild
  deployments/data100/image/start
Labels: bash, configuration, singleuser-image, hub: data100

#5795 [DH-303] adding a placeholder for the dev pool
  node-placeholder/values.yaml
Labels: configuration, node-placeholder-deployment, helm-config

#5798 Fix image tag in dev hub config and redirect to lab environment
  deployments/dev/config/common.yaml
Labels: configuration, hub: dev

#5800 [DH-313] removing external ip from datahub-prod and datahub-staging
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#5801 [DH-313] Merging #5795, #5798, #5800 to prod
  deployments/datahub/config/common.yaml
  deployments/dev/config/common.yaml
  node-placeholder/values.yaml
Labels: configuration, hub: datahub, node-placeholder-deployment, helm-config, hub: dev

#5803 Enable enhanced privileges for Data 100 summer instructors
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#5804 removing errant space in data100 config
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#5805 quick readme update
  README.md
Labels: documentation

#5806 added newline
  README.md
Labels: documentation

#5808 Scale down workshop hub RAM
  deployments/workshop/config/common.yaml
Labels: configuration, hub: workshop

#5807 Bump jupyter-server-proxy for security update.
  deployments/astro/image/environment.yml
  deployments/biology/image/bio1b-packages.bash
  deployments/biology/image/environment.yml
  deployments/cee/image/environment.yml
  deployments/data101/image/environment.yml
  deployments/datahub/images/default/environment.yml
  deployments/dev/images/default/environment.yml
  deployments/eecs/image/environment.yml
  deployments/ischool/image/environment.yml
  deployments/julia/image/environment.yml
  deployments/julia/image/install-julia-packages.jl
  deployments/publichealth/image/environment.yml
  deployments/shiny/image/environment.yml
  deployments/stat159/image/environment.yml
  deployments/stat20/image/environment.yml
Labels: hub: stat20, bash, configuration, singleuser-image, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: biology, hub: cee, hub: data101, hub: eecs, hub: ischool, hub: julia, hub: publichealth, hub: dev

#5750 [DH-276] update cluster switchover doc
  docs/admins/howto/clusterswitch.md
Labels: documentation

#5810 merging 5750/5803/5804/5805/5806/5807/5808 to prod
  README.md
  deployments/astro/image/environment.yml
  deployments/biology/image/bio1b-packages.bash
  deployments/biology/image/environment.yml
  deployments/cee/image/environment.yml
  deployments/data100/config/common.yaml
  deployments/data101/image/environment.yml
  deployments/datahub/images/default/environment.yml
  deployments/dev/images/default/environment.yml
  deployments/eecs/image/environment.yml
  deployments/ischool/image/environment.yml
  deployments/julia/image/environment.yml
  deployments/julia/image/install-julia-packages.jl
  deployments/publichealth/image/environment.yml
  deployments/shiny/image/environment.yml
  deployments/stat159/image/environment.yml
  deployments/stat20/image/environment.yml
  deployments/workshop/config/common.yaml
  docs/admins/howto/clusterswitch.md
Labels: documentation, hub: stat20, bash, configuration, singleuser-image, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: biology, hub: cee, hub: data100, hub: data101, hub: eecs, hub: ischool, hub: julia, hub: publichealth, hub: workshop, hub: dev

#5811 Bump a11y-checker in a11y hub and test whether it fixes usability issues
  deployments/a11y/image/environment.yml
Labels: configuration, singleuser-image, hub: a11y

#5812 [DH-314] Install gh-scoped-creds app in a profile in dev hub
  deployments/dev/config/common.yaml
  deployments/dev/images/secondary/environment.yml
Labels: configuration, singleuser-image, hub: dev

#5813 troubleshooting dev hub's deploy failure
  deployments/dev/config/common.yaml
Labels: configuration, hub: dev

#5817 [DH-314] Fixing the issue with gh-scoped-creds config in Dev hub
  deployments/dev/config/common.yaml
Labels: configuration, hub: dev
