Repository berkeley-dsep-infra/datahub, pull requests merged in 2024-03, with the labels that each got.

#5575 [DH-243] Adding geopandas and rtree packages to Datahub image to support LS 123 course
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#5582 bump datahub staff RAM to help w/debugging
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#5583 merging 5575/5582 to prod
  deployments/datahub/config/common.yaml
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#5587 [DH-250] Adding fontawesome5 package to Ischool hub image!
  deployments/ischool/image/Dockerfile
Labels: dockerfile, singleuser-image, hub: ischool

#5589 Merge 5587 to prod
  deployments/ischool/image/Dockerfile
Labels: dockerfile, singleuser-image, hub: ischool

#5590 Run and proxy the gradebook container.
  deployments/gradebook/config/common.yaml
Labels: configuration, hub: gradebook

#5592 Mount home directory to gradebook container.
  deployments/gradebook/config/common.yaml
Labels: configuration, hub: gradebook

#5593 Set default URL to /gradebook.
  deployments/gradebook/config/common.yaml
Labels: configuration, hub: gradebook

#5597 Increase RAM for Astro 128 course in Astro Hub
  deployments/astro/config/common.yaml
Labels: configuration, hub: astro

#5598 Merge 5590, 5592, 5593 and 5597 to prod
  deployments/astro/config/common.yaml
  deployments/gradebook/config/common.yaml
Labels: configuration, hub: astro, hub: gradebook

#5605 Install shiny-server and jupyter-shiny-proxy.
  deployments/stat20/image/Dockerfile
  deployments/stat20/image/environment.yml
Labels: hub: stat20, dockerfile, configuration, singleuser-image

#5606 Merge #5604, #5605.
  deployments/stat20/image/Dockerfile
  deployments/stat20/image/environment.yml
Labels: hub: stat20, dockerfile, configuration, singleuser-image

#5608 Bump jupyter-server-proxy to 4.1.2.
  deployments/astro/image/environment.yml
  deployments/biology/image/environment.yml
  deployments/cee/image/environment.yml
  deployments/data101/image/environment.yml
  deployments/datahub/images/default/environment.yml
  deployments/dev-r/images/default/environment.yml
  deployments/dev-r/images/secondary/environment.yml
  deployments/eecs/image/environment.yml
  deployments/ischool/image/environment.yml
  deployments/julia/image/environment.yml
  deployments/publichealth/image/environment.yml
  deployments/shiny/image/environment.yml
  deployments/stat159/image/environment.yml
  deployments/stat20/image/environment.yml
Labels: hub: stat20, configuration, singleuser-image, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: biology, hub: cee, hub: data101, hub: eecs, hub: ischool, hub: julia, hub: publichealth, hub: dev-r

#5611 Downgrade jupyter-rsession-proxy.
  deployments/biology/image/environment.yml
Labels: configuration, singleuser-image, hub: biology

#5610 merging 5608/5611 to prod
  deployments/astro/image/environment.yml
  deployments/biology/image/environment.yml
  deployments/cee/image/environment.yml
  deployments/data101/image/environment.yml
  deployments/datahub/images/default/environment.yml
  deployments/dev-r/images/default/environment.yml
  deployments/dev-r/images/secondary/environment.yml
  deployments/eecs/image/environment.yml
  deployments/ischool/image/environment.yml
  deployments/julia/image/environment.yml
  deployments/publichealth/image/environment.yml
  deployments/shiny/image/environment.yml
  deployments/stat159/image/environment.yml
  deployments/stat20/image/environment.yml
Labels: hub: stat20, configuration, singleuser-image, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: biology, hub: cee, hub: data101, hub: eecs, hub: ischool, hub: julia, hub: publichealth, hub: dev-r

#5615 Increase RAM allocation to 8 GB for Datahub admins in the Stat 20 Hub to test Quarto dashboards.
  deployments/stat20/config/common.yaml
Labels: hub: stat20, configuration

#5617 Update gradebook image per @andrewpbray.
  deployments/gradebook/config/common.yaml
Labels: configuration, hub: gradebook

#5616 install nbconvert webpdf and pyppeteer in Data 100 hub
  deployments/data100/image/environment.yml
Labels: configuration, singleuser-image, hub: data100

#5614 [DH-3] increase cpu allocation for data8 hub and proxy pods
  deployments/data8/config/prod.yaml
Labels: configuration, hub: data8

#5618 merging 5614/5615/5616/5617 to prod
  deployments/data100/image/environment.yml
  deployments/data8/config/prod.yaml
  deployments/gradebook/config/common.yaml
  deployments/stat20/config/common.yaml
Labels: hub: stat20, configuration, singleuser-image, hub: data100, hub: data8, hub: gradebook

#5620 [DH-257] Enable webpdf conversion in Data 100 Hub
  deployments/data100/image/environment.yml
  deployments/data100/image/postBuild
Labels: bash, configuration, singleuser-image, hub: data100

#5622 [DH-260] Increase RAM for Econ 144 course
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#5623 bump astropy to quiet down dependabot even tho its not being used
  deployments/astro/image/environment.yml
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: astro, hub: datahub

#5626 Remove webpdf related changes in postbuild file (Data 100 Hub)
  deployments/data100/image/postBuild
Labels: bash, singleuser-image, hub: data100

#5628 [DH-252] Add pandas, matplotlib and shiny packages to Stat 20 image (till end of SP 24)
  deployments/stat20/image/environment.yml
Labels: hub: stat20, configuration, singleuser-image

#5630 install lfe, bump stargazer
  deployments/datahub/images/default/install.R
Labels: singleuser-image, hub: datahub, R-code

#5631 [DH-257] One last try at making webpdf work in Data 100 Hub
  deployments/data100/config/common.yaml
  deployments/data100/image/postBuild
Labels: bash, configuration, singleuser-image, hub: data100

#5624 merging 5620/5622/5623/5626/5628/5630/5631 to prod
  deployments/astro/image/environment.yml
  deployments/data100/config/common.yaml
  deployments/data100/image/environment.yml
  deployments/data100/image/postBuild
  deployments/datahub/config/common.yaml
  deployments/datahub/images/default/environment.yml
  deployments/datahub/images/default/install.R
  deployments/stat20/image/environment.yml
Labels: hub: stat20, bash, configuration, singleuser-image, hub: astro, hub: datahub, hub: data100, R-code

#5635 Data 100 add package, duckdb pip install
  deployments/data100/image/environment.yml
Labels: configuration, singleuser-image, hub: data100

#5637 [DH - 237] Provide enhanced privileges for MICS students in Data 101, EECS and Datahub
  deployments/data101/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/eecs/config/common.yaml
Labels: configuration, hub: datahub, hub: data101, hub: eecs

#5638 squelch dependabot alerts for astro and datahub
  deployments/astro/image/environment.yml
  deployments/datahub/images/default/requirements.txt.disabled
Labels: configuration, singleuser-image, hub: astro, hub: datahub

#5640 Additional duckdb_engine package to data100
  deployments/data100/image/environment.yml
Labels: configuration, singleuser-image, hub: data100

#5641 install cummeRbund
  deployments/datahub/images/default/install.R
Labels: singleuser-image, hub: datahub, R-code

#5642 you down with OCD? yeah you know me!
  .circleci/config.yml
Labels: build-infra

#5644 [DH-266] Increase RAM to 4 GB and enable shared-readwrite for participants of demog data event in workshop hub
  deployments/workshop/config/common.yaml
Labels: configuration, hub: workshop

#5646 [DH-266] Demog data event will be using datahub instead of workshop hub
  deployments/datahub/config/common.yaml
  deployments/workshop/config/common.yaml
Labels: configuration, hub: datahub, hub: workshop

#5647 merging 5635/5637/5638/5640/5641/5642/5644/5646 to prod
  .circleci/config.yml
  deployments/astro/image/environment.yml
  deployments/data100/image/environment.yml
  deployments/data101/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/datahub/images/default/install.R
  deployments/datahub/images/default/requirements.txt.disabled
  deployments/eecs/config/common.yaml
  deployments/workshop/config/common.yaml
Labels: build-infra, configuration, singleuser-image, hub: astro, hub: datahub, hub: data100, hub: data101, hub: eecs, hub: workshop, R-code
