Repository berkeley-dsep-infra/datahub, pull requests merged in 2024-01, with the labels that each got.

#5340 otter and ottr for sean and balaji
  deployments/datahub/images/default/environment.yml
  deployments/datahub/images/default/install.R
Labels: configuration, singleuser-image, hub: datahub, R-code

#5341 Add nbclassic and notebook7 to data8 image
  deployments/data8/image/environment.yml
Labels: configuration, singleuser-image, hub: data8

#5324 merging 5322/5338/5340/5341 to prod
  deployments/data100/image/environment.yml
  deployments/data8/image/environment.yml
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/environment.yml
  deployments/datahub/images/default/install.R
Labels: dockerfile, configuration, singleuser-image, hub: datahub, hub: data100, hub: data8, R-code

#5343 Change default URL for Data 8 hub to "/tree"
  deployments/data8/config/common.yaml
Labels: configuration, hub: data8

#5344 Add JL4 to data 8 image
  deployments/data8/image/environment.yml
Labels: configuration, singleuser-image, hub: data8

#5345 Add Jupyter-server package to Data8 image
  deployments/data8/image/environment.yml
Labels: configuration, singleuser-image, hub: data8

#5349 Refresh Data 8 image and test whether it launches notebook 7 and lab 4
  deployments/data8/hubploy.yaml
  deployments/data8/image/Dockerfile
  deployments/data8/image/environment.yml
Labels: dockerfile, configuration, singleuser-image, hub: data8

#5350 merging 5343/5344/5345/5349 to prod
  deployments/data8/config/common.yaml
  deployments/data8/hubploy.yaml
  deployments/data8/image/Dockerfile
  deployments/data8/image/environment.yml
Labels: dockerfile, configuration, singleuser-image, hub: data8

#5355 Added in packages for econ 148
  deployments/data100/image/environment.yml
Labels: configuration, singleuser-image, hub: data100

#5356 Removing/commenting out packages for LS 22
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#5357 Increase RAM for ARE 212 and ENVECON 153
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#5360 Remove unnecessary entries from admin template
  .github/ISSUE_TEMPLATE/admin_request.yml
Labels: issue-templates

#5361 Change access description
  .github/ISSUE_TEMPLATE/admin_request.yml
Labels: issue-templates

#5362 Add course-config.rst as part of docs
  docs/admins/howto/course-config.rst
Labels: documentation

#5359 Remove internal datahub auth configuration
  deployments/datahub/config/prod.yaml
  deployments/datahub/config/staging.yaml
  deployments/datahub/secrets/prod.yaml
  deployments/datahub/secrets/staging.yaml
Labels: configuration, hub: datahub

#5363 [DH-202] move biology to a smaller filestore
  deployments/biology/config/common.yaml
  deployments/biology/config/filestore/squash-flags.json
Labels: configuration, hub: biology

#5364 merging 5355/5356/5357/5359/5360/5361/5362/5363 to prod
  .github/ISSUE_TEMPLATE/admin_request.yml
  deployments/biology/config/common.yaml
  deployments/biology/config/filestore/squash-flags.json
  deployments/data100/image/environment.yml
  deployments/datahub/config/common.yaml
  deployments/datahub/config/prod.yaml
  deployments/datahub/config/staging.yaml
  deployments/datahub/images/default/environment.yml
  deployments/datahub/secrets/prod.yaml
  deployments/datahub/secrets/staging.yaml
  docs/admins/howto/course-config.rst
Labels: documentation, configuration, singleuser-image, hub: datahub, hub: biology, hub: data100, issue-templates

#5366 Add Admins for Data 8 hub
  deployments/data8/config/common.yaml
Labels: configuration, hub: data8

#5369 [DH-211] Add admins for PH 142 in Public Health Hub
  deployments/publichealth/config/common.yaml
Labels: configuration, hub: publichealth

#5370 bump circleci runner size
  .circleci/config.yml
Labels: build-infra

#5379 [DH-194] notebook 7 settings
  deployments/astro/config/common.yaml
  deployments/biology/config/common.yaml
  deployments/cee/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/dev-r/config/common.yaml
  deployments/dlab/config/common.yaml
  deployments/eecs/config/common.yaml
  deployments/highschool/config/common.yaml
  deployments/ischool/config/common.yaml
  deployments/julia/config/common.yaml
  deployments/logodev/config/common.yaml
  deployments/prob140/config/common.yaml
  deployments/publichealth/config/common.yaml
  deployments/r/config/common.yaml
  deployments/shiny/config/common.yaml
  deployments/stat20/config/common.yaml
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
  deployments/workshop/config/common.yaml
Labels: hub: stat20, configuration, hub: astro, hub: datahub, hub: shiny, hub: dlab, hub: biology, hub: cee, hub: eecs, hub: ischool, hub: julia, hub: logodev, hub: prob140, hub: publichealth, hub: r, hub: workshop, hub: dev-r, hub: highschool

#5380 [DH-194] adding nbclassic
  deployments/datahub/images/default/environment.yml
  deployments/eecs/image/environment.yml
Labels: configuration, singleuser-image, hub: datahub, hub: eecs

#5387 stat159 is not being taught so set placeholder to 0
  node-placeholder/values.yaml
Labels: configuration, node-placeholder-deployment, helm-config

#5375 [Sp24 DS100] 1. Admin access (thru bcourses `Admins` user group) 2. Grant DS100 Content Team 4G RAM.
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#5390 Adding nbconvert-a11y to a11y image
  deployments/a11y/image/environment.yml
Labels: configuration, singleuser-image, hub: a11y

#5393 Upgrading otter to a newer version
  deployments/data100/image/environment.yml
Labels: configuration, singleuser-image, hub: data100

#5394 Uncomment Prob140 specific libraries in Datahub image
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#5395 merging 5393/5394 to prod
  deployments/data100/image/environment.yml
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub, hub: data100

#5399 [DH-216] add tex tools for pdf export
  deployments/data8/image/apt.txt
Labels: configuration, singleuser-image, hub: data8

#5401 [DH-216] really fix data8 notebook export this time
  deployments/data8/image/apt.txt
  deployments/data8/image/environment.yml
Labels: configuration, singleuser-image, hub: data8

#5402 Merging 5399, 5401 to prod
  deployments/data8/image/apt.txt
  deployments/data8/image/environment.yml
Labels: configuration, singleuser-image, hub: data8

#5403 [DH-216] Remove PDF generation options that are no longer required by Data 8 instructional team
  deployments/data8/config/common.yaml
Labels: configuration, hub: data8

#5405 merging 5403 to prod
  deployments/data8/config/common.yaml
Labels: configuration, hub: data8

#5398 [DH-216] Fix exporting notebooks
  deployments/a11y/config/common.yaml
  deployments/a11y/image/environment.yml
  deployments/a11y/image/postBuild
Labels: bash, configuration, singleuser-image, hub: a11y

#5408 [DH-217] remove EOLed docker version from circleci
  .circleci/config.yml
Labels: build-infra

#5409 bump reticulate to see if the error goes away
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/install.R
Labels: dockerfile, singleuser-image, hub: datahub, R-code

#5410 bump lwgeom to fix error message during build
  deployments/datahub/images/default/install.R
Labels: singleuser-image, hub: datahub, R-code

#5411 merging 5398/5409/5410 to prod
  .circleci/config.yml
  deployments/a11y/config/common.yaml
  deployments/a11y/image/environment.yml
  deployments/a11y/image/postBuild
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/install.R
Labels: build-infra, bash, dockerfile, configuration, singleuser-image, hub: datahub, hub: a11y, R-code

#5407 [DH-216] Remove "Save and Export Notebook as QtPNG" from datahub UI
  deployments/datahub/config/common.yaml
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#5423 Give elevated access to ph142 staff.
  deployments/publichealth/config/common.yaml
Labels: configuration, hub: publichealth

#5424 merging 5407/5423 to prod
  deployments/datahub/config/common.yaml
  deployments/datahub/images/default/environment.yml
  deployments/publichealth/config/common.yaml
Labels: configuration, singleuser-image, hub: datahub, hub: publichealth

#5422 [Dh-220] Add Prophet package to the Datahub image
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#5426 Bump nbconvert package to 7.14.2 in a11y hub and move it under conda blockl
  deployments/a11y/image/environment.yml
Labels: configuration, singleuser-image, hub: a11y

#5429 Use dropdown for hub URL.
  .github/ISSUE_TEMPLATE/admin_request.yml
  .github/ISSUE_TEMPLATE/package_request.yml
  .github/ISSUE_TEMPLATE/performance_issue.yml
Labels: issue-templates

#5425 [edx] Added Package 88e: ipyleaflet
  deployments/edx/image/environment.yml
Labels: configuration, singleuser-image, hub: edx

#5430 Give elevated privs for Stat 165.
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#5432 merging 5422/5425/5426/5429/5430to prod
  .github/ISSUE_TEMPLATE/admin_request.yml
  .github/ISSUE_TEMPLATE/package_request.yml
  .github/ISSUE_TEMPLATE/performance_issue.yml
  deployments/a11y/image/environment.yml
  deployments/datahub/config/common.yaml
  deployments/datahub/images/default/environment.yml
  deployments/edx/image/environment.yml
Labels: configuration, singleuser-image, hub: datahub, hub: a11y, issue-templates, hub: edx

#5433 [DH-180] bump rocker geospatial, pull from new repo
  deployments/publichealth/image/Dockerfile
Labels: dockerfile, singleuser-image, hub: publichealth

#5434 merging 5433 to prod
  deployments/publichealth/image/Dockerfile
Labels: dockerfile, singleuser-image, hub: publichealth

#5436 [DH-205] fix prom pod label to enable scraping
  support/values.yaml
Labels: configuration, helm-config, support-deployment

#5438 [DH-205] set `interNamespaceAccessLabels` to allow the hubs to talk to prom
  hub/Chart.yaml
  hub/values.yaml
  node-placeholder/Chart.yaml
Labels: configuration, node-placeholder-deployment, helm-config, jupyterhub-deployment

#5440 merging 5436/5438 to prod
  hub/Chart.yaml
  hub/values.yaml
  node-placeholder/Chart.yaml
  support/values.yaml
Labels: configuration, node-placeholder-deployment, helm-config, support-deployment, jupyterhub-deployment

#5439 Provide admin access for Data 102 instructors in Data 102 Hub
  deployments/data102/config/common.yaml
Labels: configuration, hub: data102

#5441 Fixing indentation in Data 102 config file!
  deployments/data102/config/common.yaml
Labels: configuration, hub: data102

#5442 merging 5439/5441 to prod
  deployments/data102/config/common.yaml
Labels: configuration, hub: data102

#5448 Fixing information in admin access github template
  .github/ISSUE_TEMPLATE/admin_request.yml
Labels: issue-templates

#5406 [DH-216] fix notebook exports
  deployments/a11y/config/common.yaml
  deployments/astro/config/common.yaml
  deployments/astro/image/environment.yml
  deployments/biology/config/common.yaml
  deployments/biology/image/environment.yml
  deployments/cee/config/common.yaml
  deployments/cee/image/environment.yml
  deployments/ischool/config/common.yaml
  deployments/ischool/image/environment.yml
  deployments/julia/config/common.yaml
  deployments/julia/image/environment.yml
  deployments/prob140/config/common.yaml
  deployments/publichealth/config/common.yaml
  deployments/publichealth/image/environment.yml
  deployments/r/config/common.yaml
  deployments/stat159/config/common.yaml
  deployments/stat159/image/environment.yml
  deployments/stat20/config/common.yaml
  deployments/stat20/image/environment.yml
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
Labels: hub: stat20, configuration, singleuser-image, hub: astro, hub: stat159, hub: a11y, hub: biology, hub: cee, hub: ischool, hub: julia, hub: prob140, hub: publichealth, hub: r

#5451 Increase compute to 4 GB for Econ 175
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#5455 Upgrading otter
  deployments/data100/image/environment.yml
Labels: configuration, singleuser-image, hub: data100

#5453 merging 5406/5448/5451/5455 to prod
  .github/ISSUE_TEMPLATE/admin_request.yml
  deployments/a11y/config/common.yaml
  deployments/astro/config/common.yaml
  deployments/astro/image/environment.yml
  deployments/biology/config/common.yaml
  deployments/biology/image/environment.yml
  deployments/cee/config/common.yaml
  deployments/cee/image/environment.yml
  deployments/data100/image/environment.yml
  deployments/datahub/config/common.yaml
  deployments/ischool/config/common.yaml
  deployments/ischool/image/environment.yml
  deployments/julia/config/common.yaml
  deployments/julia/image/environment.yml
  deployments/prob140/config/common.yaml
  deployments/publichealth/config/common.yaml
  deployments/publichealth/image/environment.yml
  deployments/r/config/common.yaml
  deployments/stat159/config/common.yaml
  deployments/stat159/image/environment.yml
  deployments/stat20/config/common.yaml
  deployments/stat20/image/environment.yml
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
Labels: hub: stat20, configuration, singleuser-image, hub: astro, hub: stat159, hub: datahub, hub: a11y, hub: biology, hub: cee, hub: data100, hub: ischool, hub: julia, hub: prob140, hub: publichealth, hub: r, issue-templates

#5461 unblock notebook --> pdf conversions
  deployments/a11y/image/infra-requirements.txt
  deployments/astro/image/infra-requirements.txt
  deployments/biology/image/infra-requirements.txt
  deployments/cee/image/infra-requirements.txt
  deployments/data100/image/infra-requirements.txt
  deployments/data101/image/infra-requirements.txt
  deployments/data102/image/infra-requirements.txt
  deployments/data8/image/infra-requirements.txt
  deployments/datahub/images/default/infra-requirements.txt
  deployments/dev-r/images/default/infra-requirements.txt
  deployments/dev-r/images/secondary/infra-requirements.txt
  deployments/edx/image/infra-requirements.txt
  deployments/eecs/image/infra-requirements.txt
  deployments/ischool/image/infra-requirements.txt
  deployments/julia/image/infra-requirements.txt
  deployments/publichealth/image/infra-requirements.txt
  deployments/shiny/image/infra-requirements.txt
  deployments/stat159/image/infra-requirements.txt
  deployments/stat20/image/infra-requirements.txt
  scripts/infra-packages/requirements.txt
Labels: hub: stat20, configuration, singleuser-image, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: publichealth, hub: dev-r, hub: edx

#5462 pin julia mem guarantee and limit to 2G
  deployments/julia/config/common.yaml
Labels: configuration, hub: julia

#5463 Fix pdf exporting for prob140
  deployments/prob140/config/common.yaml
Labels: configuration, hub: prob140

#5464 merging 5461/5462/5463 to prod
  deployments/a11y/image/infra-requirements.txt
  deployments/astro/image/infra-requirements.txt
  deployments/biology/image/infra-requirements.txt
  deployments/cee/image/infra-requirements.txt
  deployments/data100/image/infra-requirements.txt
  deployments/data101/image/infra-requirements.txt
  deployments/data102/image/infra-requirements.txt
  deployments/data8/image/infra-requirements.txt
  deployments/datahub/images/default/infra-requirements.txt
  deployments/dev-r/images/default/infra-requirements.txt
  deployments/dev-r/images/secondary/infra-requirements.txt
  deployments/edx/image/infra-requirements.txt
  deployments/eecs/image/infra-requirements.txt
  deployments/ischool/image/infra-requirements.txt
  deployments/julia/config/common.yaml
  deployments/julia/image/infra-requirements.txt
  deployments/prob140/config/common.yaml
  deployments/publichealth/image/infra-requirements.txt
  deployments/shiny/image/infra-requirements.txt
  deployments/stat159/image/infra-requirements.txt
  deployments/stat20/image/infra-requirements.txt
  scripts/infra-packages/requirements.txt
Labels: hub: stat20, configuration, singleuser-image, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: prob140, hub: publichealth, hub: dev-r, hub: edx

#5472 [add] new packages for new Data 100 HW3 and lecture demos
  deployments/data100/image/environment.yml
Labels: configuration, singleuser-image, hub: data100

#5474 Enable admin access for Prob 140 course staff
  deployments/prob140/config/common.yaml
Labels: configuration, hub: prob140

#5475 Fixing the bcourses id for Demog 175 course
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#5476 Increase RAM for Econ 148
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#5478 Add admin stanza in the usual way for Data 8 Hub
  deployments/data8/config/common.yaml
Labels: configuration, hub: data8

#5477 merging 5472/5474/5475/5476/5478 to prod
  deployments/data100/config/common.yaml
  deployments/data100/image/environment.yml
  deployments/data8/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/prob140/config/common.yaml
Labels: configuration, singleuser-image, hub: datahub, hub: data100, hub: data8, hub: prob140

#5481 Grant econ 148 datahub admin access
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#5482 merging 5481 to prod
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#5485 [DH-225] Fix configs for providing elevated privileges to ECON 148 course staff in Data 100 Hub
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100
