Repository berkeley-dsep-infra/datahub, pull requests merged in 2024-07, with the labels that each got.

#5830 [DH-319] Add support for hidden files in Datahub
  hub/values.yaml
Labels: configuration, helm-config, jupyterhub-deployment

#5833 Enable elevated privileges for PH 142 course staff for FA 24
  deployments/publichealth/config/common.yaml
Labels: configuration, hub: publichealth

#5829 [DH-317] Install quarto in Dev hub (dashboard image)
  deployments/dev/images/secondary/environment.yml
  deployments/dev/images/secondary/install.R
Labels: configuration, singleuser-image, R-code, hub: dev

#5836 Providing elevated privileges for Data 8 course staff
  deployments/data8/config/common.yaml
Labels: configuration, hub: data8

#5837 merging 5811/5812/5813/5817/5829/5830/5833/5836 to prod
  deployments/a11y/image/environment.yml
  deployments/data8/config/common.yaml
  deployments/dev/config/common.yaml
  deployments/dev/images/secondary/environment.yml
  deployments/dev/images/secondary/install.R
  deployments/publichealth/config/common.yaml
  hub/values.yaml
Labels: configuration, singleuser-image, hub: a11y, hub: data8, hub: publichealth, R-code, helm-config, jupyterhub-deployment, hub: dev

#5824 Install ollama models tinyllama and phi3:mini in dev hub for experimentation
  deployments/dev/images/default/postBuild
Labels: bash, singleuser-image, hub: dev

#5841 add postBuild to the Dockerfile
  deployments/dev/images/default/Dockerfile
  deployments/dev/images/default/postBuild
Labels: bash, dockerfile, singleuser-image, hub: dev

#5843 merging 5824/5839/5841 to prod
  .yamllint.yaml
  deployments/dev/images/default/Dockerfile
  deployments/dev/images/default/postBuild
Labels: bash, dockerfile, singleuser-image, hub: dev

#5840 [DH-227] i ran yamllint and fixed all of the pertinent errors
  .circleci/config.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/cpu_template.yml
  .github/ISSUE_TEMPLATE/data_archival_request.yml
  .github/ISSUE_TEMPLATE/package_request.yml
  .github/ISSUE_TEMPLATE/performance_issue.yml
  .github/ISSUE_TEMPLATE/resourcescheduler.yml
  .github/workflows/prevent-prod-merges.yml
  .sops.yaml
  .yamllint.yaml
  chartpress.yaml
  deployments/a11y/image/environment.yml
  deployments/cee/image/environment.yml
  deployments/data100/config/common.yaml
  deployments/data101/config/common.yaml
  deployments/data102/config/common.yaml
  deployments/data102/hubploy.yaml
  deployments/data102/image/environment.yml
  deployments/data8/config/common.yaml
  deployments/data8/hubploy.yaml
  deployments/dev/config/common.yaml
  deployments/stat159/image/environment.yml
  deployments/stat20/image/environment.yml
  deployments/workshop/hubploy.yaml
  support/templates/pd-ssd.yaml
  vendor/google/gke/node-pool/config/core-pool-sysctl.yaml
Labels: build-infra, hub: stat20, configuration, singleuser-image, hub: stat159, hub: a11y, hub: data102, hub: cee, hub: data100, hub: data101, hub: data8, hub: workshop, issue-templates, helm-config, support-deployment, hub: dev

#5846 [DH-305] ensure Qt export options are disabled and webpdf is enabled
  deployments/astro/config/common.yaml
  deployments/biology/config/common.yaml
  deployments/data100/config/common.yaml
  deployments/data101/config/common.yaml
  deployments/data102/config/common.yaml
  deployments/data8/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/dlab/config/common.yaml
  deployments/eecs/config/common.yaml
  deployments/ischool/config/common.yaml
  deployments/julia/config/common.yaml
  deployments/prob140/config/common.yaml
  deployments/publichealth/config/common.yaml
  deployments/r/config/common.yaml
Labels: configuration, hub: astro, hub: datahub, hub: data102, hub: dlab, hub: biology, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: prob140, hub: publichealth, hub: r

#5848 Remove postbuild file installing Ollama in Dev hub
  deployments/dev/images/default/Dockerfile
  deployments/dev/images/default/postBuild
Labels: bash, dockerfile, singleuser-image, hub: dev

#5850 Data 6: Increase RAM to 2 GB & provide enhanced privileges for course staff
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#5845 merging 5840/5846/5848/5850 to prod
  .circleci/config.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/cpu_template.yml
  .github/ISSUE_TEMPLATE/data_archival_request.yml
  .github/ISSUE_TEMPLATE/package_request.yml
  .github/ISSUE_TEMPLATE/performance_issue.yml
  .github/ISSUE_TEMPLATE/resourcescheduler.yml
  .github/workflows/prevent-prod-merges.yml
  .sops.yaml
  .yamllint.yaml
  chartpress.yaml
  deployments/a11y/image/environment.yml
  deployments/astro/config/common.yaml
  deployments/biology/config/common.yaml
  deployments/cee/image/environment.yml
  deployments/data100/config/common.yaml
  deployments/data101/config/common.yaml
  deployments/data102/config/common.yaml
  deployments/data102/hubploy.yaml
  deployments/data102/image/environment.yml
  deployments/data8/config/common.yaml
  deployments/data8/hubploy.yaml
  deployments/datahub/config/common.yaml
  deployments/dev/config/common.yaml
  deployments/dev/images/default/Dockerfile
  deployments/dev/images/default/postBuild
  deployments/dlab/config/common.yaml
  deployments/eecs/config/common.yaml
  deployments/ischool/config/common.yaml
  deployments/julia/config/common.yaml
  deployments/prob140/config/common.yaml
  deployments/publichealth/config/common.yaml
  deployments/r/config/common.yaml
  deployments/stat159/image/environment.yml
  deployments/stat20/image/environment.yml
  deployments/workshop/hubploy.yaml
  support/templates/pd-ssd.yaml
  vendor/google/gke/node-pool/config/core-pool-sysctl.yaml
Labels: build-infra, hub: stat20, bash, dockerfile, configuration, singleuser-image, hub: astro, hub: stat159, hub: datahub, hub: a11y, hub: data102, hub: dlab, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: prob140, hub: publichealth, hub: r, hub: workshop, issue-templates, helm-config, support-deployment, hub: dev

#5832 address dependabot issues
  deployments/a11y/image/environment.yml
  deployments/datahub/images/default/requirements.txt.disabled
  images/node-placeholder-scaler/requirements.in
  images/node-placeholder-scaler/requirements.txt
  requirements.txt
Labels: configuration, singleuser-image, hub-images, hub: datahub, hub: a11y, node-placeholder-scaler

#5854 remove `requirements.txt.disabled` as it's disabled
  deployments/datahub/images/default/requirements.txt.disabled
Labels: singleuser-image, hub: datahub

#5856 [DH-323] fixes DH-323
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#5851 Clean up Dev hub's dashboard image and install mystmd,voila and voici packages
  deployments/dev/images/secondary/environment.yml
Labels: configuration, singleuser-image, hub: dev

#5859 [DH-324] pin jupytext on hubs that need it
  deployments/a11y/image/environment.yml
  deployments/data100/image/environment.yml
  deployments/data101/image/environment.yml
  deployments/data102/image/environment.yml
  deployments/data8/image/environment.yml
  deployments/edx/image/environment.yml
  deployments/logodev/image/environment.yml
  deployments/publichealth/image/environment.yml
  deployments/stat159/image/environment.yml
Labels: configuration, singleuser-image, hub: stat159, hub: a11y, hub: data102, hub: data100, hub: data101, hub: data8, hub: logodev, hub: publichealth, hub: edx

#5863 [DH-325] make webpdf export work for data8
  deployments/data8/image/apt.txt
  deployments/data8/image/environment.yml
  deployments/data8/image/postBuild
  deployments/data8/image/start
Labels: bash, configuration, singleuser-image, hub: data8

#5864 [DH-326] make webpdf export work for eecs
  deployments/eecs/image/apt.txt
  deployments/eecs/image/environment.yml
  deployments/eecs/image/postBuild
  deployments/eecs/image/start
Labels: bash, configuration, singleuser-image, hub: eecs

#5866 [DH-327] make webpdf work for ischool
  deployments/ischool/image/Dockerfile
  deployments/ischool/image/environment.yml
Labels: dockerfile, configuration, singleuser-image, hub: ischool

#5867 [DH-328] make webpdf export work for data101
  deployments/data101/image/apt.txt
  deployments/data101/image/environment.yml
  deployments/data101/image/postBuild
  deployments/data101/image/start
Labels: bash, configuration, singleuser-image, hub: data101

#5868 [DH-329] make webpdf export work for data102
  deployments/data102/image/apt.txt
  deployments/data102/image/environment.yml
  deployments/data102/image/postBuild
  deployments/data102/image/start
Labels: bash, configuration, singleuser-image, hub: data102

#5869 [DH-330] make webpdf export work for julia
  deployments/julia/image/Dockerfile
  deployments/julia/image/apt.txt
  deployments/julia/image/environment.yml
Labels: dockerfile, configuration, singleuser-image, hub: julia

#5872 [DH-331] make webpdf export work for publichealth
  deployments/publichealth/image/Dockerfile
  deployments/publichealth/image/environment.yml
Labels: dockerfile, configuration, singleuser-image, hub: publichealth

#5874 [DH-333] making webpdf export work for astro
  deployments/astro/image/apt.txt
  deployments/astro/image/environment.yml
  deployments/astro/image/postBuild
  deployments/astro/image/start
Labels: bash, configuration, singleuser-image, hub: astro

#5875 [DH-330] adding strace to try and debug 100% cpu issue with chromium
  deployments/julia/image/apt.txt
Labels: configuration, singleuser-image, hub: julia

#5876 [DH-330] trying dependency install
  deployments/julia/image/Dockerfile
Labels: dockerfile, singleuser-image, hub: julia

#5871 Increase RAM to 4 GB for Data 100 SU 24 Project!
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#5878 [DH-330] disabling webpdf due to DISPLAY variable causing breakage
  deployments/julia/config/common.yaml
Labels: configuration, hub: julia

#5870 Enable gh-scoped-creds for datahub admins based on their bcourses group affiliation in Dev hub
  deployments/dev/config/common.yaml
Labels: configuration, hub: dev

#5860 merging 5832/5851/5854/5856/5859/5863/5864/5866/5867/5869/5870/5871/5872/5874/5875/5876/5877/5878 to prod
  deployments/a11y/image/environment.yml
  deployments/astro/image/apt.txt
  deployments/astro/image/environment.yml
  deployments/astro/image/postBuild
  deployments/astro/image/start
  deployments/biology/image/Dockerfile
  deployments/biology/image/environment.yml
  deployments/data100/config/common.yaml
  deployments/data100/image/environment.yml
  deployments/data101/image/apt.txt
  deployments/data101/image/environment.yml
  deployments/data101/image/postBuild
  deployments/data101/image/start
  deployments/data102/image/apt.txt
  deployments/data102/image/environment.yml
  deployments/data102/image/postBuild
  deployments/data102/image/start
  deployments/data8/image/apt.txt
  deployments/data8/image/environment.yml
  deployments/data8/image/postBuild
  deployments/data8/image/start
  deployments/datahub/images/default/environment.yml
  deployments/datahub/images/default/requirements.txt.disabled
  deployments/dev/config/common.yaml
  deployments/dev/images/secondary/environment.yml
  deployments/edx/image/environment.yml
  deployments/eecs/image/apt.txt
  deployments/eecs/image/environment.yml
  deployments/eecs/image/postBuild
  deployments/eecs/image/start
  deployments/ischool/image/Dockerfile
  deployments/ischool/image/environment.yml
  deployments/julia/config/common.yaml
  deployments/julia/image/Dockerfile
  deployments/julia/image/apt.txt
  deployments/julia/image/environment.yml
  deployments/logodev/image/environment.yml
  deployments/publichealth/image/Dockerfile
  deployments/publichealth/image/environment.yml
  deployments/stat159/image/environment.yml
  images/node-placeholder-scaler/requirements.in
  images/node-placeholder-scaler/requirements.txt
  requirements.txt
Labels: bash, dockerfile, configuration, singleuser-image, hub-images, hub: astro, hub: stat159, hub: datahub, hub: a11y, hub: data102, hub: biology, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: logodev, hub: publichealth, node-placeholder-scaler, hub: edx, hub: dev

#5880 [DH-227] fixing python linter errors
  deployments/biology/image/patches/ncbiquery.py
  deployments/data8/image/ipython_config.py
  deployments/edx/image/ipython_config.py
  images/node-placeholder-scaler/scaler/scaler.py
  scripts/delete-unused-users.py
  scripts/git-pre-cloner.py
Labels: python, singleuser-image, hub-images, hub: biology, hub: data8, node-placeholder-scaler, hub: edx

#5879 Add jupyter-a11y checker extension to data101 image
  deployments/data101/image/environment.yml
Labels: configuration, singleuser-image, hub: data101

#5881 [DH-334] setting WebPDFExporter.embed_images = True on datahub
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#5883 Enable elevated privilege for COMPS202 instructors
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#5884 Merge 5879, 5880, 5881 & 5883 to prod
  deployments/biology/image/patches/ncbiquery.py
  deployments/data101/image/environment.yml
  deployments/data8/image/ipython_config.py
  deployments/datahub/config/common.yaml
  deployments/edx/image/ipython_config.py
  images/node-placeholder-scaler/scaler/scaler.py
  scripts/delete-unused-users.py
  scripts/git-pre-cloner.py
Labels: python, configuration, singleuser-image, hub-images, hub: datahub, hub: biology, hub: data101, hub: data8, node-placeholder-scaler, hub: edx

#5887 [DH-319] Add ESPM 157 specific packages and enable gh-scoped-creds config
  deployments/datahub/config/common.yaml
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#5890 debump requests from latest version to unstick our builds
  requirements.txt
Labels: configuration

#5891 also debump urllib3
  requirements.txt
Labels: configuration

#5889 [DH-306] new user image doc
  docs/admins/howto/index.rst
  docs/admins/howto/new-image.rst
  docs/conf.py
  docs/users/index.rst
Labels: documentation, python

#5892 Replacing ibis-framework python package with ibis-framework[pandas]
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#5894 [DH-301] testing PR creation step for logodev image build from it's own repo
  .circleci/config.yml
  deployments/logodev/hubploy.yaml
Labels: build-infra, configuration, hub: logodev

#5893 merging 5887/5889/5890/5891/5892/5894 to prod
  .circleci/config.yml
  deployments/datahub/config/common.yaml
  deployments/datahub/images/default/environment.yml
  deployments/logodev/hubploy.yaml
  docs/admins/howto/index.rst
  docs/admins/howto/new-image.rst
  docs/conf.py
  docs/users/index.rst
  requirements.txt
Labels: documentation, build-infra, python, configuration, singleuser-image, hub: datahub, hub: logodev

#5896 [DH-339] Add shared directory for MBA247
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#5898 [DH-334] enable c.WebPDFExporter.embed_images = True for webpdf hubs
  deployments/astro/config/common.yaml
  deployments/biology/config/common.yaml
  deployments/data100/config/common.yaml
  deployments/data101/config/common.yaml
  deployments/data102/config/common.yaml
  deployments/data8/config/common.yaml
  deployments/dlab/config/common.yaml
  deployments/eecs/config/common.yaml
  deployments/ischool/config/common.yaml
  deployments/julia/config/common.yaml
  deployments/prob140/config/common.yaml
  deployments/publichealth/config/common.yaml
  deployments/r/config/common.yaml
Labels: configuration, hub: astro, hub: data102, hub: dlab, hub: biology, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: prob140, hub: publichealth, hub: r
