Repository berkeley-dsep-infra/datahub, pull requests merged in 2024-11, with the labels that each got.

#6449 update a11y image tag to 9734acc88b90
  deployments/a11y/hubploy.yaml
Labels: configuration, hub: a11y

#6450 Updated README - pre-commit config
  README.md
Labels: documentation

#6451 small readability updates to the readme
  README.md
Labels: documentation

#6452 merging 6449/6450/6451 to prod
  README.md
  deployments/a11y/hubploy.yaml
Labels: documentation, configuration, hub: a11y

#6454 Add stanza to enable shared directory for ib134l course
  deployments/biology/config/common.yaml
Labels: configuration, hub: biology

#6457 remove old script, update readme
  scripts/user-image-management/README.md
  scripts/user-image-management/manage-image-repos.py
Labels: documentation, python

#6455 Merge 6454, 6456, 6457 to prod
  .pre-commit-config.yaml
  deployments/biology/config/common.yaml
  scripts/user-image-management/README.md
  scripts/user-image-management/manage-image-repos.py
Labels: documentation, python, configuration, hub: biology

#6460 Enable elevated privileges for data100 course staff
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#6463 update data100 image tag to 9767c87d1084
  deployments/data100/hubploy.yaml
Labels: configuration, hub: data100

#6464 [DH-384] update datahub image tag to 32dc6f548a15
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, hub: highschool

#6465 update datahub image tag to c8ba144738b5
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, hub: highschool

#6466 merging 6460/6463/6464/6465 to prod
  deployments/data100/config/common.yaml
  deployments/data100/hubploy.yaml
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
  docs/admins/cluster-config.qmd
Labels: documentation, configuration, hub: datahub, hub: dlab, hub: data100, hub: prob140, hub: r, hub: workshop, hub: highschool

#6447 [DH-377] bump default tcp available port range
  hub/values.yaml
Labels: configuration, helm-config, jupyterhub-deployment

#6470 fix shared-readwrite mounts for IBL-134L
  deployments/biology/config/common.yaml
Labels: configuration, hub: biology

#6474 Fix path across configs in data100 and bio hub
  deployments/biology/config/common.yaml
  deployments/data100/config/common.yaml
Labels: configuration, hub: biology, hub: data100

#6475 update data100 image tag to 64cf9be1e13a
  deployments/data100/hubploy.yaml
Labels: configuration, hub: data100

#6476 update nature image tag to 3bb833222610
  deployments/nature/hubploy.yaml
Labels: configuration, hub: nature

#6478 update nature image tag to 5e8a9c7735f9
  deployments/nature/hubploy.yaml
Labels: configuration, hub: nature

#6471 merging 6447/6470/6474/6475/6476 to prod
  deployments/biology/config/common.yaml
  deployments/data100/config/common.yaml
  deployments/data100/hubploy.yaml
  deployments/nature/hubploy.yaml
  hub/values.yaml
Labels: configuration, hub: biology, hub: data100, helm-config, jupyterhub-deployment, hub: nature

#6479 update biology image tag to 4fad3e66cf55
  deployments/biology/hubploy.yaml
Labels: configuration, hub: biology

#6480 merging 6479 to prod
  deployments/biology/hubploy.yaml
Labels: configuration, hub: biology

#6482 Remove the CTA for shared directory name
  .github/ISSUE_TEMPLATE/shared_directories.yml
Labels: issue-templates

#6483 update logodev image tag to 729fb9dc9373
  deployments/logodev/hubploy.yaml
Labels: configuration, hub: logodev

#6484 Increase RAM for IB 134L course in Bio Hub
  deployments/biology/config/common.yaml
Labels: configuration, hub: biology

#6486 update a11y image tag to b3796e35c42c
  deployments/a11y/hubploy.yaml
Labels: configuration, hub: a11y

#6487 Merge 6482, 6483, 6484 and 6486 to prod
  .github/ISSUE_TEMPLATE/shared_directories.yml
  deployments/a11y/hubploy.yaml
  deployments/biology/config/common.yaml
  deployments/logodev/hubploy.yaml
Labels: configuration, hub: a11y, hub: biology, hub: logodev, issue-templates

#6488 update nature image tag to af4ec86477a4
  deployments/nature/hubploy.yaml
Labels: configuration, hub: nature

#6489 update nature image tag to 7ea78449c906
  deployments/nature/hubploy.yaml
Labels: configuration, hub: nature

#6490 update a11y image tag to 6515cad7fcf5
  deployments/a11y/hubploy.yaml
Labels: configuration, hub: a11y

#6491 Debump MCB 201B RAM in Bio Hub!
  deployments/biology/config/common.yaml
Labels: configuration, hub: biology

#6494 Enable shared directories in a11y hub
  deployments/a11y/config/common.yaml
Labels: configuration, hub: a11y

#6495 Make it clear that the default RAM is 1 GB
  .github/ISSUE_TEMPLATE/higher-resources.md
Labels: issue-templates

#6496 Increase Data 101 Hub's RAM to 3 GB
  deployments/data101/config/common.yaml
Labels: configuration, hub: data101

#6497 remove extra comment and fix typo
  .github/workflows/deploy-node-placeholder.yaml
Labels: build-infra

#6493 merging 6488/6489/6490/6491/6494/6495/6496/6497 to prod
  .github/ISSUE_TEMPLATE/higher-resources.md
  .github/workflows/deploy-node-placeholder.yaml
  deployments/a11y/config/common.yaml
  deployments/a11y/hubploy.yaml
  deployments/biology/config/common.yaml
  deployments/data101/config/common.yaml
  deployments/nature/hubploy.yaml
Labels: build-infra, configuration, hub: a11y, hub: biology, hub: data101, issue-templates, hub: nature

#6501 merging 6499 to prod
  deployments/data100/hubploy.yaml
Labels: configuration, hub: data100

#6502 update stat20 image tag to bb9fd02a8258
  deployments/stat20/hubploy.yaml
Labels: hub: stat20, configuration

#6504 Merge #6502.
  deployments/stat20/hubploy.yaml
Labels: hub: stat20, configuration

#6505 Add local repo2docker information.
  docs/_quarto.yml
  docs/tasks/new-image.qmd
  docs/tasks/repo2docker-local.qmd
Labels: documentation, configuration

#6503 [DH-208] Add docs for semester start and end tasks
  docs/_quarto.yml
  docs/tasks/semester-start-end-tasks.qmd
Labels: documentation, configuration

#6508 Enable admin access and add Eric as one of the admins in workshop hub
  deployments/workshop/config/common.yaml
Labels: configuration, hub: workshop

#6511 merging 6503/6505/6508 to prod
  deployments/workshop/config/common.yaml
  docs/_quarto.yml
  docs/tasks/new-image.qmd
  docs/tasks/repo2docker-local.qmd
  docs/tasks/semester-start-end-tasks.qmd
Labels: documentation, configuration, hub: workshop

#6512 Add config to enable ollama based workflow in a11y hub
  deployments/a11y/config/common.yaml
Labels: configuration, hub: a11y
