Repository berkeley-dsep-infra/datahub, pull requests merged in 2024-08, with the labels that each got.

#5897 Merge #5896, #5898 to prod
  deployments/astro/config/common.yaml
  deployments/biology/config/common.yaml
  deployments/data100/config/common.yaml
  deployments/data101/config/common.yaml
  deployments/data102/config/common.yaml
  deployments/data8/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/dlab/config/common.yaml
  deployments/eecs/config/common.yaml
  deployments/ischool/config/common.yaml
  deployments/julia/config/common.yaml
  deployments/prob140/config/common.yaml
  deployments/publichealth/config/common.yaml
  deployments/r/config/common.yaml
Labels: configuration, hub: astro, hub: datahub, hub: data102, hub: dlab, hub: biology, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: prob140, hub: publichealth, hub: r

#5844 UGR GKE as GCP Deployments; minor docs edit
  .circleci/config.yml
  deployments/ugr01/config/common.yaml
  deployments/ugr01/config/filestore/squash-flags.json
  deployments/ugr01/config/prod.yaml
  deployments/ugr01/config/staging.yaml
  deployments/ugr01/hubploy.yaml
  deployments/ugr01/image/apt.txt
  deployments/ugr01/image/environment.yml
  deployments/ugr01/image/infra-requirements.txt
  deployments/ugr01/image/postBuild
  deployments/ugr01/image/start
  deployments/ugr01/secrets/prod.yaml
  deployments/ugr01/secrets/staging.yaml
  docs/admins/cluster-config.rst
  vendor/google/ugr/README.md
  vendor/google/ugr/gke/configs/gke_ugresearch.yaml
  vendor/google/ugr/gke/configs/node_pool_ugr01.yaml
  vendor/google/ugr/gke/deploy_gke_ugr.sh
  vendor/google/ugr/gke/deploy_node_pool_ugr01.sh
  vendor/google/ugr/gke/templates/gke_template.py
  vendor/google/ugr/gke/templates/node_pool_template.py
Labels: documentation, build-infra, python, bash, configuration, singleuser-image

#5899 Add GCP .json secrets to ugr01 deployment
  deployments/ugr01/secrets/gcr-key.json
  deployments/ugr01/secrets/gke-key.json
Labels: configuration

#5901 [DH-340 and 341] Add jupyter_app_launcher and jupyter-cache packages to dashboard image in Dev hub
  deployments/dev/images/secondary/environment.yml
Labels: configuration, singleuser-image, hub: dev

#5904 Debump RAM increase to 4 GB for a Data 100 assignment
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#5905 fix docs builds
  docs/conf.py
Labels: documentation, python

#5909 Enable gh-scoped-creds on dev hub.
  deployments/dev/config/common.yaml
Labels: configuration, hub: dev

#5910 Remove group-specific vars.
  deployments/dev/config/common.yaml
Labels: configuration, hub: dev

#5912 Add tools for summer workshop.
  deployments/datahub/images/default/apt.txt
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#5916 Enable man.
  deployments/datahub/images/default/Dockerfile
Labels: dockerfile, singleuser-image, hub: datahub

#5917 Ugrgke
  deployments/ugr01/config/common.yaml
  deployments/ugr01/config/staging.yaml
Labels: configuration

#5918 correcting load balancer IP
  deployments/ugr01/config/staging.yaml
Labels: configuration

#5919 Merge #5844, #5899, #5901, #5904, #5905, #5909, #5910, #5912, #5916, #5917, #5918
  .circleci/config.yml
  deployments/data100/config/common.yaml
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/apt.txt
  deployments/datahub/images/default/environment.yml
  deployments/dev/config/common.yaml
  deployments/dev/images/secondary/environment.yml
  deployments/ugr01/config/common.yaml
  deployments/ugr01/config/filestore/squash-flags.json
  deployments/ugr01/config/prod.yaml
  deployments/ugr01/config/staging.yaml
  deployments/ugr01/hubploy.yaml
  deployments/ugr01/image/apt.txt
  deployments/ugr01/image/environment.yml
  deployments/ugr01/image/infra-requirements.txt
  deployments/ugr01/image/postBuild
  deployments/ugr01/image/start
  deployments/ugr01/secrets/gcr-key.json
  deployments/ugr01/secrets/gke-key.json
  deployments/ugr01/secrets/prod.yaml
  deployments/ugr01/secrets/staging.yaml
  docs/admins/cluster-config.rst
  docs/conf.py
  vendor/google/ugr/README.md
  vendor/google/ugr/gke/configs/gke_ugresearch.yaml
  vendor/google/ugr/gke/configs/node_pool_ugr01.yaml
  vendor/google/ugr/gke/deploy_gke_ugr.sh
  vendor/google/ugr/gke/deploy_node_pool_ugr01.sh
  vendor/google/ugr/gke/templates/gke_template.py
  vendor/google/ugr/gke/templates/node_pool_template.py
Labels: documentation, build-infra, python, bash, dockerfile, configuration, singleuser-image, hub: datahub, hub: data100, hub: dev

#5921 trying to add https to ugr01
  deployments/ugr01/config/staging.yaml
Labels: configuration

#5922 [DH-306] fixes https and user nodepool
  deployments/ugr01/config/common.yaml
Labels: configuration

#5925 Update the features page.
  docs/_quarto.yml
  docs/users/features.qmd
  docs/users/services.qmd
Labels: documentation, configuration

#5926 Clean up formatting and syntax.
  docs/_quarto.yml
  docs/admins/howto/core-pool.qmd
  docs/admins/howto/new-hub.qmd
  docs/admins/howto/preview-local.qmd
  docs/admins/howto/rebuild-hub-image.qmd
  docs/admins/howto/rebuild-postgres-image.qmd
Labels: documentation, configuration

#5929 Update formatting.
  docs/admins/howto/remove-users-orm.qmd
Labels: documentation

#5930 Add CNAME as quarto resource.
  docs/CNAME
  docs/_quarto.yml
Labels: documentation, configuration

#5931 Change formatting.
  docs/admins/howto/new-image.qmd
Labels: documentation

#5932 nfs and load balancer fixes
  deployments/ugr01/config/common.yaml
  deployments/ugr01/config/prod.yaml
Labels: configuration

#5934 [DH-306] adding ugr01 to PR labeller
  .github/labeler.yml
Labels: build-infra

#5933 merging 5929/5930/5931/5932/5934 to prod
  .github/labeler.yml
  deployments/ugr01/config/common.yaml
  deployments/ugr01/config/prod.yaml
  docs/CNAME
  docs/_quarto.yml
  docs/admins/howto/new-image.qmd
  docs/admins/howto/remove-users-orm.qmd
Labels: documentation, build-infra, configuration, hub: ugr01

#5935 Create en/latest symlink.
  .github/workflows/quarto-docs.yml
Labels: build-infra

#5936 Fix indentation.
  .github/workflows/quarto-docs.yml
Labels: build-infra

#5937 Update information about documentation.
  docs/admins/structure.qmd
Labels: documentation

#5938 Restore old action, and fix links.
  .github/workflows/quarto-docs.yml
  docs/admins/howto/calendar-scaler.qmd
  docs/admins/howto/clusterswitch.qmd
  docs/admins/howto/new-hub.qmd
Labels: documentation, build-infra

#5939 Fix admins link.
  docs/admins/howto/new-hub.qmd
Labels: documentation

#5940 Use listing for hubs.
  docs/_quarto.yml
  docs/admins/deployments/datahub.qmd
  docs/admins/deployments/index.qmd
  docs/users/authentication.qmd
  docs/users/hubs.qmd
  docs/users/hubs/data100.qmd
  docs/users/hubs/data102.qmd
  docs/users/hubs/datahub.qmd
  docs/users/hubs/edx.qmd
  docs/users/hubs/prob140.qmd
  docs/users/hubs/r.qmd
  docs/users/hubs/shiny.qmd
  docs/users/hubs/stat159.qmd
  docs/users/hubs/stat20.qmd
Labels: documentation, configuration

#5941 Fix links and aliases.
  docs/_quarto.yml
  docs/users/hubs/datahub.qmd
  docs/users/hubs/stat159.qmd
Labels: documentation, configuration

#5942 Update categories.
  docs/users/hubs/data100.qmd
  docs/users/hubs/data102.qmd
  docs/users/hubs/prob140.qmd
  docs/users/hubs/shiny.qmd
  docs/users/hubs/stat159.qmd
  docs/users/hubs/stat20.qmd
Labels: documentation

#5944 [DH-349] commenting out some old package requests
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#5945 [DH-337] upgrade R, R studio to latest version on hubs
  deployments/biology/image/Dockerfile
  deployments/biology/image/Rprofile.site
  deployments/biology/image/rsession.conf
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/Rprofile.site
  deployments/dev/images/default/Dockerfile
  deployments/dev/images/default/Rprofile.site
  deployments/ischool/image/Dockerfile
  deployments/publichealth/image/Dockerfile
  deployments/shiny/image/Dockerfile
  deployments/stat20/image/Dockerfile
Labels: hub: stat20, dockerfile, singleuser-image, hub: datahub, hub: shiny, hub: biology, hub: ischool, hub: publichealth, hub: dev

#5915 Set up ESPM 157 course for FA 24 (Round 2)
  deployments/datahub/config/common.yaml
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/environment.yml
Labels: dockerfile, configuration, singleuser-image, hub: datahub

#5951 bumping labeler to v5
  .github/workflows/labeler.yml
Labels: build-infra

#5950 merging 5915/5935/5936/5937/5938/5939/5940/5941/5942/5944/5945/5948/5951/5952/5953 to prod
  deployments/biology/image/Dockerfile
  deployments/biology/image/Rprofile.site
  deployments/biology/image/rsession.conf
  deployments/datahub/config/common.yaml
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/Rprofile.site
  deployments/datahub/images/default/environment.yml
  deployments/datahub/images/default/r-packages/2023-fall-mba-247.r
  deployments/dev/images/default/Dockerfile
  deployments/dev/images/default/Rprofile.site
  deployments/ischool/image/Dockerfile
  deployments/publichealth/image/Dockerfile
  deployments/shiny/image/Dockerfile
  deployments/stat20/image/Dockerfile
  docs/_quarto.yml
  docs/admins/deployments/datahub.qmd
  docs/admins/deployments/index.qmd
  docs/admins/howto/calendar-scaler.qmd
  docs/admins/howto/clusterswitch.qmd
  docs/admins/howto/documentation.qmd
  docs/admins/howto/new-hub.qmd
  docs/admins/howto/preview-local.qmd
  docs/admins/structure.qmd
  docs/users/authentication.qmd
  docs/users/hubs.qmd
  docs/users/hubs/data100.qmd
  docs/users/hubs/data102.qmd
  docs/users/hubs/datahub.qmd
  docs/users/hubs/edx.qmd
  docs/users/hubs/prob140.qmd
  docs/users/hubs/r.qmd
  docs/users/hubs/shiny.qmd
  docs/users/hubs/stat159.qmd
  docs/users/hubs/stat20.qmd
Labels: documentation, hub: stat20, dockerfile, configuration, singleuser-image, hub: datahub, hub: shiny, hub: biology, hub: ischool, hub: publichealth, R-code, hub: dev

#5920 Reinstall coreutils to get man pages.
  deployments/datahub/images/default/Dockerfile
Labels: dockerfile, singleuser-image, hub: datahub

#5954 [DH-343] moving data102 to small-courses-filestore
  deployments/data102/config/common.yaml
Labels: configuration, hub: data102

#5955 [DH-355] update chp to 4.6.2
  hub/Chart.yaml
  hub/values.yaml
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: configuration, node-placeholder-deployment, helm-config, jupyterhub-deployment

#5959 [DH-343] moving dlab and publichealth to small-course-filestore
  deployments/dlab/config/common.yaml
  deployments/publichealth/config/common.yaml
Labels: configuration, hub: dlab, hub: publichealth

#5956 merging 5920/5954/5955/5959 to prod
  deployments/data102/config/common.yaml
  deployments/datahub/images/default/Dockerfile
  deployments/dlab/config/common.yaml
  deployments/publichealth/config/common.yaml
  hub/Chart.yaml
  hub/values.yaml
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: dockerfile, configuration, singleuser-image, hub: datahub, hub: data102, hub: dlab, hub: publichealth, node-placeholder-deployment, helm-config, jupyterhub-deployment

#5957 [DH-356] bump jupyterhub
  deployments/a11y/image/environment.yml
  deployments/a11y/image/infra-requirements.txt
  deployments/astro/image/environment.yml
  deployments/astro/image/infra-requirements.txt
  deployments/biology/image/infra-requirements.txt
  deployments/cee/image/infra-requirements.txt
  deployments/data100/image/environment.yml
  deployments/data100/image/infra-requirements.txt
  deployments/data101/image/environment.yml
  deployments/data101/image/infra-requirements.txt
  deployments/data102/image/environment.yml
  deployments/data102/image/infra-requirements.txt
  deployments/data8/image/environment.yml
  deployments/data8/image/infra-requirements.txt
  deployments/datahub/images/default/infra-requirements.txt
  deployments/dev/images/default/infra-requirements.txt
  deployments/dev/images/secondary/environment.yml
  deployments/dev/images/secondary/infra-requirements.txt
  deployments/edx/image/environment.yml
  deployments/edx/image/infra-requirements.txt
  deployments/eecs/image/infra-requirements.txt
  deployments/ischool/image/infra-requirements.txt
  deployments/julia/image/infra-requirements.txt
  deployments/logodev/image/environment.yml
  deployments/logodev/image/infra-requirements.txt
  deployments/publichealth/image/infra-requirements.txt
  deployments/shiny/image/environment.yml
  deployments/shiny/image/infra-requirements.txt
  deployments/stat159/image/environment.yml
  deployments/stat159/image/infra-requirements.txt
  deployments/stat20/image/infra-requirements.txt
  deployments/ugr01/image/environment.yml
  deployments/ugr01/image/infra-requirements.txt
  hub/Chart.yaml
  hub/requirements.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
  scripts/infra-packages/requirements.txt
Labels: hub: stat20, dockerfile, configuration, singleuser-image, hub-images, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: logodev, hub: publichealth, node-placeholder-deployment, helm-config, jupyterhub-deployment, hub: edx, hub: dev, hub: ugr01

#5961 merging 5957 to prod
  deployments/a11y/image/environment.yml
  deployments/a11y/image/infra-requirements.txt
  deployments/astro/image/environment.yml
  deployments/astro/image/infra-requirements.txt
  deployments/biology/image/infra-requirements.txt
  deployments/cee/image/infra-requirements.txt
  deployments/data100/image/environment.yml
  deployments/data100/image/infra-requirements.txt
  deployments/data101/image/environment.yml
  deployments/data101/image/infra-requirements.txt
  deployments/data102/image/environment.yml
  deployments/data102/image/infra-requirements.txt
  deployments/data8/image/environment.yml
  deployments/data8/image/infra-requirements.txt
  deployments/datahub/images/default/infra-requirements.txt
  deployments/dev/images/default/infra-requirements.txt
  deployments/dev/images/secondary/environment.yml
  deployments/dev/images/secondary/infra-requirements.txt
  deployments/edx/image/environment.yml
  deployments/edx/image/infra-requirements.txt
  deployments/eecs/image/infra-requirements.txt
  deployments/ischool/image/infra-requirements.txt
  deployments/julia/image/infra-requirements.txt
  deployments/logodev/image/environment.yml
  deployments/logodev/image/infra-requirements.txt
  deployments/publichealth/image/infra-requirements.txt
  deployments/shiny/image/environment.yml
  deployments/shiny/image/infra-requirements.txt
  deployments/stat159/image/environment.yml
  deployments/stat159/image/infra-requirements.txt
  deployments/stat20/image/infra-requirements.txt
  deployments/ugr01/image/environment.yml
  deployments/ugr01/image/infra-requirements.txt
  hub/Chart.yaml
  hub/requirements.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
  scripts/infra-packages/requirements.txt
Labels: hub: stat20, dockerfile, configuration, singleuser-image, hub-images, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: logodev, hub: publichealth, node-placeholder-deployment, helm-config, jupyterhub-deployment, hub: edx, hub: dev, hub: ugr01

#5962 [DH-227] add github workflow for linting yaml
  .github/workflows/yaml-lint.yaml
  requirements.txt
Labels: build-infra, configuration

#5963 testing yamllint
  .github/workflows/yaml-lint.yaml
Labels: build-infra

#5946 Deployment update behavior notes added to ugr vendor gke README.md
  vendor/google/ugr/README.md
Labels: documentation

#5965 [DH-301] fix the name of the GKE secret
  .github/workflows/deploy-to-staging.yaml
Labels: build-infra

#5966 [DH-301] testing hubploy
  .github/workflows/deploy-to-staging.yaml
  deployments/logodev/hubploy.yaml
Labels: build-infra, configuration, hub: logodev

#5967 fix bash gymnastics
  .github/workflows/deploy-to-staging.yaml
Labels: build-infra

#5969 [DH-301] set env var for sops to use for auth
  .github/workflows/deploy-to-staging.yaml
  deployments/logodev/hubploy.yaml
Labels: build-infra, configuration, hub: logodev

#5970 [DH-301] more sops and github action gymnastics
  .github/workflows/deploy-to-staging.yaml
Labels: build-infra, hub: logodev

#5972 [DH-301] fix broken url for sops download
  .github/workflows/deploy-to-staging.yaml
Labels: build-infra, hub: logodev

#5973 [DH-301] add gke auth plugin
  .github/workflows/deploy-to-staging.yaml
Labels: build-infra, hub: logodev

#5974 turn off staging deploy workflow...
  .github/workflows/deploy-to-staging.yaml.disabled
Labels: build-infra

#5975 merging 5946/5962-5975 to prod
  .github/workflows/deploy-to-staging.yaml.disabled
  .github/workflows/yaml-lint.yaml
  deployments/logodev/hubploy.yaml
  requirements.txt
  vendor/google/ugr/README.md
Labels: documentation, build-infra, configuration, hub: logodev

#5971 env updates for fall2024; change course number and mem reqs
  deployments/astro/config/common.yaml
  deployments/astro/image/environment.yml
Labels: configuration, singleuser-image, hub: astro

#5978 Don't run quarto workflow in forks.
  .github/workflows/quarto-docs.yml
Labels: build-infra

#5979 adding sqlite to allow for astro notebook launch
  deployments/astro/image/environment.yml
Labels: configuration, singleuser-image, hub: astro

#5980 re-add infra reqs file
  deployments/astro/image/environment.yml
Labels: configuration, singleuser-image, hub: astro

#5982 merging 5971/5978/5979/5980 to prod
  .github/workflows/quarto-docs.yml
  deployments/astro/config/common.yaml
  deployments/astro/image/environment.yml
Labels: build-infra, configuration, singleuser-image, hub: astro

#5984 Add missing braces around action conditional.
  .github/workflows/quarto-docs.yml
Labels: build-infra

#5983 [DH-359] bumping seaborn
  deployments/datahub/config/common.yaml
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#5981 [DH-358] Commenting out jupyterlab-myst extension in datahub image!
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#5985 Merging #5984, #5983, #5981 to prod
  .github/workflows/quarto-docs.yml
  deployments/datahub/config/common.yaml
  deployments/datahub/images/default/environment.yml
Labels: build-infra, configuration, singleuser-image, hub: datahub

#5986 [DH-360] bumping placeholder values
  node-placeholder/values.yaml
Labels: configuration, node-placeholder-deployment, helm-config

#5990 enable merge to staging for demo
  .github/workflows/deploy-to-staging.yaml
Labels: build-infra

#5989 update logodev image tag to c44b36bfede9: deployments/logodev/hubploy…
  deployments/logodev/hubploy.yaml
Labels: configuration, hub: logodev

#5991 disabling workflow
  .github/workflows/deploy-to-staging.yaml.disabled
Labels: build-infra

#5977 [DH-301] workflows for support and node placeholder helm charts
  .github/workflows/deploy-node-placeholder.yaml.disabled
  .github/workflows/deploy-support.yaml.disabled
Labels: build-infra

#5992 macs2 for MCELLBI201B
  deployments/biology/image/environment.yml
Labels: configuration, singleuser-image, hub: biology

#5993 [DH-301] `/hub` and `/images` deployment for all hubs
  .github/workflows/deploy-jupyterhub-base-images.yaml
Labels: build-infra, jupyterhub-deployment

#5994 [DH-301] kubectl auth
  .github/workflows/deploy-jupyterhub-base-images.yaml
Labels: build-infra

#5995 [DH-301] Fix kubectl auth and logic for deploying
  .github/workflows/deploy-jupyterhub-base-images.yaml
Labels: build-infra, jupyterhub-deployment

#5996 [DH-301] remove project_id
  .github/workflows/deploy-jupyterhub-base-images.yaml
Labels: build-infra, jupyterhub-deployment

#5997 [DH-301] temp disable this broken base hub image deployment workflow <sadface>
  .github/workflows/deploy-jupyterhub-base-images.yaml.disabled
Labels: build-infra

#6000 [DH-301] use bash instead of kubectl to get deployments from said directory
  .github/workflows/deploy-jupyterhub-base-images.yaml
Labels: build-infra, jupyterhub-deployment

#6002 Add shared-read-write directories in DataHub for COMPSS 214A course
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#5998 merging 5977/5986/5989/5990/5991/5992/5993/5994/5995/5996/5997/6000/6001/6002/6003 to prod
  .github/workflows/deploy-jupyterhub-base-images.yaml
  .github/workflows/deploy-node-placeholder.yaml.disabled
  .github/workflows/deploy-support.yaml.disabled
  deployments/biology/image/environment.yml
  deployments/datahub/config/common.yaml
  deployments/logodev/hubploy.yaml
  node-placeholder/values.yaml
Labels: build-infra, configuration, singleuser-image, hub: datahub, hub: biology, hub: logodev, node-placeholder-deployment, helm-config, jupyterhub-deployment

#6005 [DH-301] testing out node placeholder deploy
  .circleci/config.yml
  .github/workflows/deploy-node-placeholder.yaml
  node-placeholder/values.yaml
Labels: build-infra, configuration, node-placeholder-deployment, helm-config

#6006 [DH-301] fixing workflow to test again
  .circleci/config.yml
  .github/workflows/deploy-node-placeholder.yaml
  node-placeholder/values.yaml
Labels: build-infra, configuration, node-placeholder-deployment, helm-config

#6007 [DH-301] Remove debug from helm
  .github/workflows/deploy-node-placeholder.yaml
  .github/workflows/deploy-support.yaml.disabled
Labels: build-infra, node-placeholder-deployment

#6008 [DH-301] use github actions to deploy support chart
  .circleci/config.yml
  .github/workflows/deploy-support.yaml
Labels: build-infra

#6009 [DH-301] test support deployment
  requirements.txt
Labels: configuration, support-deployment

#6010 merging 6005/6006/6007/6008/6009 to prod
  .circleci/config.yml
  .github/workflows/deploy-node-placeholder.yaml
  .github/workflows/deploy-support.yaml
  requirements.txt
Labels: build-infra, configuration

#5976 [DH-301] clone staging deploy workflow and s/staging/prod/g
  .github/workflows/deploy-to-prod.yaml.disabled
Labels: build-infra

#6019 [DH-301] more tweaking and better logic flow + file rename to something sane
  .github/workflows/deploy-all-hubs.yaml
  .github/workflows/deploy-hubs.yaml
Labels: build-infra, jupyterhub-deployment

#6020 [DH-301] booleans are not behaving in a booleanesque manner
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6021 [DH-301] removing some old debugging text
  .github/workflows/deploy-all-hubs.yaml
Labels: build-infra, jupyterhub-deployment

#6022 merging 5976/6018/6019/6020/6021 to prod
  .github/workflows/deploy-all-hubs.yaml
  .github/workflows/deploy-hubs.yaml
  .github/workflows/deploy-to-staging.yaml.disabled
  .github/workflows/labeler.yml
Labels: build-infra, jupyterhub-deployment

#6017 Add stanza to provide elevated privileges for Prob 140 and Data 8 course staff
  deployments/data8/config/common.yaml
  deployments/prob140/config/common.yaml
Labels: configuration, hub: data8, hub: prob140

#6024 [DH-301] bash conditionals are confusing
  .github/workflows/deploy-hubs.yaml
Labels: build-infra, hub: a11y

#6025 [dh-301] final little tweak for workflow step wording
  .github/workflows/deploy-all-hubs.yaml
Labels: build-infra

#6027 merging 6017/6024/6025 to prod
  .github/workflows/deploy-all-hubs.yaml
  .github/workflows/deploy-hubs.yaml
  deployments/data8/config/common.yaml
  deployments/prob140/config/common.yaml
Labels: build-infra, configuration, hub: data8, hub: prob140

#6030 [DH-301] hopefully fixing bash arrays + parsing
  .github/workflows/deploy-hubs.yaml
Labels: build-infra, hub: astro, hub: dlab

#6029 Add elevated privileges for PH 142 and Data 101 course staff
  deployments/data101/config/common.yaml
  deployments/publichealth/config/common.yaml
Labels: configuration, hub: data101, hub: publichealth

#6031 [DH-301] changing debug output to verbose
  .github/workflows/deploy-all-hubs.yaml
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6033 merging 6029/6030/6031 to prod
  .github/workflows/deploy-all-hubs.yaml
  .github/workflows/deploy-hubs.yaml
  deployments/data101/config/common.yaml
  deployments/publichealth/config/common.yaml
Labels: build-infra, configuration, hub: data101, hub: publichealth

#6038 update version of stat20data package
  deployments/stat20/image/r-packages/2023-fall-stat-20.r
Labels: hub: stat20, singleuser-image, R-code

#6034 Add admins to workshop hub
  deployments/workshop/config/common.yaml
Labels: configuration, hub: workshop

#6035 [DH-301] Python script to replace bash scaffolding in CI/CD and simplify github workflows
  .github/scripts/determine-hub-deployments.py
  .github/workflows/deploy-all-hubs.yaml
  .github/workflows/deploy-hubs.yaml
Labels: build-infra, jupyterhub-deployment

#6040 [DH-301] fixing bash conditionals... again
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6041 bumping datahub placeholders to 2
  node-placeholder/values.yaml
Labels: configuration, node-placeholder-deployment, helm-config, jupyterhub-deployment

#6043 [DH-301] testing for e2e CI/CD for image builds
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6044 [DH-301] update logodev image tag to cb7832b0a131: deployments/logodev/hubploy…
  deployments/logodev/hubploy.yaml
Labels: configuration, hub: logodev

#6045 [DH-301] fix positional args for hubploy
  .github/workflows/deploy-hubs.yaml
Labels: build-infra, hub: logodev

#6046 [DH-301] adding timeout to hubploy
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6042 merging 6034/6035/6040/6041/6043/6044/6045/6046 to prod
  .github/scripts/determine-hub-deployments.py
  .github/workflows/deploy-all-hubs.yaml
  .github/workflows/deploy-hubs.yaml
  deployments/logodev/hubploy.yaml
  deployments/workshop/config/common.yaml
  node-placeholder/values.yaml
Labels: build-infra, configuration, hub: logodev, hub: workshop, node-placeholder-deployment, helm-config

#6047 [DH-301] moving stat159 to new image repo
  .circleci/config.yml
  deployments/stat159/hubploy.yaml
  deployments/stat159/image/apt.txt
  deployments/stat159/image/environment.yml
  deployments/stat159/image/infra-requirements.txt
  deployments/stat159/image/overrides.json
  deployments/stat159/image/postBuild
Labels: build-infra, bash, configuration, singleuser-image, hub: stat159

#6048 [DH-301] allow stat159 to be deployed
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6050 [DH-301] adding README in old stat159/image dir to point people to new image repo
  deployments/stat159/images/README.md
Labels: documentation, singleuser-image, hub: stat159

#6052 merging 6047 -- 6051 to prod
  .circleci/config.yml
  .github/workflows/deploy-hubs.yaml
  deployments/stat159/hubploy.yaml
  deployments/stat159/image/README.md
  deployments/stat159/image/apt.txt
  deployments/stat159/image/environment.yml
  deployments/stat159/image/infra-requirements.txt
  deployments/stat159/image/overrides.json
  deployments/stat159/image/postBuild
Labels: documentation, build-infra, bash, configuration, singleuser-image, hub: stat159

#6053 [DH-361] adding nature hub
  .circleci/config.yml
  .github/labeler.yml
  deployments/nature/config/common.yaml
  deployments/nature/config/filestore/squash-flags.json
  deployments/nature/config/prod.yaml
  deployments/nature/config/staging.yaml
  deployments/nature/hubploy.yaml
  deployments/nature/image/apt.txt
  deployments/nature/image/environment.yml
  deployments/nature/image/postBuild
  deployments/nature/image/start
  deployments/nature/secrets/gcr-key.json
  deployments/nature/secrets/gke-key.json
  deployments/nature/secrets/prod.yaml
  deployments/nature/secrets/staging.yaml
  docs/admins/howto/new-hub.qmd
  node-placeholder/values.yaml
Labels: documentation, build-infra, bash, configuration, singleuser-image, node-placeholder-deployment, helm-config

#6054 [DH-361] merging #6053 nature hub creation to prod
  .circleci/config.yml
  .github/labeler.yml
  deployments/nature/config/common.yaml
  deployments/nature/config/filestore/squash-flags.json
  deployments/nature/config/prod.yaml
  deployments/nature/config/staging.yaml
  deployments/nature/hubploy.yaml
  deployments/nature/image/apt.txt
  deployments/nature/image/environment.yml
  deployments/nature/image/postBuild
  deployments/nature/image/start
  deployments/nature/secrets/gcr-key.json
  deployments/nature/secrets/gke-key.json
  deployments/nature/secrets/prod.yaml
  deployments/nature/secrets/staging.yaml
  docs/admins/howto/new-hub.qmd
  node-placeholder/values.yaml
Labels: documentation, build-infra, bash, configuration, singleuser-image, node-placeholder-deployment, helm-config

#6055 Remove ai-suggested fragment.
  .github/workflows/quarto-docs.yml
Labels: build-infra

#6057 [DH-361] adding gh-scoped-creds for nature hub
  deployments/nature/config/common.yaml
  deployments/nature/image/environment.yml
Labels: configuration, singleuser-image, hub: nature

#6058 [DH-361] merging #6055, #6057 to prod
  .github/workflows/quarto-docs.yml
  deployments/nature/config/common.yaml
  deployments/nature/image/environment.yml
Labels: build-infra, configuration, singleuser-image, hub: nature

#6059 [DH-361] enabling nonempty directory delete
  deployments/nature/config/common.yaml
Labels: configuration, hub: nature

#6060 [DH-361] Merging #6059 to prod
  deployments/nature/config/common.yaml
Labels: configuration, hub: nature

#6062 [DH-361] adding jupytext and jupyterlab-git
  deployments/nature/image/environment.yml
Labels: configuration, singleuser-image, hub: nature

#6063 [DH-361] merging #6062 to prod
  deployments/nature/image/environment.yml
Labels: configuration, singleuser-image, hub: nature
