Repository berkeley-dsep-infra/datahub, pull requests merged in 2024-04, with the labels that each got.

#5649 remove cummeRbund as we dont need it on datahub
  deployments/datahub/images/default/install.R
Labels: singleuser-image, hub: datahub, R-code

#5648 bump jupyterhub to 4.1.4
  deployments/a11y/image/environment.yml
  deployments/a11y/image/infra-requirements.txt
  deployments/astro/image/infra-requirements.txt
  deployments/biology/image/infra-requirements.txt
  deployments/cee/image/infra-requirements.txt
  deployments/data100/image/environment.yml
  deployments/data100/image/infra-requirements.txt
  deployments/data101/image/environment.yml
  deployments/data101/image/infra-requirements.txt
  deployments/data102/image/environment.yml
  deployments/data102/image/infra-requirements.txt
  deployments/data8/image/environment.yml
  deployments/data8/image/infra-requirements.txt
  deployments/datahub/images/default/infra-requirements.txt
  deployments/dev-r/images/default/infra-requirements.txt
  deployments/dev-r/images/secondary/infra-requirements.txt
  deployments/edx/image/environment.yml
  deployments/edx/image/infra-requirements.txt
  deployments/eecs/image/infra-requirements.txt
  deployments/ischool/image/infra-requirements.txt
  deployments/julia/image/infra-requirements.txt
  deployments/publichealth/image/infra-requirements.txt
  deployments/shiny/image/environment.yml
  deployments/shiny/image/infra-requirements.txt
  deployments/stat159/image/environment.yml
  deployments/stat159/image/infra-requirements.txt
  deployments/stat20/image/infra-requirements.txt
  hub/Chart.yaml
  hub/requirements.yaml
  node-placeholder/Chart.yaml
  scripts/infra-packages/requirements.txt
Labels: hub: stat20, configuration, singleuser-image, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: publichealth, node-placeholder-deployment, hub: dev-r, helm-config, jupyterhub-deployment, hub: edx

#5652 [DH-269] jupyterhub version bump didn't make it to the hub pods
  hub/Chart.yaml
  node-placeholder/Chart.yaml
Labels: configuration, node-placeholder-deployment, helm-config, jupyterhub-deployment

#5655 [DH-269] update hub image to the correct helm chart version
  images/hub/Dockerfile
Labels: dockerfile, hub-images

#5656 [DH-269] le sigh, finally chartpressed
  hub/Chart.yaml
  hub/values.yaml
  node-placeholder/Chart.yaml
Labels: configuration, node-placeholder-deployment, helm-config, jupyterhub-deployment

#5658 [DH-270] Provide enhanced privileges for Astro Lab 128 course staff
  deployments/astro/config/common.yaml
Labels: configuration, hub: astro

#5660 fix pytorch installation on astro hub
  deployments/astro/image/environment.yml
Labels: configuration, singleuser-image, hub: astro

#5661 merging 5648/5649/5652/5654/5655/5656/5658/5660 to prod
  deployments/a11y/image/environment.yml
  deployments/a11y/image/infra-requirements.txt
  deployments/astro/config/common.yaml
  deployments/astro/image/environment.yml
  deployments/astro/image/infra-requirements.txt
  deployments/biology/image/infra-requirements.txt
  deployments/cee/image/infra-requirements.txt
  deployments/data100/image/environment.yml
  deployments/data100/image/infra-requirements.txt
  deployments/data101/image/environment.yml
  deployments/data101/image/infra-requirements.txt
  deployments/data102/image/environment.yml
  deployments/data102/image/infra-requirements.txt
  deployments/data8/image/environment.yml
  deployments/data8/image/infra-requirements.txt
  deployments/datahub/config/common.yaml
  deployments/datahub/images/default/infra-requirements.txt
  deployments/datahub/images/default/install.R
  deployments/dev-r/images/default/infra-requirements.txt
  deployments/dev-r/images/secondary/infra-requirements.txt
  deployments/edx/image/environment.yml
  deployments/edx/image/infra-requirements.txt
  deployments/eecs/image/infra-requirements.txt
  deployments/ischool/image/infra-requirements.txt
  deployments/julia/image/infra-requirements.txt
  deployments/publichealth/image/infra-requirements.txt
  deployments/shiny/image/environment.yml
  deployments/shiny/image/infra-requirements.txt
  deployments/stat159/image/environment.yml
  deployments/stat159/image/infra-requirements.txt
  deployments/stat20/image/infra-requirements.txt
  hub/Chart.yaml
  hub/requirements.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
  scripts/infra-packages/requirements.txt
Labels: hub: stat20, dockerfile, configuration, singleuser-image, hub-images, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: publichealth, node-placeholder-deployment, R-code, hub: dev-r, helm-config, jupyterhub-deployment, hub: edx

#5662 [DH-269] debump jh 4.1.4
  deployments/a11y/image/environment.yml
  deployments/a11y/image/infra-requirements.txt
  deployments/astro/image/infra-requirements.txt
  deployments/biology/image/infra-requirements.txt
  deployments/cee/image/infra-requirements.txt
  deployments/data100/image/environment.yml
  deployments/data100/image/infra-requirements.txt
  deployments/data101/image/environment.yml
  deployments/data101/image/infra-requirements.txt
  deployments/data102/image/environment.yml
  deployments/data102/image/infra-requirements.txt
  deployments/data8/image/environment.yml
  deployments/data8/image/infra-requirements.txt
  deployments/datahub/images/default/infra-requirements.txt
  deployments/dev-r/images/default/infra-requirements.txt
  deployments/dev-r/images/secondary/infra-requirements.txt
  deployments/edx/image/environment.yml
  deployments/edx/image/infra-requirements.txt
  deployments/eecs/image/infra-requirements.txt
  deployments/ischool/image/infra-requirements.txt
  deployments/julia/image/infra-requirements.txt
  deployments/publichealth/image/infra-requirements.txt
  deployments/shiny/image/environment.yml
  deployments/shiny/image/infra-requirements.txt
  deployments/stat159/image/environment.yml
  deployments/stat159/image/infra-requirements.txt
  deployments/stat20/image/infra-requirements.txt
  hub/Chart.yaml
  hub/requirements.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
  scripts/infra-packages/requirements.txt
Labels: hub: stat20, dockerfile, configuration, singleuser-image, hub-images, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: publichealth, node-placeholder-deployment, hub: dev-r, helm-config, jupyterhub-deployment, hub: edx

#5664 merging 5662 to prod
  deployments/a11y/image/environment.yml
  deployments/a11y/image/infra-requirements.txt
  deployments/astro/image/infra-requirements.txt
  deployments/biology/image/infra-requirements.txt
  deployments/cee/image/infra-requirements.txt
  deployments/data100/image/environment.yml
  deployments/data100/image/infra-requirements.txt
  deployments/data101/image/environment.yml
  deployments/data101/image/infra-requirements.txt
  deployments/data102/image/environment.yml
  deployments/data102/image/infra-requirements.txt
  deployments/data8/image/environment.yml
  deployments/data8/image/infra-requirements.txt
  deployments/datahub/images/default/infra-requirements.txt
  deployments/dev-r/images/default/infra-requirements.txt
  deployments/dev-r/images/secondary/infra-requirements.txt
  deployments/edx/image/environment.yml
  deployments/edx/image/infra-requirements.txt
  deployments/eecs/image/infra-requirements.txt
  deployments/ischool/image/infra-requirements.txt
  deployments/julia/image/infra-requirements.txt
  deployments/publichealth/image/infra-requirements.txt
  deployments/shiny/image/environment.yml
  deployments/shiny/image/infra-requirements.txt
  deployments/stat159/image/environment.yml
  deployments/stat159/image/infra-requirements.txt
  deployments/stat20/image/infra-requirements.txt
  hub/Chart.yaml
  hub/requirements.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
  scripts/infra-packages/requirements.txt
Labels: hub: stat20, dockerfile, configuration, singleuser-image, hub-images, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: publichealth, node-placeholder-deployment, hub: dev-r, helm-config, jupyterhub-deployment, hub: edx

#5667 Update 2023-fall-stat-20.r
  deployments/stat20/image/r-packages/2023-fall-stat-20.r
Labels: hub: stat20, singleuser-image, R-code

#5669 Update common.yaml
  deployments/gradebook/config/common.yaml
Labels: configuration, hub: gradebook

#5671 Bump gradebook image.
  deployments/gradebook/config/common.yaml
Labels: configuration, hub: gradebook

#5670 Merge 5667/5669/5671 to prod
  deployments/gradebook/config/common.yaml
  deployments/stat20/image/r-packages/2023-fall-stat-20.r
Labels: hub: stat20, configuration, singleuser-image, R-code, hub: gradebook

#5666 [DH-269] bump nbgitpuller + jupyterhub
  deployments/a11y/image/environment.yml
  deployments/a11y/image/infra-requirements.txt
  deployments/astro/image/infra-requirements.txt
  deployments/biology/image/infra-requirements.txt
  deployments/cee/image/infra-requirements.txt
  deployments/data100/image/environment.yml
  deployments/data100/image/infra-requirements.txt
  deployments/data101/image/environment.yml
  deployments/data101/image/infra-requirements.txt
  deployments/data102/image/environment.yml
  deployments/data102/image/infra-requirements.txt
  deployments/data8/image/environment.yml
  deployments/data8/image/infra-requirements.txt
  deployments/datahub/images/default/infra-requirements.txt
  deployments/dev-r/images/default/infra-requirements.txt
  deployments/dev-r/images/secondary/infra-requirements.txt
  deployments/edx/image/environment.yml
  deployments/edx/image/infra-requirements.txt
  deployments/eecs/image/infra-requirements.txt
  deployments/ischool/image/infra-requirements.txt
  deployments/julia/image/infra-requirements.txt
  deployments/publichealth/image/infra-requirements.txt
  deployments/shiny/image/environment.yml
  deployments/shiny/image/infra-requirements.txt
  deployments/stat159/image/environment.yml
  deployments/stat159/image/infra-requirements.txt
  deployments/stat20/image/infra-requirements.txt
  hub/Chart.yaml
  hub/requirements.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
  scripts/infra-packages/requirements.txt
Labels: hub: stat20, dockerfile, configuration, singleuser-image, hub-images, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: publichealth, node-placeholder-deployment, hub: dev-r, helm-config, jupyterhub-deployment, hub: edx

#5679 adding package mfx for eep118
  deployments/datahub/images/default/r-packages/eep-1118.r
Labels: singleuser-image, hub: datahub, R-code

#5684 [DH-244] revert removal of autoscaling args
  docs/admins/howto/core-pool.rst
Labels: documentation

#5685 [DH-249] Core pool troubleshooting in early SP24
  docs/admins/incidents/2024-core-node-incidents.md
Labels: documentation

#5688 merging 5666/5679/5684/5685 to prod
  deployments/a11y/image/environment.yml
  deployments/a11y/image/infra-requirements.txt
  deployments/astro/image/infra-requirements.txt
  deployments/biology/image/infra-requirements.txt
  deployments/cee/image/infra-requirements.txt
  deployments/data100/image/environment.yml
  deployments/data100/image/infra-requirements.txt
  deployments/data101/image/environment.yml
  deployments/data101/image/infra-requirements.txt
  deployments/data102/image/environment.yml
  deployments/data102/image/infra-requirements.txt
  deployments/data8/image/environment.yml
  deployments/data8/image/infra-requirements.txt
  deployments/datahub/images/default/infra-requirements.txt
  deployments/datahub/images/default/r-packages/eep-1118.r
  deployments/dev-r/images/default/infra-requirements.txt
  deployments/dev-r/images/secondary/infra-requirements.txt
  deployments/edx/image/environment.yml
  deployments/edx/image/infra-requirements.txt
  deployments/eecs/image/infra-requirements.txt
  deployments/ischool/image/infra-requirements.txt
  deployments/julia/image/infra-requirements.txt
  deployments/publichealth/image/infra-requirements.txt
  deployments/shiny/image/environment.yml
  deployments/shiny/image/infra-requirements.txt
  deployments/stat159/image/environment.yml
  deployments/stat159/image/infra-requirements.txt
  deployments/stat20/image/infra-requirements.txt
  docs/admins/howto/core-pool.rst
  docs/admins/incidents/2024-core-node-incidents.md
  hub/Chart.yaml
  hub/requirements.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
  scripts/infra-packages/requirements.txt
Labels: documentation, hub: stat20, dockerfile, configuration, singleuser-image, hub-images, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: publichealth, node-placeholder-deployment, R-code, hub: dev-r, helm-config, jupyterhub-deployment, hub: edx

#5686 [DH-274] Changing shared-readwrite from /opt to /home/jovyan in Stat 20 hub for infra admins!
  deployments/stat20/config/common.yaml
Labels: hub: stat20, configuration

#5690 Update Stat 20 R Packages
  deployments/stat20/image/r-packages/2023-fall-stat-20.r
Labels: hub: stat20, singleuser-image, R-code

#5691 update stat20data r package
  deployments/stat20/image/r-packages/2023-fall-stat-20.r
Labels: hub: stat20, singleuser-image, R-code

#5695 Prevent students from accessing shared data.
  deployments/stat20/config/common.yaml
Labels: hub: stat20, configuration

#5693 [Test] downgrade nbgitpuller and jupyterhub in dev-r hub image
  deployments/dev-r/config/staging.yaml
  deployments/dev-r/images/default/infra-requirements.txt
Labels: configuration, singleuser-image, hub: dev-r

#5697 bump nbgitpuller to the latest version in dev-r-staging!
  deployments/dev-r/images/default/infra-requirements.txt
Labels: configuration, singleuser-image, hub: dev-r

#5699 Merge #5686 #5690 #5691 #5692 #5693 #5695 #5697
  deployments/dev-r/config/staging.yaml
  deployments/dev-r/images/default/infra-requirements.txt
  deployments/stat20/config/common.yaml
  deployments/stat20/image/r-packages/2023-fall-stat-20.r
  scripts/infra-packages/requirements.txt
Labels: hub: stat20, configuration, singleuser-image, R-code, hub: dev-r

#5701 merging 5698 to prod
  .github/labeler.yml
  vendor/grafana/dashboards/general/Anomalous activities-1714066292129.json
  vendor/grafana/dashboards/general/Cloud Storage Monitoring-1714066317471.json
  vendor/grafana/dashboards/general/Cluster Health-1714066323007.json
  vendor/grafana/dashboards/general/Cluster Information2-1714066330142.json
  vendor/grafana/dashboards/general/Core pods resource usage-1714066335185.json
  vendor/grafana/dashboards/general/HTTP Requests (nginx) Copy-1714066338895.json
  vendor/grafana/dashboards/general/Hub Metrics-1714066344166.json
  vendor/grafana/dashboards/general/JupyterHub Dashboard2-1714066348840.json
  vendor/grafana/dashboards/general/NGINX Ingress controller-1714066353536.json
  vendor/grafana/dashboards/general/Python Popularity Contest-1714066357213.json
  vendor/grafana/dashboards/general/Ryan's Draft Panels-1714066360784.json
  vendor/grafana/dashboards/general/Storage I_O Statistics-1714066365230.json
  vendor/grafana/dashboards/general/nginx based request metrics-1714066371135.json
  vendor/grafana/dashboards/jupyterhub/Cluster Information-1714066576091.json
  vendor/grafana/dashboards/jupyterhub/Global Usage Dashboard-1714066534688.json
  vendor/grafana/dashboards/jupyterhub/JupyterHub Dashboard-1714066548245.json
  vendor/grafana/dashboards/jupyterhub/NFS and Support Information-1714066550552.json
  vendor/grafana/dashboards/jupyterhub/Usage Report-1714066552403.json
  vendor/grafana/dashboards/jupyterhub/User Diagnostics Dashboard-1714066554584.json
Labels: build-infra, configuration, grafana

#5702 bumping idna to squelch dependabot warning
  hub/Chart.yaml
  images/node-placeholder-scaler/requirements.txt
  node-placeholder/Chart.yaml
Labels: configuration, hub-images, node-placeholder-deployment, node-placeholder-scaler, helm-config, jupyterhub-deployment

#5704 [DH-235] bump desktop proxy
  deployments/stat159/image/environment.yml
Labels: configuration, singleuser-image, hub: stat159
