Repository berkeley-dsep-infra/datahub, pull requests merged in 2024-05, with the labels that each got.

#5712 Update image to pull in new gradebook app
  deployments/gradebook/config/common.yaml
Labels: configuration, hub: gradebook

#5717 Merge #5704, #5712
  deployments/gradebook/config/common.yaml
  deployments/stat159/image/environment.yml
Labels: configuration, singleuser-image, hub: stat159, hub: gradebook

#5714 update repo2docker version pin
  requirements.txt
Labels: configuration

#5676 [DH-3] tweaking core pool sysctl tcp settings... again
  vendor/google/gke/node-pool/config/core-pool-sysctl.yaml
Labels: configuration

#5720 [DH-291] updating docs for new cluster
  docs/admins/cluster-config.rst
  docs/admins/howto/core-pool.rst
  docs/admins/howto/delete-hub.rst
  docs/admins/howto/new-hub.rst
Labels: documentation

#5721 revert old jupyterhub version for testing nbgitpuller
  deployments/dev-r/config/staging.yaml
Labels: configuration, hub: dev-r

#5713 [DH-284] set replicas to zero
  node-placeholder/values.yaml
Labels: configuration, node-placeholder-deployment, helm-config

#5718 [DH-285, 286] Remove/Comment out stanzas enabling elevated privileges and RAM bumps across hubs
  deployments/astro/config/common.yaml
  deployments/data100/config/common.yaml
  deployments/data101/config/common.yaml
  deployments/data102/config/common.yaml
  deployments/data8/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/eecs/config/common.yaml
  deployments/prob140/config/common.yaml
  deployments/publichealth/config/common.yaml
  deployments/r/config/common.yaml
Labels: configuration, hub: astro, hub: datahub, hub: data102, hub: data100, hub: data101, hub: data8, hub: eecs, hub: prob140, hub: publichealth, hub: r

#5724 comment out unused stanza to unblock prob140
  deployments/prob140/config/common.yaml
Labels: configuration, hub: prob140

#5723 merging 5713/5718/5724 to prod
  deployments/astro/config/common.yaml
  deployments/data100/config/common.yaml
  deployments/data101/config/common.yaml
  deployments/data102/config/common.yaml
  deployments/data8/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/eecs/config/common.yaml
  deployments/prob140/config/common.yaml
  deployments/publichealth/config/common.yaml
  deployments/r/config/common.yaml
  node-placeholder/values.yaml
Labels: configuration, hub: astro, hub: datahub, hub: data102, hub: data100, hub: data101, hub: data8, hub: eecs, hub: prob140, hub: publichealth, hub: r, node-placeholder-deployment, helm-config

#5715 [DH-246] bump python to 3.11
  deployments/a11y/image/environment.yml
  deployments/astro/image/environment.yml
  deployments/biology/image/Dockerfile
  deployments/biology/image/environment.yml
  deployments/biology/image/install-mambaforge.bash
  deployments/cee/image/environment.yml
  deployments/data100/image/environment.yml
  deployments/data101/image/environment.yml
  deployments/data102/image/environment.yml
  deployments/data8/image/environment.yml
  deployments/datahub/images/default/environment.yml
  deployments/datahub/images/default/install-mambaforge.bash
  deployments/dev-r/images/default/environment.yml
  deployments/dev-r/images/default/install-mambaforge.bash
  deployments/dev-r/images/secondary/environment.yml
  deployments/eecs/image/environment.yml
  deployments/julia/image/environment.yml
  deployments/julia/image/install-mambaforge.bash
  deployments/stat159/image/environment.yml
Labels: bash, dockerfile, configuration, singleuser-image, hub: astro, hub: stat159, hub: datahub, hub: a11y, hub: data102, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: julia, hub: dev-r

#5725 merging 5715 to prod
  deployments/a11y/image/environment.yml
  deployments/astro/image/environment.yml
  deployments/biology/image/Dockerfile
  deployments/biology/image/environment.yml
  deployments/biology/image/install-mambaforge.bash
  deployments/cee/image/environment.yml
  deployments/data100/image/environment.yml
  deployments/data101/image/environment.yml
  deployments/data102/image/environment.yml
  deployments/data8/image/environment.yml
  deployments/datahub/images/default/environment.yml
  deployments/datahub/images/default/install-mambaforge.bash
  deployments/dev-r/images/default/environment.yml
  deployments/dev-r/images/default/install-mambaforge.bash
  deployments/dev-r/images/secondary/environment.yml
  deployments/eecs/image/environment.yml
  deployments/julia/image/environment.yml
  deployments/julia/image/install-mambaforge.bash
  deployments/stat159/image/environment.yml
Labels: bash, dockerfile, configuration, singleuser-image, hub: astro, hub: stat159, hub: datahub, hub: a11y, hub: data102, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: julia, hub: dev-r

#5726 [DH-276] move CI to new cluster
  .circleci/config.yml
Labels: build-infra

#5727 [DH-276] all hubs and infra to new cluster
  deployments/a11y/config/common.yaml
  deployments/a11y/hubploy.yaml
  deployments/astro/config/common.yaml
  deployments/astro/hubploy.yaml
  deployments/biology/config/common.yaml
  deployments/biology/hubploy.yaml
  deployments/cee/config/common.yaml
  deployments/cee/hubploy.yaml
  deployments/data100/config/common.yaml
  deployments/data100/hubploy.yaml
  deployments/data101/config/common.yaml
  deployments/data101/hubploy.yaml
  deployments/data102/config/common.yaml
  deployments/data102/hubploy.yaml
  deployments/data8/config/common.yaml
  deployments/data8/hubploy.yaml
  deployments/datahub/config/common.yaml
  deployments/datahub/config/prod.yaml
  deployments/datahub/hubploy.yaml
  deployments/dev-r/config/common.yaml
  deployments/dev-r/hubploy.yaml
  deployments/dlab/config/common.yaml
  deployments/dlab/hubploy.yaml
  deployments/eecs/config/common.yaml
  deployments/eecs/hubploy.yaml
  deployments/gradebook/config/common.yaml
  deployments/gradebook/hubploy.yaml
  deployments/highschool/config/common.yaml
  deployments/highschool/hubploy.yaml
  deployments/ischool/config/common.yaml
  deployments/ischool/hubploy.yaml
  deployments/julia/config/common.yaml
  deployments/julia/hubploy.yaml
  deployments/logodev/config/common.yaml
  deployments/logodev/config/cookiecutter.json
  deployments/logodev/hubploy.yaml
  deployments/prob140/config/common.yaml
  deployments/prob140/hubploy.yaml
  deployments/publichealth/config/common.yaml
  deployments/publichealth/hubploy.yaml
  deployments/r/config/common.yaml
  deployments/r/hubploy.yaml
  deployments/shiny/config/common.yaml
  deployments/shiny/hubploy.yaml
  deployments/stat159/config/common.yaml
  deployments/stat159/hubploy.yaml
  deployments/stat20/config/common.yaml
  deployments/stat20/hubploy.yaml
  deployments/template/cookiecutter.json
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
  deployments/workshop/config/common.yaml
  deployments/workshop/hubploy.yaml
  support/requirements.yaml
  support/values.yaml
Labels: hub: stat20, configuration, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: dlab, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: logodev, hub: prob140, hub: publichealth, hub: r, hub: workshop, hub: dev-r, hub: highschool, helm-config, support-deployment, hub: gradebook

#5728 deploy all hubs to a new cluster: merge 5726/5727 to prod
  .circleci/config.yml
  deployments/a11y/config/common.yaml
  deployments/a11y/hubploy.yaml
  deployments/astro/config/common.yaml
  deployments/astro/hubploy.yaml
  deployments/biology/config/common.yaml
  deployments/biology/hubploy.yaml
  deployments/cee/config/common.yaml
  deployments/cee/hubploy.yaml
  deployments/data100/config/common.yaml
  deployments/data100/hubploy.yaml
  deployments/data101/config/common.yaml
  deployments/data101/hubploy.yaml
  deployments/data102/config/common.yaml
  deployments/data102/hubploy.yaml
  deployments/data8/config/common.yaml
  deployments/data8/hubploy.yaml
  deployments/datahub/config/common.yaml
  deployments/datahub/config/prod.yaml
  deployments/datahub/hubploy.yaml
  deployments/dev-r/config/common.yaml
  deployments/dev-r/hubploy.yaml
  deployments/dlab/config/common.yaml
  deployments/dlab/hubploy.yaml
  deployments/eecs/config/common.yaml
  deployments/eecs/hubploy.yaml
  deployments/gradebook/config/common.yaml
  deployments/gradebook/hubploy.yaml
  deployments/highschool/config/common.yaml
  deployments/highschool/hubploy.yaml
  deployments/ischool/config/common.yaml
  deployments/ischool/hubploy.yaml
  deployments/julia/config/common.yaml
  deployments/julia/hubploy.yaml
  deployments/logodev/config/common.yaml
  deployments/logodev/config/cookiecutter.json
  deployments/logodev/hubploy.yaml
  deployments/prob140/config/common.yaml
  deployments/prob140/hubploy.yaml
  deployments/publichealth/config/common.yaml
  deployments/publichealth/hubploy.yaml
  deployments/r/config/common.yaml
  deployments/r/hubploy.yaml
  deployments/shiny/config/common.yaml
  deployments/shiny/hubploy.yaml
  deployments/stat159/config/common.yaml
  deployments/stat159/hubploy.yaml
  deployments/stat20/config/common.yaml
  deployments/stat20/hubploy.yaml
  deployments/template/cookiecutter.json
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
  deployments/workshop/config/common.yaml
  deployments/workshop/hubploy.yaml
  support/requirements.yaml
  support/values.yaml
Labels: build-infra, hub: stat20, configuration, hub: astro, hub: stat159, hub: datahub, hub: shiny, hub: a11y, hub: data102, hub: dlab, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: logodev, hub: prob140, hub: publichealth, hub: r, hub: workshop, hub: dev-r, hub: highschool, helm-config, support-deployment, hub: gradebook

#5729 [DH-276] clean up config
  deployments/datahub/config/prod.yaml
Labels: configuration, hub: datahub

#5730 merging 5729 to prod
  deployments/datahub/config/prod.yaml
Labels: configuration, hub: datahub

#5731 Tell prometheus to use cloned disk containing data from previous cluster
  support/values.yaml
Labels: configuration, helm-config, support-deployment

#5732 merging 5731 to prod
  support/values.yaml
Labels: configuration, helm-config, support-deployment

#5733 [DH-281] resizing bio and eecs filestores
  deployments/biology/config/filestore/squash-flags.json
  deployments/eecs/config/filestore/squash-flags.json
Labels: configuration, hub: biology, hub: eecs

#5734 add a warning to our hub creation docs about squashing too early
  docs/admins/howto/new-hub.rst
Labels: documentation

#5736 [DH-281] switching eecs and biology to new filestore
  deployments/biology/config/common.yaml
  deployments/eecs/config/common.yaml
Labels: configuration, hub: biology, hub: eecs

#5737 [DH-281] Merging #5733 and #5734 to prod
  deployments/biology/config/common.yaml
  deployments/biology/config/filestore/squash-flags.json
  deployments/eecs/config/common.yaml
  deployments/eecs/config/filestore/squash-flags.json
  docs/admins/howto/new-hub.rst
Labels: documentation, configuration, hub: biology, hub: eecs

#5738 [DH-281] moving prob140 to small-courses filestore
  deployments/prob140/config/common.yaml
Labels: configuration, hub: prob140

#5739 [DH-281] merging #5738 to prod
  deployments/prob140/config/common.yaml
Labels: configuration, hub: prob140

#5740 [DH-281] moving ischool to small-courses filestore
  deployments/ischool/config/common.yaml
Labels: configuration, hub: ischool

#5741 [DH-281] merging #5740 to prod
  deployments/ischool/config/common.yaml
Labels: configuration, hub: ischool

#5744 pin requests to work around https://github.com/psf/requests/issues/6707
  requirements.txt
Labels: configuration

#5746 bump python in ci to 3.11
  .circleci/config.yml
Labels: build-infra

#5747 replacing `requests` with `niquests` in some of our tooling
  scripts/delete-unused-users.py
Labels: python

#5745 adding vscode to datahub
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#5752 Rename dev-r hub and deployment to dev
  .circleci/config.yml
  .github/labeler.yml
  deployments/dev/config/common.yaml
  deployments/dev/config/prod.yaml
  deployments/dev/config/staging.yaml
  deployments/dev/hubploy.yaml
  deployments/dev/images/default/Dockerfile
  deployments/dev/images/default/Rprofile.site
  deployments/dev/images/default/apt.txt
  deployments/dev/images/default/class-libs.R
  deployments/dev/images/default/environment.yml
  deployments/dev/images/default/infra-requirements.txt
  deployments/dev/images/default/install-mambaforge.bash
  deployments/dev/images/default/install.R
  deployments/dev/images/default/rsession.conf
  deployments/dev/images/secondary/Rprofile.site
  deployments/dev/images/secondary/apt.txt
  deployments/dev/images/secondary/environment.yml
  deployments/dev/images/secondary/infra-requirements.txt
  deployments/dev/images/secondary/install.R
  deployments/dev/images/secondary/rsession.conf
  deployments/dev/images/secondary/runtime.txt
  deployments/dev/secrets/gcr-key.json
  deployments/dev/secrets/gke-key.json
  deployments/dev/secrets/prod.yaml
  deployments/dev/secrets/staging.yaml
Labels: build-infra, bash, dockerfile, configuration, singleuser-image, R-code

#5748 merging 5744/5745/5746/5747/5752 to prod
  .circleci/config.yml
  .github/labeler.yml
  deployments/datahub/images/default/environment.yml
  deployments/dev/config/common.yaml
  deployments/dev/config/prod.yaml
  deployments/dev/config/staging.yaml
  deployments/dev/hubploy.yaml
  deployments/dev/images/default/Dockerfile
  deployments/dev/images/default/Rprofile.site
  deployments/dev/images/default/apt.txt
  deployments/dev/images/default/class-libs.R
  deployments/dev/images/default/environment.yml
  deployments/dev/images/default/infra-requirements.txt
  deployments/dev/images/default/install-mambaforge.bash
  deployments/dev/images/default/install.R
  deployments/dev/images/default/rsession.conf
  deployments/dev/images/secondary/Rprofile.site
  deployments/dev/images/secondary/apt.txt
  deployments/dev/images/secondary/environment.yml
  deployments/dev/images/secondary/infra-requirements.txt
  deployments/dev/images/secondary/install.R
  deployments/dev/images/secondary/rsession.conf
  deployments/dev/images/secondary/runtime.txt
  deployments/dev/secrets/gcr-key.json
  deployments/dev/secrets/gke-key.json
  deployments/dev/secrets/prod.yaml
  deployments/dev/secrets/staging.yaml
  requirements.txt
  scripts/delete-unused-users.py
Labels: build-infra, python, bash, dockerfile, configuration, singleuser-image, hub: datahub, R-code

#5753 Update dev oauth callback URLs.
  deployments/dev/secrets/prod.yaml
  deployments/dev/secrets/staging.yaml
Labels: configuration, hub: dev

#5754 merging 5753 to prod
  deployments/dev/secrets/prod.yaml
  deployments/dev/secrets/staging.yaml
Labels: configuration, hub: dev

#5756 [DH-252] Increase RAM to 12 GB for Stat 20 admins to help run quarto dashboard with SP 24 logs
  deployments/stat20/config/common.yaml
Labels: hub: stat20, configuration

#5759 [DH-297] switching data100 filestore
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#5762 [DH-297] Merging #5756 and #5759 to prod
  deployments/data100/config/common.yaml
  deployments/stat20/config/common.yaml
Labels: hub: stat20, configuration, hub: data100

#5761 bump devs jh version
  deployments/dev/images/default/infra-requirements.txt
Labels: configuration, singleuser-image, hub: dev

#5765 [DH-262] add PDF export and remove QtPNG export from datahub and r hub
  deployments/datahub/config/common.yaml
  deployments/r/config/common.yaml
Labels: configuration, hub: datahub, hub: r

#5711 Increase RAM to 4 GB for workshop hub
  deployments/workshop/config/common.yaml
Labels: configuration, hub: workshop

#5766 [DH-262] Merging #5761 and #5765 to prod
  deployments/datahub/config/common.yaml
  deployments/dev/images/default/infra-requirements.txt
  deployments/r/config/common.yaml
  deployments/workshop/config/common.yaml
Labels: configuration, singleuser-image, hub: datahub, hub: r, hub: workshop, hub: dev

#5768 bump hubploy
  requirements.txt
Labels: configuration

#5770 Increase a11y hub RAM to 3 GB for extension testing purposes
  deployments/a11y/config/common.yaml
Labels: configuration, hub: a11y
