Repository berkeley-dsep-infra/datahub, pull requests merged in 2024-12, with the labels that each got.

#6524 update data101 image tag to ba209883023b
  deployments/data101/hubploy.yaml
Labels: configuration, hub: data101

#6533 update a11y image tag to 56488626d322
  deployments/a11y/hubploy.yaml
Labels: configuration, hub: a11y

#6534 Proxy ollama on a11y.
  deployments/a11y/config/common.yaml
Labels: configuration, hub: a11y

#6536 Update gradebook image
  deployments/gradebook/config/common.yaml
Labels: configuration, hub: gradebook

#6520 Merge #6512 to prod
  README.md
  deployments/a11y/config/common.yaml
  deployments/a11y/hubploy.yaml
  deployments/data101/hubploy.yaml
  deployments/gradebook/config/common.yaml
Labels: documentation, configuration, hub: a11y, hub: data101, hub: gradebook

#6537 Revert #6536.
  deployments/gradebook/config/common.yaml
Labels: configuration, hub: gradebook

#6538 Merge #6537.
  deployments/gradebook/config/common.yaml
Labels: configuration, hub: gradebook

#6548 Increasing a11y Hub RAM to 8 GB for testing lab extension
  deployments/a11y/config/common.yaml
Labels: configuration, hub: a11y

#6552 update a11y image tag to 7ca38a2bf5d3
  deployments/a11y/hubploy.yaml
Labels: configuration, hub: a11y

#6553 update a11y image tag to 88cc27e0b9f4
  deployments/a11y/hubploy.yaml
Labels: configuration, hub: a11y

#6544 [DH-415] disable node placeholder pods
  node-placeholder/values.yaml
Labels: configuration, node-placeholder-deployment, helm-config

#6554 Merge 6544, 6548 and 6553 to prod
  deployments/a11y/config/common.yaml
  deployments/a11y/hubploy.yaml
  node-placeholder/values.yaml
Labels: configuration, hub: a11y, node-placeholder-deployment, helm-config
