Repository berkeley-dsep-infra/datahub, pull requests merged in 2024-09, with the labels that each got.

#6066 [DH-361] adding earthaccess
  deployments/nature/image/environment.yml
Labels: configuration, singleuser-image, hub: nature

#6067 [DH-361] merging #6066 to prod
  deployments/nature/image/environment.yml
Labels: configuration, singleuser-image, hub: nature

#6068 [DH-301] Split off stat20 user image.
  .circleci/config.yml
  deployments/stat20/hubploy.yaml
  deployments/stat20/image/Dockerfile
  deployments/stat20/image/README.md
  deployments/stat20/image/class-libs.R
  deployments/stat20/image/environment.yml
  deployments/stat20/image/file-locks
  deployments/stat20/image/infra-requirements.txt
  deployments/stat20/image/install-mambaforge.bash
  deployments/stat20/image/r-packages/2023-fall-stat-20.r
  deployments/stat20/image/rstudio-prefs.json
Labels: documentation, build-infra, hub: stat20, bash, dockerfile, configuration, singleuser-image, R-code

#6069 Add stat20 to workflow.
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6070 update stat20 image tag to d3fd1f663330: deployments/stat20/hubploy.yaml
  deployments/stat20/hubploy.yaml
Labels: hub: stat20, configuration

#6071 update stat20 image tag to 5eed7cbfc7ff: deployments/stat20/hubploy.yaml
  deployments/stat20/hubploy.yaml
Labels: hub: stat20, configuration

#6072 merging 6068/6069/6070/6071 to prod
  .circleci/config.yml
  .github/workflows/deploy-hubs.yaml
  deployments/stat20/hubploy.yaml
  deployments/stat20/image/Dockerfile
  deployments/stat20/image/README.md
  deployments/stat20/image/class-libs.R
  deployments/stat20/image/environment.yml
  deployments/stat20/image/file-locks
  deployments/stat20/image/infra-requirements.txt
  deployments/stat20/image/install-mambaforge.bash
  deployments/stat20/image/r-packages/2023-fall-stat-20.r
  deployments/stat20/image/rstudio-prefs.json
Labels: documentation, build-infra, hub: stat20, bash, dockerfile, configuration, singleuser-image, R-code

#6073 moving nature to own repo
  .circleci/config.yml
  deployments/nature/hubploy.yaml
  deployments/nature/image/README.md
  deployments/nature/image/apt.txt
  deployments/nature/image/environment.yml
  deployments/nature/image/postBuild
  deployments/nature/image/start
Labels: documentation, build-infra, bash, configuration, singleuser-image, hub: nature

#6074 enabling nature hub deployment
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6075 update nature image tag to 6e285f9f5ab2: deployments/nature/hubploy.yaml
  deployments/nature/hubploy.yaml
Labels: configuration, hub: nature

#6076 updates for a11y to move to new repo
  .circleci/config.yml
  deployments/a11y/hubploy.yaml
  deployments/a11y/image/README.md
  deployments/a11y/image/apt.txt
  deployments/a11y/image/environment.yml
  deployments/a11y/image/infra-requirements.txt
  deployments/a11y/image/postBuild
Labels: documentation, build-infra, bash, configuration, singleuser-image, hub: a11y

#6077 enable a11y GitHub action
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6078 update a11y image tag to e33a1decb7d0: deployments/a11y/hubploy.yaml
  deployments/a11y/hubploy.yaml
Labels: configuration, hub: a11y

#6079 update a11y image tag to 1967ba9bc53f: deployments/a11y/hubploy.yaml
  deployments/a11y/hubploy.yaml
Labels: configuration, hub: a11y

#6080 update nature image tag to 9ad22965ad22: deployments/nature/hubploy.yaml
  deployments/nature/hubploy.yaml
Labels: configuration, hub: nature

#6081 Merging #6073, #6074, #6075, #6076, #6077, #6078, #6079, #6080 to prod
  .circleci/config.yml
  .github/workflows/deploy-hubs.yaml
  deployments/a11y/hubploy.yaml
  deployments/a11y/image/README.md
  deployments/a11y/image/apt.txt
  deployments/a11y/image/environment.yml
  deployments/a11y/image/infra-requirements.txt
  deployments/a11y/image/postBuild
  deployments/nature/hubploy.yaml
  deployments/nature/image/README.md
  deployments/nature/image/apt.txt
  deployments/nature/image/environment.yml
  deployments/nature/image/postBuild
  deployments/nature/image/start
Labels: documentation, build-infra, bash, configuration, singleuser-image, hub: a11y, hub: nature

#6082 update a11y image tag to 7c4cd8df980c: deployments/a11y/hubploy.yaml
  deployments/a11y/hubploy.yaml
Labels: configuration, hub: a11y

#6083 Adding more tools in python for dashboarding to the dashboard image
  deployments/dev/images/secondary/environment.yml
Labels: configuration, singleuser-image, hub: dev

#6085 [DH-301] update hubploy for cookiecutter deploymnents for new CI/CD
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
Labels: configuration

#6086 [DH-301] moving ugr01 to its own image repo
  .circleci/config.yml
  deployments/ugr01/hubploy.yaml
  deployments/ugr01/image/README.md
  deployments/ugr01/image/apt.txt
  deployments/ugr01/image/environment.yml
  deployments/ugr01/image/infra-requirements.txt
  deployments/ugr01/image/postBuild
  deployments/ugr01/image/start
Labels: documentation, build-infra, bash, configuration, singleuser-image, hub: ugr01

#6088 [DH-301] update ugr01 image tag to d093fb974521: deployments/ugr01/hubploy.yaml
  deployments/ugr01/hubploy.yaml
Labels: configuration, hub: ugr01

#6089 merging 6082/6083/6085/6086/6087/6088 to prod
  .circleci/config.yml
  .github/workflows/deploy-hubs.yaml
  deployments/a11y/hubploy.yaml
  deployments/dev/images/secondary/environment.yml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/ugr01/hubploy.yaml
  deployments/ugr01/image/README.md
  deployments/ugr01/image/apt.txt
  deployments/ugr01/image/environment.yml
  deployments/ugr01/image/infra-requirements.txt
  deployments/ugr01/image/postBuild
  deployments/ugr01/image/start
Labels: documentation, build-infra, bash, configuration, singleuser-image, hub: a11y, hub: dev, hub: ugr01

#6090 [DH-301] moving data101 to its own repo
  .circleci/config.yml
  deployments/data101/hubploy.yaml
  deployments/data101/image/README.md
  deployments/data101/image/apt.txt
  deployments/data101/image/environment.yml
  deployments/data101/image/infra-requirements.txt
  deployments/data101/image/postBuild
  deployments/data101/image/start
Labels: documentation, build-infra, bash, configuration, singleuser-image, hub: data101

#6091 [DH-301] forgot the image placeholder tag
  deployments/data101/hubploy.yaml
Labels: configuration, hub: data101

#6092 [DH-301] enable data101 deployment
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6095 [DH-301] update data101 image tag to f702848059e1: deployments/data101/hubploy…
  deployments/data101/hubploy.yaml
Labels: configuration, hub: data101

#6096 fix typo and better wording in the hub deploy workflows
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6097 update data101 image tag to 0e1d41cf9936: deployments/data101/hubploy…
  deployments/data101/hubploy.yaml
Labels: configuration, hub: data101

#6098 update a11y image tag to 65e4cb99b4aa: deployments/a11y/hubploy.yaml
  deployments/a11y/hubploy.yaml
Labels: configuration, hub: a11y

#6099 update stat20 image tag to feaa2df801d9: deployments/stat20/hubploy.yaml
  deployments/stat20/hubploy.yaml
Labels: hub: stat20, configuration

#6100 update stat159 image tag to da599718ae9f: deployments/stat159/hubploy…
  deployments/stat159/hubploy.yaml
Labels: configuration, hub: stat159

#6101 update nature image tag to 00512349345a: deployments/nature/hubploy.yaml
  deployments/nature/hubploy.yaml
Labels: configuration, hub: nature

#6104 [DH-301] moving bio, cee and astro to new CI/CD workflow
  .circleci/config.yml
  .github/workflows/deploy-hubs.yaml
  deployments/astro/hubploy.yaml
  deployments/astro/image/README.md
  deployments/astro/image/apt.txt
  deployments/astro/image/environment.yml
  deployments/astro/image/infra-requirements.txt
  deployments/astro/image/postBuild
  deployments/astro/image/start
  deployments/biology/hubploy.yaml
  deployments/biology/image/Dockerfile
  deployments/biology/image/README.md
  deployments/biology/image/Rprofile.site
  deployments/biology/image/bio1b-packages.bash
  deployments/biology/image/ccb293-packages.bash
  deployments/biology/image/environment.yml
  deployments/biology/image/file-locks
  deployments/biology/image/ib134-packages.bash
  deployments/biology/image/infra-requirements.txt
  deployments/biology/image/install-mambaforge.bash
  deployments/biology/image/install.R
  deployments/biology/image/mitozEnv_config.py
  deployments/biology/image/patches/ncbiquery.py
  deployments/biology/image/rsession.conf
  deployments/cee/hubploy.yaml
  deployments/cee/image/README.md
  deployments/cee/image/apt.txt
  deployments/cee/image/environment.yml
  deployments/cee/image/infra-requirements.txt
  deployments/cee/image/postBuild
  deployments/cee/image/qgis.desktop
  deployments/cee/image/start
Labels: documentation, build-infra, python, bash, dockerfile, configuration, singleuser-image, hub: astro, hub: biology, hub: cee, R-code

#6106 [DH-301] fixing typo in cee image definition
  deployments/cee/hubploy.yaml
Labels: configuration

#6107 update astro image tag to ffc76921fb47: deployments/astro/hubploy.yaml
  deployments/astro/hubploy.yaml
Labels: configuration, hub: astro

#6108 update cee image tag to 5e393b8d22ce: deployments/cee/hubploy.yaml
  deployments/cee/hubploy.yaml
Labels: configuration, hub: cee

#6109 update biology image tag to 24ed6d3bf1a6: deployments/biology/hubploy…
  deployments/biology/hubploy.yaml
Labels: configuration, hub: biology

#6110 Use new deployment configuration for shiny
  .circleci/config.yml
  deployments/gradebook/hubploy.yaml
  deployments/shiny/hubploy.yaml
  deployments/shiny/image/Dockerfile
  deployments/shiny/image/class-libs.R
  deployments/shiny/image/environment.yml
  deployments/shiny/image/file-locks
  deployments/shiny/image/infra-requirements.txt
  deployments/shiny/image/install-mambaforge.bash
  deployments/shiny/image/r-packages/2023-fall-stat-135.r
  deployments/shiny/image/r-packages/2023-spring-stat-20.r
  deployments/shiny/image/r-packages/2024-spring-gradebook.r
Labels: build-infra, bash, dockerfile, configuration, singleuser-image, hub: shiny, R-code, hub: gradebook

#6111 Add gradebook and shiny to github action.
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6112 fix shiny image paths
  deployments/gradebook/hubploy.yaml
  deployments/shiny/hubploy.yaml
Labels: configuration

#6113 update shiny image tag to 0f550a37d042: deployments/gradebook/hubploy…
  deployments/gradebook/hubploy.yaml
  deployments/shiny/hubploy.yaml
Labels: configuration, hub: shiny, hub: gradebook

#6114 fixing image name stanza
  deployments/gradebook/hubploy.yaml
  deployments/shiny/hubploy.yaml
Labels: configuration, hub: shiny, hub: gradebook

#6102 merging 6090/6091/6092/6095/6096/6097/6068/6099/6100/6101/6104/6105/6106/6107/6108/6109/6110/6111/6112/6113/6114 to prod
  .circleci/config.yml
  .github/workflows/deploy-hubs.yaml
  deployments/a11y/hubploy.yaml
  deployments/astro/hubploy.yaml
  deployments/astro/image/README.md
  deployments/astro/image/apt.txt
  deployments/astro/image/environment.yml
  deployments/astro/image/infra-requirements.txt
  deployments/astro/image/postBuild
  deployments/astro/image/start
  deployments/biology/hubploy.yaml
  deployments/biology/image/Dockerfile
  deployments/biology/image/README.md
  deployments/biology/image/Rprofile.site
  deployments/biology/image/bio1b-packages.bash
  deployments/biology/image/ccb293-packages.bash
  deployments/biology/image/environment.yml
  deployments/biology/image/file-locks
  deployments/biology/image/ib134-packages.bash
  deployments/biology/image/infra-requirements.txt
  deployments/biology/image/install-mambaforge.bash
  deployments/biology/image/install.R
  deployments/biology/image/mitozEnv_config.py
  deployments/biology/image/patches/ncbiquery.py
  deployments/biology/image/rsession.conf
  deployments/cee/hubploy.yaml
  deployments/cee/image/README.md
  deployments/cee/image/apt.txt
  deployments/cee/image/environment.yml
  deployments/cee/image/infra-requirements.txt
  deployments/cee/image/postBuild
  deployments/cee/image/qgis.desktop
  deployments/cee/image/start
  deployments/data101/hubploy.yaml
  deployments/data101/image/README.md
  deployments/data101/image/apt.txt
  deployments/data101/image/environment.yml
  deployments/data101/image/infra-requirements.txt
  deployments/data101/image/postBuild
  deployments/data101/image/start
  deployments/gradebook/hubploy.yaml
  deployments/nature/hubploy.yaml
  deployments/shiny/hubploy.yaml
  deployments/shiny/image/Dockerfile
  deployments/shiny/image/class-libs.R
  deployments/shiny/image/environment.yml
  deployments/shiny/image/file-locks
  deployments/shiny/image/infra-requirements.txt
  deployments/shiny/image/install-mambaforge.bash
  deployments/shiny/image/r-packages/2023-fall-stat-135.r
  deployments/shiny/image/r-packages/2023-spring-stat-20.r
  deployments/shiny/image/r-packages/2024-spring-gradebook.r
  deployments/stat159/hubploy.yaml
  deployments/stat20/hubploy.yaml
Labels: documentation, build-infra, hub: stat20, python, bash, dockerfile, configuration, singleuser-image, hub: astro, hub: stat159, hub: shiny, hub: a11y, hub: biology, hub: cee, hub: data101, R-code, hub: gradebook, hub: nature

#6117 [DH-301]moving dev to its own image repos
  .circleci/config.yml
  deployments/dev/config/common.yaml
  deployments/dev/hubploy.yaml
  deployments/dev/image/README.md
  deployments/dev/images/default/Dockerfile
  deployments/dev/images/default/Rprofile.site
  deployments/dev/images/default/apt.txt
  deployments/dev/images/default/class-libs.R
  deployments/dev/images/default/environment.yml
  deployments/dev/images/default/infra-requirements.txt
  deployments/dev/images/default/install-mambaforge.bash
  deployments/dev/images/default/install.R
  deployments/dev/images/default/rsession.conf
  deployments/dev/images/secondary/Rprofile.site
  deployments/dev/images/secondary/apt.txt
  deployments/dev/images/secondary/environment.yml
  deployments/dev/images/secondary/infra-requirements.txt
  deployments/dev/images/secondary/install.R
  deployments/dev/images/secondary/rsession.conf
  deployments/dev/images/secondary/runtime.txt
Labels: documentation, build-infra, bash, dockerfile, configuration, singleuser-image, R-code, hub: dev

#6118 [DH-301] enabling dev hub cicd
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6122 [DH-301] fixing dev hubploy tags
  deployments/dev/hubploy.yaml
Labels: configuration, hub: dev

#6124 [DH-301] fixing secondary image for dev
  deployments/dev/config/common.yaml
  deployments/dev/hubploy.yaml
Labels: configuration, hub: dev

#6123 Increase RAM for Demog 213, Data C131A and Eleng 120
  deployments/datahub/config/common.yaml
  deployments/eecs/config/common.yaml
  deployments/r/config/common.yaml
Labels: configuration, hub: datahub, hub: eecs, hub: r

#6126 [DH-373] updating seaborn
  deployments/biology/hubploy.yaml
Labels: configuration, hub: biology

#6128 Merging #6117, #6118, #6122, #6123, #6124, #6126 to prod
  .circleci/config.yml
  .github/workflows/deploy-hubs.yaml
  deployments/biology/hubploy.yaml
  deployments/datahub/config/common.yaml
  deployments/dev/config/common.yaml
  deployments/dev/hubploy.yaml
  deployments/dev/image/README.md
  deployments/dev/images/default/Dockerfile
  deployments/dev/images/default/Rprofile.site
  deployments/dev/images/default/apt.txt
  deployments/dev/images/default/class-libs.R
  deployments/dev/images/default/environment.yml
  deployments/dev/images/default/infra-requirements.txt
  deployments/dev/images/default/install-mambaforge.bash
  deployments/dev/images/default/install.R
  deployments/dev/images/default/rsession.conf
  deployments/dev/images/secondary/Rprofile.site
  deployments/dev/images/secondary/apt.txt
  deployments/dev/images/secondary/environment.yml
  deployments/dev/images/secondary/infra-requirements.txt
  deployments/dev/images/secondary/install.R
  deployments/dev/images/secondary/rsession.conf
  deployments/dev/images/secondary/runtime.txt
  deployments/eecs/config/common.yaml
  deployments/r/config/common.yaml
Labels: documentation, build-infra, bash, dockerfile, configuration, singleuser-image, hub: datahub, hub: biology, hub: eecs, hub: r, R-code, hub: dev

#6130 update stat20 image tag to 130d6247d491: deployments/stat20/hubploy.yaml
  deployments/stat20/hubploy.yaml
Labels: hub: stat20, configuration

#6132 Add docs on transitioning user images.
  docs/_quarto.yml
  docs/admins/howto/transition-image.qmd
Labels: documentation, configuration

#6136 update data101 image tag to 010ca9abfb71: deployments/data101/hubploy…
  deployments/data101/hubploy.yaml
Labels: configuration, hub: data101

#6140 update biology image tag to 16c6e661dcd5: deployments/biology/hubploy…
  deployments/biology/hubploy.yaml
Labels: configuration, hub: biology

#6141 [DH-301] moving publichealth to its own repo
  .circleci/config.yml
  deployments/publichealth/hubploy.yaml
  deployments/publichealth/image/Dockerfile
  deployments/publichealth/image/README.md
  deployments/publichealth/image/class-libs.R
  deployments/publichealth/image/environment.yml
  deployments/publichealth/image/file-locks
  deployments/publichealth/image/infra-requirements.txt
  deployments/publichealth/image/install-mambaforge.bash
  deployments/publichealth/image/install.R
  deployments/publichealth/image/r-packages/.ipynb_checkpoints/Untitled-checkpoint.ipynb
  deployments/publichealth/image/r-packages/2021-spring-phw-272a.r
  deployments/publichealth/image/r-packages/ottr.r
  deployments/publichealth/image/r-packages/ph-142.r
  deployments/publichealth/image/r-packages/ph-252.r
  deployments/publichealth/image/r-packages/ph-290.r
Labels: documentation, build-infra, bash, dockerfile, configuration, singleuser-image, hub: publichealth, R-code

#6142 [DH-301] enable publichealth deployment
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6145 [DH-301] update publichealth image tag to 8b70e125f905: deployments/publicheal…
  deployments/publichealth/hubploy.yaml
Labels: configuration, hub: publichealth

#6125 [DH-301] some tooling to make syncing the user image dirs easier
  scripts/user-image-management/manage-image-repos.py
  scripts/user-image-management/repos.txt
Labels: documentation, python

#6144 Enable elevated privileges for BIOE C131 in DataHub
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#6147 [DH-301] documentation for `manage-image-repos.py`
  docs/admins/howto/managing-multiple-user-image-repos.qmd
  scripts/user-image-management/README.md
Labels: documentation

#6148 actually publish the new page
  docs/_quarto.yml
Labels: documentation, configuration

#6151 [DH-301] enable CICD for eecs
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6152 [DH-301] update eecs image tag to 4e62ae874442: deployments/eecs/hubploy.yaml
  deployments/eecs/hubploy.yaml
Labels: configuration, hub: eecs

#6146 merging 6125/6130/6132/6136/6140/6141/6142/6143/6144/6145/6147/6148/6150/6151/6152 to prod
  .circleci/config.yml
  .github/workflows/deploy-hubs.yaml
  deployments/biology/hubploy.yaml
  deployments/data101/hubploy.yaml
  deployments/datahub/config/common.yaml
  deployments/eecs/hubploy.yaml
  deployments/eecs/image/README.md
  deployments/eecs/image/apt.txt
  deployments/eecs/image/environment.yml
  deployments/eecs/image/infra-requirements.txt
  deployments/eecs/image/postBuild
  deployments/eecs/image/start
  deployments/publichealth/hubploy.yaml
  deployments/publichealth/image/Dockerfile
  deployments/publichealth/image/README.md
  deployments/publichealth/image/class-libs.R
  deployments/publichealth/image/environment.yml
  deployments/publichealth/image/file-locks
  deployments/publichealth/image/infra-requirements.txt
  deployments/publichealth/image/install-mambaforge.bash
  deployments/publichealth/image/install.R
  deployments/publichealth/image/r-packages/.ipynb_checkpoints/Untitled-checkpoint.ipynb
  deployments/publichealth/image/r-packages/2021-spring-phw-272a.r
  deployments/publichealth/image/r-packages/ottr.r
  deployments/publichealth/image/r-packages/ph-142.r
  deployments/publichealth/image/r-packages/ph-252.r
  deployments/publichealth/image/r-packages/ph-290.r
  deployments/stat20/hubploy.yaml
  docs/_quarto.yml
  docs/admins/howto/managing-multiple-user-image-repos.qmd
  docs/admins/howto/transition-image.qmd
  scripts/user-image-management/README.md
  scripts/user-image-management/manage-image-repos.py
  scripts/user-image-management/repos.txt
Labels: documentation, build-infra, hub: stat20, python, bash, dockerfile, configuration, singleuser-image, hub: datahub, hub: biology, hub: data101, hub: eecs, hub: publichealth, R-code

#6127 Remove Demography department's data event related configs in DataHub
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#6154 Enable elevated privileges for ER131 and Econ 140 course staff
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#6157 update logodev image tag to ae0f4c4e7753: deployments/logodev/hubploy…
  deployments/logodev/hubploy.yaml
Labels: configuration, hub: logodev

#6156 merging 6124/6154/6157 to prod
  deployments/datahub/config/common.yaml
  deployments/logodev/hubploy.yaml
Labels: configuration, hub: datahub, hub: logodev

#6159 update eecs image tag to 9b1242a17579: deployments/eecs/hubploy.yaml
  deployments/eecs/hubploy.yaml
Labels: configuration, hub: eecs

#6160 merge 6159 to prod
  deployments/eecs/hubploy.yaml
Labels: configuration, hub: eecs

#6161 Adjust formatting in places.
  docs/admins/howto/transition-image.qmd
Labels: documentation

#6169 [DH-3] bumping chp ram again
  deployments/data100/config/common.yaml
  deployments/data8/config/common.yaml
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub, hub: data100, hub: data8

#6170 update nature image tag to c248c1ca947c: deployments/nature/hubploy.yaml
  deployments/nature/hubploy.yaml
Labels: configuration, hub: nature

#6171 merging 6161/6169/6170 to prod
  deployments/data100/config/common.yaml
  deployments/data8/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/nature/hubploy.yaml
  docs/admins/howto/transition-image.qmd
Labels: documentation, configuration, hub: datahub, hub: data100, hub: data8, hub: nature

#6172 [DH-301] moving julia to a new image repo
  .circleci/config.yml
  deployments/julia/hubploy.yaml
  deployments/julia/image/Dockerfile
  deployments/julia/image/README.md
  deployments/julia/image/apt.txt
  deployments/julia/image/environment.yml
  deployments/julia/image/infra-requirements.txt
  deployments/julia/image/install-julia-packages.jl
  deployments/julia/image/install-julia.bash
  deployments/julia/image/install-mambaforge.bash
  scripts/user-image-management/repos.txt
Labels: documentation, build-infra, bash, dockerfile, configuration, singleuser-image, hub: julia

#6173 [DH-301] enable CICD for julia deployments
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6174 [DH-301] update julia image tag to 381ff83b5850: deployments/julia/hubploy.yaml
  deployments/julia/hubploy.yaml
Labels: configuration, hub: julia

#6175 merging 6172/6173/6174 to prod
  .circleci/config.yml
  .github/workflows/deploy-hubs.yaml
  deployments/julia/hubploy.yaml
  deployments/julia/image/Dockerfile
  deployments/julia/image/README.md
  deployments/julia/image/apt.txt
  deployments/julia/image/environment.yml
  deployments/julia/image/infra-requirements.txt
  deployments/julia/image/install-julia-packages.jl
  deployments/julia/image/install-julia.bash
  deployments/julia/image/install-mambaforge.bash
  scripts/user-image-management/repos.txt
Labels: documentation, build-infra, bash, dockerfile, configuration, singleuser-image, hub: julia

#6162 Enable elevated privileges for Data 6 course staff
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#6180 [DH-364] Add openpyssl package to DataHub image
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#6179 Merge 6162, 6180 to prod
  deployments/datahub/config/common.yaml
  deployments/datahub/images/default/environment.yml
Labels: configuration, singleuser-image, hub: datahub

#6194 adding an entry for julia
  node-placeholder/values.yaml
Labels: configuration, node-placeholder-deployment, helm-config

#6192 [DH-3] Set chp timeout data8, data100, datahub
  hub/values.yaml
Labels: configuration, helm-config, jupyterhub-deployment

#6197 merging 6192/6194 to prod
  hub/values.yaml
  node-placeholder/values.yaml
Labels: configuration, node-placeholder-deployment, helm-config, jupyterhub-deployment

#6198 adding nano for issue #6195
  deployments/datahub/images/default/apt.txt
Labels: configuration, singleuser-image, hub: datahub

#6201 More tweaks to the shared directory request template
  .github/ISSUE_TEMPLATE/shared_directories.yml
Labels: issue-templates

#6206 Add shared directories to Biology Hub to support BioE C149 course
  deployments/biology/config/common.yaml
Labels: configuration, hub: biology

#6211 Increase RAM to 16 GB and CPU allocation to 2 cores for Data 100 teaching staff
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#6213 [DH-301] enable cicd for data102
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6214 [DH-382] removing chp timeouts
  hub/values.yaml
Labels: configuration, helm-config, jupyterhub-deployment

#6218 [DH-301] temp disable data102
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6215 Merging #6211, #6212, #6213, #6214, #6218 to prod
  .circleci/config.yml
  .github/workflows/deploy-hubs.yaml
  deployments/data100/config/common.yaml
  deployments/data102/hubploy.yaml
  deployments/data102/image/README.md
  deployments/data102/image/apt.txt
  deployments/data102/image/environment.yml
  deployments/data102/image/infra-requirements.txt
  deployments/data102/image/postBuild
  deployments/data102/image/start
  hub/values.yaml
  scripts/user-image-management/repos.txt
Labels: documentation, build-infra, bash, configuration, singleuser-image, hub: data102, hub: data100, helm-config, jupyterhub-deployment

#6219 [dh-301] enable cicd for data102
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6220 [DH-301] update data102 image tag to ba17dfb0e793: deployments/data102/hubploy…
  deployments/data102/hubploy.yaml
Labels: configuration, hub: data102

#6221 merging 62196220 to prod
  .github/workflows/deploy-hubs.yaml
  deployments/data102/hubploy.yaml
Labels: build-infra, configuration, hub: data102

#6222 [DH-377] bumping jupyter core packages, moving some from pip to conda
  deployments/data100/image/environment.yml
Labels: configuration, singleuser-image, hub: data100

#6223 Increase RAM and CPU for Data 100 students to work on assignment 3
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#6226 remove myself from the issue template for archive file requests
  .github/ISSUE_TEMPLATE/data_archival_request.yml
Labels: issue-templates

#6227 debumping a bunch of packages to unbreak things
  deployments/data100/image/environment.yml
Labels: configuration, singleuser-image, hub: data100

#6228 merging 6226/6227 to prod
  .github/ISSUE_TEMPLATE/data_archival_request.yml
  deployments/data100/image/environment.yml
Labels: configuration, singleuser-image, hub: data100, issue-templates

#6229 add another placeholder for d100
  node-placeholder/values.yaml
Labels: configuration, node-placeholder-deployment, helm-config

#6235 update biology image tag to c6aa3725c360: deployments/biology/hubploy…
  deployments/biology/hubploy.yaml
Labels: configuration, hub: biology

#6236 merging 6229/6235 to prod
  deployments/biology/hubploy.yaml
  node-placeholder/values.yaml
Labels: configuration, hub: biology, node-placeholder-deployment, helm-config

#6234 [DH-301] prep for moving ischool image to its own repo
  .circleci/config.yml
  deployments/ischool/hubploy.yaml
  deployments/ischool/image/Dockerfile
  deployments/ischool/image/README.md
  deployments/ischool/image/environment.yml
  deployments/ischool/image/file-locks
  deployments/ischool/image/infra-requirements.txt
  deployments/ischool/image/install-mambaforge.bash
Labels: documentation, build-infra, bash, dockerfile, configuration, singleuser-image, hub: ischool

#6238 [DH-301] update ischool image tag to 0be26ba905cb: deployments/ischool/hubploy…
  deployments/ischool/hubploy.yaml
Labels: configuration, hub: ischool

#6239 [DH-301] adding ischool to repo list
  scripts/user-image-management/repos.txt
Labels: documentation

#6240 merging 6234/6237/6238/6239 to prod
  .circleci/config.yml
  .github/workflows/deploy-hubs.yaml
  deployments/ischool/hubploy.yaml
  deployments/ischool/image/Dockerfile
  deployments/ischool/image/README.md
  deployments/ischool/image/environment.yml
  deployments/ischool/image/file-locks
  deployments/ischool/image/infra-requirements.txt
  deployments/ischool/image/install-mambaforge.bash
  scripts/user-image-management/repos.txt
Labels: documentation, build-infra, bash, dockerfile, configuration, singleuser-image, hub-images, hub: ischool

#6241 [DH-301] parens were causing this to quietly fail
  .github/scripts/determine-hub-deployments.py
Labels: build-infra, hub-images

#6243 [DH-301] truly fix the logic
  .github/scripts/determine-hub-deployments.py
Labels: build-infra

#6242 merging 6241/6243 to prod
  .github/scripts/determine-hub-deployments.py
Labels: build-infra, hub-images

#6244 [DH-377] bump data101 proxy ram
  deployments/data101/config/common.yaml
Labels: configuration, hub: data101

#6245 merging 6244 to prod
  deployments/data101/config/common.yaml
Labels: configuration, hub: data101

#6246 [DH-301] preparing to move edx to its own image repo
  .circleci/config.yml
  deployments/edx/hubploy.yaml
  deployments/edx/image/README.md
  deployments/edx/image/apt.txt
  deployments/edx/image/environment.yml
  deployments/edx/image/infra-requirements.txt
  deployments/edx/image/ipython_config.py
  deployments/edx/image/overrides.json
  deployments/edx/image/postBuild
  scripts/user-image-management/repos.txt
Labels: documentation, build-infra, python, bash, configuration, singleuser-image, hub: edx

#6247 [DH-301] enable ci/cd for edx
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6249 update ugr01 image tag to bdf094d506c7: deployments/ugr01/hubploy.yaml
  deployments/ugr01/hubploy.yaml
Labels: configuration, hub: ugr01

#6250 [DH-301] update edx image tag to 7586c90f94ef: deployments/edx/hubploy.yaml
  deployments/edx/hubploy.yaml
Labels: configuration, hub: edx

#6252 update ugr01 image tag to 5deb1dd0fe2a: deployments/ugr01/hubploy.yaml
  deployments/ugr01/hubploy.yaml
Labels: configuration, hub: ugr01

#6253 pull in latest gradebook image
  deployments/gradebook/config/common.yaml
Labels: configuration, hub: gradebook

#6254 Merge #6246, #6247, #6249, #6250, #6251, #6252, #6253
  .circleci/config.yml
  deployments/edx/hubploy.yaml
  deployments/edx/image/README.md
  deployments/edx/image/apt.txt
  deployments/edx/image/environment.yml
  deployments/edx/image/infra-requirements.txt
  deployments/edx/image/ipython_config.py
  deployments/edx/image/overrides.json
  deployments/edx/image/postBuild
  deployments/gradebook/config/common.yaml
  deployments/ugr01/hubploy.yaml
  scripts/user-image-management/repos.txt
Labels: documentation, build-infra, python, bash, configuration, singleuser-image, hub: edx, hub: gradebook, hub: ugr01

#6258 [DH-301] prepping to move data8 to it's own image repo
  .circleci/config.yml
  deployments/data8/hubploy.yaml
  deployments/data8/image/README.md
  deployments/data8/image/apt.txt
  deployments/data8/image/environment.yml
  deployments/data8/image/infra-requirements.txt
  deployments/data8/image/install-mambaforge.bash
  deployments/data8/image/ipython_config.py
  deployments/data8/image/postBuild
  deployments/data8/image/start
  scripts/user-image-management/repos.txt
Labels: documentation, build-infra, python, bash, configuration, singleuser-image, hub: data8

#6259 [DH-301] enable cicd for data8
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6260 [DH-301] update data8 image tag to 229bd619c657: deployments/data8/hubploy.yaml
  deployments/data8/hubploy.yaml
Labels: configuration, hub: data8

#6261 merging 6258/6259/6260 to prod
  .circleci/config.yml
  .github/workflows/deploy-hubs.yaml
  deployments/data8/hubploy.yaml
  deployments/data8/image/README.md
  deployments/data8/image/apt.txt
  deployments/data8/image/environment.yml
  deployments/data8/image/infra-requirements.txt
  deployments/data8/image/install-mambaforge.bash
  deployments/data8/image/ipython_config.py
  deployments/data8/image/postBuild
  deployments/data8/image/start
  scripts/user-image-management/repos.txt
Labels: documentation, build-infra, python, bash, configuration, singleuser-image, hub: data8

#6262 [DH-301] prep for moving data100 user image
  .circleci/config.yml
  deployments/data100/hubploy.yaml
  deployments/data100/image/README.md
  deployments/data100/image/apt.txt
  deployments/data100/image/environment.yml
  deployments/data100/image/infra-requirements.txt
  deployments/data100/image/postBuild
  deployments/data100/image/start
  scripts/user-image-management/repos.txt
Labels: documentation, build-infra, bash, configuration, singleuser-image, hub: data100

#6263 [DH-301] enable ci/cd for data100
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6257 Enable shared directories for mcb201b
  deployments/biology/config/common.yaml
Labels: configuration, hub: biology

#6264 [DH-301] update data100 image tag to d3a95b9af686: deployments/data100/hubploy…
  deployments/data100/hubploy.yaml
Labels: configuration, hub: data100

#6265 merging 6257/6262/6263/6264 to prod
  .circleci/config.yml
  .github/workflows/deploy-hubs.yaml
  deployments/biology/config/common.yaml
  deployments/data100/hubploy.yaml
  deployments/data100/image/README.md
  deployments/data100/image/apt.txt
  deployments/data100/image/environment.yml
  deployments/data100/image/infra-requirements.txt
  deployments/data100/image/postBuild
  deployments/data100/image/start
  scripts/user-image-management/repos.txt
Labels: documentation, build-infra, bash, configuration, singleuser-image, hub: biology, hub: data100

#6266 [DH-301] preparing to move datahub image to its own repo
  .circleci/config.yml
  .circleci/get-commit-range.py
  deployments/datahub/hubploy.yaml
  deployments/datahub/image/README.md
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/Rprofile.site
  deployments/datahub/images/default/apt.txt
  deployments/datahub/images/default/class-libs.R
  deployments/datahub/images/default/connectors/2021-fall-phys-188-288.bash
  deployments/datahub/images/default/connectors/text.bash
  deployments/datahub/images/default/d8extension.bash
  deployments/datahub/images/default/environment.yml
  deployments/datahub/images/default/infra-requirements.txt
  deployments/datahub/images/default/install-mambaforge.bash
  deployments/datahub/images/default/install.R
  deployments/datahub/images/default/r-packages/2023-fall-mba-247.r
  deployments/datahub/images/default/r-packages/2023-fall-stat-135.r
  deployments/datahub/images/default/r-packages/2024-sp-polsci-3.r
  deployments/datahub/images/default/r-packages/dlab-ctawg.r
  deployments/datahub/images/default/r-packages/econ-140.r
  deployments/datahub/images/default/r-packages/eep-1118.r
  deployments/datahub/images/default/rsession.conf
  deployments/dlab/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
  scripts/user-image-management/repos.txt
Labels: documentation, build-infra, bash, dockerfile, configuration, singleuser-image, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, R-code, hub: highschool

#6267 [DH-301] enable datahub ci/cd
  .github/scripts/determine-hub-deployments.py
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6270 [DH-301] update datahub image tag to 8ae97e7410ae: deployments/datahub/hubploy…
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, hub: highschool

#6271 [DH-301] pin the versions of repo2docker and hubploy
  .github/workflows/deploy-hubs.yaml
  requirements.txt
Labels: build-infra, configuration

#6272 merging 6266/6267/6270/6271 to prod
  .circleci/config.yml
  .circleci/get-commit-range.py
  .github/scripts/determine-hub-deployments.py
  .github/workflows/deploy-hubs.yaml
  deployments/datahub/hubploy.yaml
  deployments/datahub/image/README.md
  deployments/datahub/images/default/Dockerfile
  deployments/datahub/images/default/Rprofile.site
  deployments/datahub/images/default/apt.txt
  deployments/datahub/images/default/class-libs.R
  deployments/datahub/images/default/connectors/2021-fall-phys-188-288.bash
  deployments/datahub/images/default/connectors/text.bash
  deployments/datahub/images/default/d8extension.bash
  deployments/datahub/images/default/environment.yml
  deployments/datahub/images/default/infra-requirements.txt
  deployments/datahub/images/default/install-mambaforge.bash
  deployments/datahub/images/default/install.R
  deployments/datahub/images/default/r-packages/2023-fall-mba-247.r
  deployments/datahub/images/default/r-packages/2023-fall-stat-135.r
  deployments/datahub/images/default/r-packages/2024-sp-polsci-3.r
  deployments/datahub/images/default/r-packages/dlab-ctawg.r
  deployments/datahub/images/default/r-packages/econ-140.r
  deployments/datahub/images/default/r-packages/eep-1118.r
  deployments/datahub/images/default/rsession.conf
  deployments/dlab/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
  requirements.txt
  scripts/user-image-management/repos.txt
Labels: documentation, build-infra, bash, dockerfile, configuration, singleuser-image, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, R-code, hub: highschool

#6278 [DH-301] remove gcloud auth stanza as its superfluous
  .github/workflows/deploy-hubs.yaml
Labels: build-infra, hub: a11y

#6279 merging 6277/6278 to prod
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6284 update edx image tag to 64d38046ca94: deployments/edx/hubploy.yaml
  deployments/edx/hubploy.yaml
Labels: configuration, hub: edx

#6280 Add note to GitHub template for requesting shared_directories
  .github/ISSUE_TEMPLATE/shared_directories.yml
Labels: issue-templates

#6282 Increase RAM To 2 GB for MBA 247 course in DataHub
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#6285 update data8 image tag to 949086545647: deployments/data8/hubploy.yaml
  deployments/data8/hubploy.yaml
Labels: configuration, hub: data8

#6286 Merging #6284, #6280, #6282, #6285 to prod
  .github/ISSUE_TEMPLATE/shared_directories.yml
  deployments/data8/hubploy.yaml
  deployments/datahub/config/common.yaml
  deployments/edx/hubploy.yaml
Labels: configuration, hub: datahub, hub: data8, issue-templates, hub: edx

#6288 update ugr01 image tag to 163695fd2556: deployments/ugr01/hubploy.yaml
  deployments/ugr01/hubploy.yaml
Labels: configuration, hub: ugr01

#6291 Update gradebook image.
  deployments/gradebook/config/common.yaml
Labels: configuration, hub: gradebook

#6292 Merge #6288, #6290, #6291
  deployments/gradebook/config/common.yaml
  deployments/ugr01/hubploy.yaml
Labels: configuration, hub: gradebook, hub: ugr01

#6304 update data8 image tag to 84d9c800dba0: deployments/data8/hubploy.yaml
  deployments/data8/hubploy.yaml
Labels: configuration, hub: data8

#6303 update data102 image tag to 1ae8a9184467: deployments/data102/hubploy…
  deployments/data102/hubploy.yaml
Labels: configuration, hub: data102

#6302 update edx image tag to 44cfbcb5cc13: deployments/edx/hubploy.yaml
  deployments/edx/hubploy.yaml
Labels: configuration, hub: edx

#6301 update data100 image tag to 511c4637d702: deployments/data100/hubploy…
  deployments/data100/hubploy.yaml
Labels: configuration, hub: data100

#6299 update logodev image tag to 166722c68e0d: deployments/logodev/hubploy…
  deployments/logodev/hubploy.yaml
Labels: configuration, hub: logodev

#6300 update data101 image tag to 48a90d76171a: deployments/data101/hubploy…
  deployments/data101/hubploy.yaml
Labels: configuration, hub: data101

#6306 fixed broken var name
  scripts/user-image-management/manage-image-repos.py
Labels: python
