Repository berkeley-dsep-infra/datahub, pull requests merged in 2025-09, with the labels that each got.

#7422 Merge #7421
  deployments/stat159/hubploy.yaml
Labels: configuration, hub: stat159

#7430 Merge common.yaml and staging/prod.yaml
  deployments/nature/config/prod.yaml
  deployments/nature/config/staging.yaml
  deployments/stat159/config/common.yaml
  deployments/stat159/config/prod.yaml
  deployments/stat159/config/staging.yaml
Labels: configuration, hub: stat159, hub: nature

#7432 Add readonly dirs for instructors and TAs
  deployments/stat159/config/prod.yaml
  deployments/stat159/config/staging.yaml
Labels: configuration, hub: stat159

#7434 [DH-544] changing windowingMode from full to defer
  deployments/a11y/config/common.yaml
  deployments/data100/config/common.yaml
  deployments/r/config/common.yaml
Labels: configuration, hub: a11y, hub: data100, hub: r

#7464 Limit cdss-discovery access to Fall cohort.
  deployments/cdss-discovery/config/common.yaml
Labels: configuration

#7465 Discovery provided an updated ID.
  deployments/cdss-discovery/config/common.yaml
Labels: configuration

#7466 Merge #7465.
  deployments/cdss-discovery/config/common.yaml
Labels: configuration

#7470 Merge #7467, #7468, #7469.
  .github/labeler.yml
  .github/workflows/deploy-hubs.yaml
  deployments/cdss-discovery/config/common.yaml
Labels: build-infra, configuration

#7471 Remove disabled spring '25.
  deployments/cdss-discovery/config/common.yaml
Labels: configuration, hub: cdss-discovery

#7476 Try re-enabling cdss-discovery again.
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#7477 Sort and filter GPU list.
  deployments/cdss-discovery/config/common.yaml
Labels: configuration, hub: cdss-discovery

#7480 Merge #7471, #7472, #7473, #7476, #7477, #7479.
  .github/scripts/determine-hub-deployments.py
  deployments/a11y/config/common.yaml
  deployments/astro/config/common.yaml
  deployments/biology/config/common.yaml
  deployments/cdss-discovery/config/common.yaml
  deployments/cee/config/common.yaml
  deployments/data100/config/common.yaml
  deployments/data101/config/common.yaml
  deployments/data102/config/common.yaml
  deployments/data8/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/dev/config/common.yaml
  deployments/dlab/config/common.yaml
  deployments/edx/config/common.yaml
  deployments/eecs/config/common.yaml
  deployments/gradebook/config/common.yaml
  deployments/highschool/config/common.yaml
  deployments/ischool/config/common.yaml
  deployments/julia/config/common.yaml
  deployments/logodev/config/common.yaml
  deployments/nature/config/common.yaml
  deployments/prob140/config/common.yaml
  deployments/publichealth/config/common.yaml
  deployments/r/config/common.yaml
  deployments/stat159/config/common.yaml
  deployments/stat20/config/common.yaml
  deployments/template/{{cookiecutter.hub_name}}/config/common.yaml
  deployments/workshop/config/common.yaml
  hub/values.yaml
Labels: build-infra, hub: stat20, configuration, hub: astro, hub: stat159, hub: datahub, hub: a11y, hub: data102, hub: dlab, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: logodev, hub: prob140, hub: publichealth, hub: r, hub: workshop, hub: highschool, helm-config, jupyterhub-deployment, hub: edx, hub: gradebook, hub: dev, hub: nature, hub: cdss-discovery

#7491 DH-377, revert chp version for nature prod
  deployments/nature/config/prod.yaml
Labels: configuration, hub: nature

#7507 Re-enable cdss-discovery again.
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#7508 Merge #7507.
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#7514 Merge 7511 and 7513 to prod
  deployments/datahub/hubploy.yaml
  deployments/dev/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/gradebook/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/publichealth/config/common.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: prob140, hub: publichealth, hub: r, hub: workshop, hub: highschool, hub: gradebook, hub: dev

#7523 DH-569
  deployments/nature/config/common.yaml
Labels: configuration, hub: nature

#7524 DH-569
  deployments/nature/config/common.yaml
Labels: configuration, hub: nature

#7537 Add storage volume for stellar group.
  deployments/cdss-discovery/config/README.md
  deployments/cdss-discovery/config/common.yaml
  deployments/cdss-discovery/config/stellar-prod.yaml
  deployments/cdss-discovery/config/stellar-staging.yaml
Labels: documentation, configuration, hub: cdss-discovery

#7538 Merge #7537.
  deployments/cdss-discovery/config/README.md
  deployments/cdss-discovery/config/common.yaml
  deployments/cdss-discovery/config/stellar-prod.yaml
  deployments/cdss-discovery/config/stellar-staging.yaml
Labels: documentation, configuration, hub: cdss-discovery

#7539 Try fix to http-proxy-3.
  deployments/nature/config/common.yaml
Labels: configuration, hub: nature

#7547 Merge 7543 and 7546 to prod
  deployments/data100/config/common.yaml
  deployments/data101/config/common.yaml
  deployments/nature/config/common.yaml
Labels: configuration, hub: data100, hub: data101, hub: nature

#7566 DH-495
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#7570 re-enable RTC, upgrade chp to 5.1.0, and revert nature image to inclu…
  deployments/nature/config/common.yaml
  deployments/nature/hubploy.yaml
  hub/values.yaml
Labels: configuration, helm-config, jupyterhub-deployment, hub: nature

#7569 Merge 7568, 7570 and 7571 to prod
  deployments/datahub/config/common.yaml
  deployments/datahub/hubploy.yaml
  deployments/dev/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/gradebook/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/nature/config/common.yaml
  deployments/nature/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
  hub/values.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, hub: highschool, helm-config, jupyterhub-deployment, hub: gradebook, hub: dev, hub: nature

#7583 Merge 7581, 7582 and 7584 to prod
  deployments/a11y/hubploy.yaml
  deployments/biology/hubploy.yaml
  deployments/datahub/hubploy.yaml
  deployments/dev/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/gradebook/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: a11y, hub: dlab, hub: biology, hub: prob140, hub: r, hub: workshop, hub: highschool, hub: gradebook, hub: dev

#7590 update stat159 image on staging only
  .github/workflows/deploy-hubs.yaml
  deployments/stat159/hubploy.yaml
Labels: build-infra, configuration, hub: stat159
