Repository berkeley-dsep-infra/datahub, pull requests merged in 2025-06, with the labels that each got.

#7153 DH-528
  hub/Chart.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
Labels: dockerfile, configuration, hub-images, node-placeholder-deployment, helm-config, jupyterhub-deployment

#7156 Set JupyterShinyProxy.site_dir to ShinyApps.
  deployments/r/config/common.yaml
Labels: configuration, hub: r

#7154 DH-528
  deployments/r/config/common.yaml
  hub/Chart.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
Labels: dockerfile, configuration, hub-images, hub: r, node-placeholder-deployment, helm-config, jupyterhub-deployment

#7170 new filestore for data100
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#7157 Enable elevated privileges for Econ 140 summer session C
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#7179 [DH-527] Convert the markdown for memory increase template to yaml
  .github/ISSUE_TEMPLATE/higher-resources.md
Labels: issue-templates

#7181 [DH-73] Allow Data8 Hub access to users enrolled in bcourses roster from Spring 25 and Summer 25
  deployments/data8/config/common.yaml
Labels: configuration, hub: data8

#7184 Merge 7158, 7167, 7170, 7177 and 7179 to prod
  .github/ISSUE_TEMPLATE/higher-resources.md
  .github/ISSUE_TEMPLATE/memory-increase.yml
  deployments/data100/config/common.yaml
  deployments/data100/config/filestore/squash-flags.json
  deployments/data8/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/stat159/hubploy.yaml
  deployments/workshop/config/common.yaml
  docs/tasks/delete-hub.qmd
  docs/tasks/new-hub.qmd
  node-placeholder/values.yaml
  scripts/hub_alerts/README.md
  scripts/hub_alerts/create_alerts.py
Labels: documentation, python, configuration, hub: stat159, hub: datahub, hub: data100, hub: data8, hub: workshop, node-placeholder-deployment, issue-templates, helm-config

#7185 [DH-73] Add datahub-admins bcourses group to the authorized list in Data8 configs
  deployments/data8/config/common.yaml
Labels: configuration, hub: data8

#7197 AssertNoLeakedSecret set to false (DH-538)
  support/values.yaml
Labels: configuration, helm-config, support-deployment

#7198 DH-538
  support/dashboards/Cluster/Cluster-Health-1714066323007.json
  support/dashboards/Dev/Python-Popularity-Contest-1714066357213.json
  support/dashboards/Dev/Ryan-Draft-Panels-1714066360784.json
  support/dashboards/JupyterHub/Anomalous-Activities-1714066292129.json
  support/dashboards/JupyterHub/Core-Pods-Resource-Usage-1714066335185.json
  support/dashboards/JupyterHub/Hub-Metrics-1714066344166.json
  support/dashboards/NFS-Support/Cloud-Storage-Monitoring-1714066317471.json
  support/dashboards/NFS-Support/Storage-I-O-Statistics-1714066365230.json
  support/dashboards/Nginx/HTTP-Requests-Nginx-1714066338895.json
  support/dashboards/Nginx/NGINX-Ingress-controller-1714066353536.json
  support/dashboards/Nginx/Nginx-Based-Request-Metrics-1714066371135.json
  support/requirements.yaml
  support/templates/grafana-configmap.yaml
  vendor/grafana/dashboards/general/Cluster Information2-1714066330142.json
  vendor/grafana/dashboards/general/JupyterHub Dashboard2-1714066348840.json
  vendor/grafana/dashboards/jupyterhub/Cluster Information-1714066576091.json
  vendor/grafana/dashboards/jupyterhub/Global Usage Dashboard-1714066534688.json
  vendor/grafana/dashboards/jupyterhub/JupyterHub Dashboard-1714066548245.json
  vendor/grafana/dashboards/jupyterhub/NFS and Support Information-1714066550552.json
  vendor/grafana/dashboards/jupyterhub/Usage Report-1714066552403.json
  vendor/grafana/dashboards/jupyterhub/User Diagnostics Dashboard-1714066554584.json
Labels: configuration, helm-config, support-deployment, grafana

#7205 [DH-501] Set node placeholder values to 1 for Stat20, Data100 and Data8 Hubs
  node-placeholder/values.yaml
Labels: configuration, node-placeholder-deployment, helm-config
