Repository berkeley-dsep-infra/datahub, pull requests merged in 2025-04, with the labels that each got.

#6920 Github actions for automatic data retrieval
  .github/scripts/sign_url_and_send_emails.py
  .github/scripts/username_mapping.py
  .github/workflows/data-retrieval.yaml
Labels: build-infra

#6921 DH-476
  .github/scripts/sign_url_and_send_emails.py
  .github/scripts/username_mapping.py
  .github/workflows/data-retrieval.yaml
Labels: build-infra

#6928 Merge 6927 to prod
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/gradebook/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, hub: highschool, hub: gradebook

#6955 Merge 6952 to prod
  deployments/nature/hubploy.yaml
Labels: configuration, hub: nature

#6963 [DH-487] Documenting current workflow to get course information from GCP logs
  docs/_quarto.yml
  docs/tasks/gcp-bigquery-sink.qmd
Labels: documentation, configuration

#6986 Merge 6963, 6965, 6984 and 6985 to prod
  deployments/a11y/hubploy.yaml
  deployments/astro/config/common.yaml
  docs/_quarto.yml
  docs/tasks/gcp-bigquery-sink.qmd
Labels: documentation, configuration, hub: astro, hub: a11y

#7015 Set OLLAMA_MODELS environment variable.
  deployments/a11y/config/common.yaml
Labels: configuration, hub: a11y

#7016 Merge #7011, #7015.
  deployments/a11y/config/common.yaml
  deployments/data8/hubploy.yaml
Labels: configuration, hub: a11y, hub: data8

#7019 adding certmanager troubleshooting url
  docs/tasks/clusterswitch.qmd
Labels: documentation

#7023 Dh 135
  deployments/dev/config/prod.yaml
  deployments/dev/secrets/prod.yaml
  hub/Chart.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: dockerfile, configuration, hub-images, node-placeholder-deployment, helm-config, jupyterhub-deployment, hub: dev

#7031 DH-135
  deployments/a11y/hubploy.yaml
  deployments/biology/hubploy.yaml
  deployments/data100/hubploy.yaml
  deployments/data101/hubploy.yaml
  deployments/data102/hubploy.yaml
  deployments/datahub/hubploy.yaml
  deployments/dev/config/prod.yaml
  deployments/dev/hubploy.yaml
  deployments/dev/secrets/prod.yaml
  deployments/dlab/hubploy.yaml
  deployments/gradebook/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
  hub/Chart.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: dockerfile, configuration, hub-images, hub: datahub, hub: a11y, hub: data102, hub: dlab, hub: biology, hub: data100, hub: data101, hub: prob140, hub: r, hub: workshop, node-placeholder-deployment, hub: highschool, helm-config, jupyterhub-deployment, hub: gradebook, hub: dev

#7032 DH-135
  deployments/a11y/config/prod.yaml
  deployments/a11y/secrets/prod.yaml
  deployments/astro/config/prod.yaml
  deployments/astro/secrets/prod.yaml
  deployments/biology/config/prod.yaml
  deployments/biology/secrets/prod.yaml
  deployments/cee/config/prod.yaml
  deployments/cee/secrets/prod.yaml
  deployments/data100/config/prod.yaml
  deployments/data100/secrets/prod.yaml
  deployments/data101/config/prod.yaml
  deployments/data101/secrets/prod.yaml
  deployments/data102/config/prod.yaml
  deployments/data102/secrets/prod.yaml
  deployments/data8/config/prod.yaml
  deployments/data8/secrets/prod.yaml
  deployments/datahub/config/prod.yaml
  deployments/datahub/secrets/prod.yaml
  deployments/dev/config/prod.yaml
  deployments/dlab/config/prod.yaml
  deployments/dlab/secrets/prod.yaml
  deployments/eecs/config/prod.yaml
  deployments/eecs/secrets/prod.yaml
  deployments/ischool/config/prod.yaml
  deployments/ischool/secrets/prod.yaml
  deployments/julia/config/prod.yaml
  deployments/julia/secrets/prod.yaml
  deployments/logodev/config/prod.yaml
  deployments/logodev/secrets/prod.yaml
  deployments/nature/config/prod.yaml
  deployments/nature/secrets/prod.yaml
  deployments/prob140/config/prod.yaml
  deployments/prob140/secrets/prod.yaml
  deployments/publichealth/config/prod.yaml
  deployments/publichealth/secrets/prod.yaml
  deployments/r/config/prod.yaml
  deployments/r/secrets/prod.yaml
  deployments/stat159/config/prod.yaml
  deployments/stat159/secrets/prod.yaml
  deployments/stat20/config/prod.yaml
  deployments/stat20/secrets/prod.yaml
Labels: hub: stat20, configuration, hub: astro, hub: stat159, hub: datahub, hub: a11y, hub: data102, hub: dlab, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: logodev, hub: prob140, hub: publichealth, hub: r, hub: dev, hub: nature

#7033 DH-135
  deployments/a11y/config/prod.yaml
  deployments/a11y/secrets/prod.yaml
  deployments/astro/config/prod.yaml
  deployments/astro/secrets/prod.yaml
  deployments/biology/config/prod.yaml
  deployments/biology/secrets/prod.yaml
  deployments/cee/config/prod.yaml
  deployments/cee/secrets/prod.yaml
  deployments/data100/config/prod.yaml
  deployments/data100/secrets/prod.yaml
  deployments/data101/config/prod.yaml
  deployments/data101/secrets/prod.yaml
  deployments/data102/config/prod.yaml
  deployments/data102/secrets/prod.yaml
  deployments/data8/config/prod.yaml
  deployments/data8/secrets/prod.yaml
  deployments/datahub/config/prod.yaml
  deployments/datahub/secrets/prod.yaml
  deployments/dev/config/prod.yaml
  deployments/dlab/config/prod.yaml
  deployments/dlab/secrets/prod.yaml
  deployments/eecs/config/prod.yaml
  deployments/eecs/secrets/prod.yaml
  deployments/ischool/config/prod.yaml
  deployments/ischool/secrets/prod.yaml
  deployments/julia/config/prod.yaml
  deployments/julia/secrets/prod.yaml
  deployments/logodev/config/prod.yaml
  deployments/logodev/secrets/prod.yaml
  deployments/nature/config/prod.yaml
  deployments/nature/secrets/prod.yaml
  deployments/prob140/config/prod.yaml
  deployments/prob140/secrets/prod.yaml
  deployments/publichealth/config/prod.yaml
  deployments/publichealth/secrets/prod.yaml
  deployments/r/config/prod.yaml
  deployments/r/secrets/prod.yaml
  deployments/stat159/config/prod.yaml
  deployments/stat159/secrets/prod.yaml
  deployments/stat20/config/prod.yaml
  deployments/stat20/secrets/prod.yaml
Labels: hub: stat20, configuration, hub: astro, hub: stat159, hub: datahub, hub: a11y, hub: data102, hub: dlab, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: logodev, hub: prob140, hub: publichealth, hub: r, hub: dev, hub: nature

#7034 data100 fix yaml
  deployments/data100/config/prod.yaml
Labels: configuration, hub: data100

#7035 DH-135
  deployments/data100/config/prod.yaml
Labels: configuration, hub: data100

#7036 add a empty line
  deployments/dev/config/prod.yaml
Labels: configuration, hub: dev

#7037 DH-135
  deployments/dev/config/prod.yaml
Labels: hub: stat20, configuration, hub: astro, hub: stat159, hub: datahub, hub: a11y, hub: data102, hub: dlab, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: logodev, hub: prob140, hub: publichealth, hub: r, hub: dev, hub: nature
