Repository berkeley-dsep-infra/datahub, pull requests merged in 2025-03, with the labels that each got.

#6862 [DH-258] moving edx prod hub image over to edx GAR
  deployments/edx/config/prod.yaml
Labels: configuration, hub: edx

#6858 Merge #6851, #6856, #6862 to prod
  deployments/cdss-discovery/config/common.yaml
  deployments/datahub/hubploy.yaml
  deployments/dev/config/common.yaml
  deployments/dev/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/edx/config/prod.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, hub: highschool, hub: edx, hub: dev

#6869 Move gradebook to datahub image.
  deployments/gradebook/hubploy.yaml
Labels: configuration, hub: gradebook

#6870 Update old tag.
  deployments/gradebook/hubploy.yaml
Labels: configuration, hub: gradebook

#6871 Merge #6866, #6869, #6870
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/gradebook/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, hub: highschool, hub: gradebook

#6876 Add note about archiving user images.
  docs/tasks/delete-hub.qmd
Labels: documentation

#6879 Enable observers to login to cdss-discovery.
  deployments/cdss-discovery/config/common.yaml
Labels: configuration

#6880 Bump start timeout on CDSS hub.
  deployments/cdss-discovery/config/common.yaml
Labels: configuration

#6882 Increase RAM to 16 GB for PS231D
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#6883 Merge 6876, 6879, 6880, 6881 and 6882 to prod
  deployments/cdss-discovery/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/gradebook/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
  docs/tasks/delete-hub.qmd
Labels: documentation, configuration, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, hub: highschool, hub: gradebook

#6863 [DH-400] remove shiny hub
  .github/labeler.yml
  deployments/shiny/config/common.yaml
  deployments/shiny/config/filestore/squash-flags.json
  deployments/shiny/config/prod.yaml
  deployments/shiny/config/staging.yaml
  deployments/shiny/hubploy.yaml
  deployments/shiny/secrets/gke-key.json
  deployments/shiny/secrets/prod.yaml
  deployments/shiny/secrets/staging.yaml
  docs/hubs.qmd
  docs/hubs/shiny.qmd
  scripts/user-image-management/repos.txt
Labels: documentation, build-infra, configuration, hub: shiny

#6891 Merge 6890 to prod
  .github/labeler.yml
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/gradebook/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/shiny/config/common.yaml
  deployments/shiny/config/filestore/squash-flags.json
  deployments/shiny/config/prod.yaml
  deployments/shiny/config/staging.yaml
  deployments/shiny/hubploy.yaml
  deployments/shiny/secrets/gke-key.json
  deployments/shiny/secrets/prod.yaml
  deployments/shiny/secrets/staging.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
  docs/hubs.qmd
  docs/hubs/shiny.qmd
  scripts/user-image-management/repos.txt
Labels: documentation, build-infra, configuration, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, hub: highschool, hub: gradebook

#6907 [EdX] Add Kseniya to Admins
  deployments/edx/config/common.yaml
Labels: configuration, hub: edx

#6910 [DH-480] upgraded ingress-nginx
  support/requirements.yaml
Labels: configuration, helm-config, support-deployment

#6911 [DH-480] Merging #6910 to prod
  support/requirements.yaml
Labels: configuration, helm-config, support-deployment

#6912 Resuming automated edx deploys
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6913 Merging #6912 to prod
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#6905 [DH-479] Enable shared directory for econ 148
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#6916 Remove memory allocation for PS 231D
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#6914 Merging #6905 and #6916 to prod
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub
