Repository berkeley-dsep-infra/datahub, pull requests merged in 2025-07, with the labels that each got.

#7226 Github actions for responding to user requests (DH-527)
  .github/ISSUE_TEMPLATE/add_admin_config_request.yml
  .github/ISSUE_TEMPLATE/add_memory_config_request.yml
  .github/ISSUE_TEMPLATE/add_shared_directories_request.yml
  .github/ISSUE_TEMPLATE/memory-increase.yml
  .github/ISSUE_TEMPLATE/remove_admin_config_request.yml
  .github/ISSUE_TEMPLATE/remove_memory_config_request.yml
  .github/ISSUE_TEMPLATE/remove_shared_directories_request.yml
  .github/scripts/admin_request/add_admin_config.py
  .github/scripts/admin_request/remove_admin_config.py
  .github/scripts/extract_course_info.py
  .github/scripts/memory_request/add_memory_config.py
  .github/scripts/memory_request/remove_memory_config.py
  .github/scripts/shared_directories/add_shared_directories.py
  .github/scripts/shared_directories/remove_shared_directories.py
  .github/workflows/add_admin_config.yaml
  .github/workflows/add_memory_config.yaml
  .github/workflows/add_shared_directories.yaml
  .github/workflows/data-retrieval.yaml
  .github/workflows/dispatcher.yaml
  .github/workflows/remove_admin_config.yaml
  .github/workflows/remove_memory_config.yaml
  .github/workflows/remove_shared_directories.yaml
Labels: build-infra, issue-templates

#7230 pass secrets and vars
  .github/workflows/add_admin_config.yaml
  .github/workflows/add_memory_config.yaml
  .github/workflows/add_shared_directories.yaml
  .github/workflows/data-retrieval.yaml
  .github/workflows/dispatcher.yaml
  .github/workflows/remove_admin_config.yaml
  .github/workflows/remove_memory_config.yaml
  .github/workflows/remove_shared_directories.yaml
Labels: build-infra

#7243 Fix admin configurations
  .github/scripts/admin_request/add_admin_config.py
Labels: build-infra

#7266 Merge 7263 and 7265 to prod
  deployments/data8/config/common.yaml
  deployments/stat20/config/common.yaml
Labels: hub: stat20, configuration, hub: data8

#7274 Don't raise on 500.
  images/node-placeholder-scaler/scaler/calendar.py
  images/node-placeholder-scaler/scaler/scaler.py
Labels: python, hub-images, node-placeholder-scaler

#7275 update node placeholder helm chart
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: configuration, node-placeholder-deployment, helm-config

#7276 DH-527 Modify the deployment workflow to create shared directories on the NFS server
  .github/scripts/shared_directories/get_shared_dir_path.py
  .github/workflows/add_shared_directories.yaml
  .github/workflows/deploy-hubs.yaml
  .github/workflows/deploy-node-placeholder.yaml
  .github/workflows/deploy-support.yaml
  .github/workflows/remove_shared_directories.yaml
Labels: build-infra

#7285 DH-527 Fixing label finder
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#7287 Fix label finder
  .github/workflows/deploy-hubs.yaml
Labels: build-infra

#7297 DH-527
  .github/workflows/add_shared_directories.yaml
  .github/workflows/remove_shared_directories.yaml
Labels: build-infra

#7298 DH-527
  .github/workflows/add_shared_directories.yaml
  .github/workflows/remove_shared_directories.yaml
Labels: build-infra

#7299 Fix label
  .github/workflows/remove_shared_directories.yaml
Labels: build-infra

#7307 Merge 7274, 7275, 7276, 7281, 7282, 7284, 7285, 7286, 7290, 7291, 7295, 7297, 7300, 7302, 7304 and 7305 to prod
  .github/scripts/shared_directories/get_shared_dir_path.py
  .github/workflows/add_shared_directories.yaml
  .github/workflows/deploy-hubs.yaml
  .github/workflows/deploy-node-placeholder.yaml
  .github/workflows/deploy-support.yaml
  .github/workflows/remove_shared_directories.yaml
  deployments/biology/hubploy.yaml
  deployments/datahub/config/common.yaml
  deployments/julia/hubploy.yaml
  images/node-placeholder-scaler/scaler/calendar.py
  images/node-placeholder-scaler/scaler/scaler.py
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: build-infra, python, configuration, hub-images, hub: datahub, hub: biology, hub: julia, node-placeholder-deployment, node-placeholder-scaler, helm-config

#7311 [DH-548] Remove ugr entry in labeler.yml and repos.txt
  .github/labeler.yml
  scripts/user-image-management/repos.txt
Labels: documentation, build-infra

#7313 DH-548 Remove urg related stuff
  .github/labeler.yml
  deployments/ugr01/config/common.yaml
  deployments/ugr01/config/filestore/squash-flags.json
  deployments/ugr01/config/prod.yaml
  deployments/ugr01/config/staging.yaml
  deployments/ugr01/hubploy.yaml
  deployments/ugr01/image/README.md
  deployments/ugr01/secrets/gke-key.json
  deployments/ugr01/secrets/prod.yaml
  deployments/ugr01/secrets/staging.yaml
  scripts/user-image-management/repos.txt
Labels: documentation, build-infra, configuration, singleuser-image, hub: ugr01

#7321 DH-363, postgres server upgraded to 17.5
  deployments/data101/config/common.yaml
  images/postgres/Dockerfile
Labels: dockerfile, configuration, hub: data101

#7324 DH-542 Shared Conda for Stat159 and Nature
  deployments/nature/config/common.yaml
  deployments/nature/config/prod.yaml
  deployments/nature/config/staging.yaml
  deployments/nature/k8s/fs_conda_instructors.yaml
  deployments/nature/k8s/fs_conda_students.yaml
  deployments/stat159/config/common.yaml
  deployments/stat159/config/prod.yaml
  deployments/stat159/config/staging.yaml
  deployments/stat159/k8s/fs_conda_instructors.yaml
  deployments/stat159/k8s/fs_conda_students.yaml
Labels: configuration, hub: stat159, hub: nature
