Repository berkeley-dsep-infra/datahub, pull requests merged in 2025-02, with the labels that each got.

#6747 update publichealth image tag to e9ca4565dc29
  deployments/publichealth/hubploy.yaml
Labels: configuration, hub: publichealth

#6745 [DH-461] Scale down CEE placeholder values since this hub is not used this semester
  node-placeholder/values.yaml
Labels: configuration, node-placeholder-deployment, helm-config

#6750 Merge 6745 and 6747 to prod
  deployments/publichealth/hubploy.yaml
  node-placeholder/values.yaml
Labels: configuration, hub: publichealth, node-placeholder-deployment, helm-config

#6753 update dev image tag to 300bc7d90e25
  deployments/dev/hubploy.yaml
Labels: configuration, hub: dev

#6764 Fix several cdss-discovery issues.
  deployments/cdss-discovery/config/certificate-prod.yaml
  deployments/cdss-discovery/config/certificate-staging.yml
  deployments/cdss-discovery/config/common.yaml
  deployments/cdss-discovery/hubploy.yaml
  deployments/cdss-discovery/secrets/prod.yaml
Labels: configuration

#6773 update dev image tag to cd87b28bbe46
  deployments/dev/config/common.yaml
  deployments/dev/hubploy.yaml
Labels: configuration, hub: dev

#6774 update a11y image tag to a73497aadf6b
  deployments/a11y/hubploy.yaml
Labels: configuration, hub: a11y

#6775 update astro image tag to 1ce36e5adfb4
  deployments/astro/hubploy.yaml
Labels: configuration, hub: astro

#6776 update cee image tag to 1c505d74e965
  deployments/cee/hubploy.yaml
Labels: configuration, hub: cee

#6777 update data100 image tag to b0d34be6e442
  deployments/data100/hubploy.yaml
Labels: configuration, hub: data100

#6778 update data101 image tag to 219c3fe5492b
  deployments/data101/hubploy.yaml
Labels: configuration, hub: data101

#6779 update data102 image tag to b03b107f11d8
  deployments/data102/hubploy.yaml
Labels: configuration, hub: data102

#6781 update data8 image tag to 99418d3d543d
  deployments/data8/hubploy.yaml
Labels: configuration, hub: data8

#6780 update biology image tag to 09b0e5e1e099
  deployments/biology/hubploy.yaml
Labels: configuration, hub: biology

#6782 update eecs image tag to 2c2aad3ac7dd
  deployments/eecs/hubploy.yaml
Labels: configuration, hub: eecs

#6783 update datahub image tag to 873a0a238b77
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, hub: highschool

#6784 update ischool image tag to da1c579807fb
  deployments/ischool/hubploy.yaml
Labels: configuration, hub: ischool

#6785 Merging #6776, #6777, #6778, #6779, #6780, #6781, #6782, #6783, #6784 to prod
  deployments/biology/hubploy.yaml
  deployments/cee/hubploy.yaml
  deployments/data100/hubploy.yaml
  deployments/data101/hubploy.yaml
  deployments/data102/hubploy.yaml
  deployments/data8/hubploy.yaml
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/eecs/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/ischool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: data102, hub: dlab, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: prob140, hub: r, hub: workshop, hub: highschool

#6789 Bundle more cdss-discovery fixes
  deployments/cdss-discovery/config/common.yaml
Labels: configuration

#6792 remove shane from github issue autoassign, add yijun
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/cpu_template.yml
  .github/ISSUE_TEMPLATE/package_request.yml
  .github/ISSUE_TEMPLATE/performance_issue.yml
  .github/ISSUE_TEMPLATE/resourcescheduler.yml
Labels: issue-templates

#6795 update datahub image tag to f9964fd6cfbf
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, hub: highschool

#6797 Merge 6787, 6789, 6792, 6795 to prod
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/cpu_template.yml
  .github/ISSUE_TEMPLATE/package_request.yml
  .github/ISSUE_TEMPLATE/performance_issue.yml
  .github/ISSUE_TEMPLATE/resourcescheduler.yml
  deployments/cdss-discovery/config/common.yaml
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/julia/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: julia, hub: prob140, hub: r, hub: workshop, hub: highschool, issue-templates

#6802 update ugr01 image tag to c960e98954e9
  deployments/ugr01/hubploy.yaml
Labels: configuration, hub: ugr01

#6803 Merge #6802.
  deployments/ugr01/hubploy.yaml
Labels: configuration, hub: ugr01

#6807 [EdX] Added 88EX Admins
  deployments/edx/config/common.yaml
Labels: configuration, hub: edx

#6812 [DH-468] Enable elevated privileges for Econ 140 in datahub.b.e
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#6808 [EdX] Added 88EX Admins
  deployments/data101/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/edx/config/common.yaml
Labels: configuration, hub: datahub, hub: data101, hub: edx

#6811 [DH-467] Enable shared directory in data100 hub
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#6813 Merging #6811 to prod
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#6816 upgrade kubernetes to 32.0.1
  requirements.txt
Labels: configuration, hub: dev

#6817 Dh 454
  requirements.txt
Labels: configuration, hub: dev

#6819 [DH-258] moving hub and data101 postgres image to gar
  chartpress.yaml
  deployments/data101/config/common.yaml
  docs/tasks/rebuild-hub-image.qmd
  docs/tasks/user-images/rebuild-postgres-image.qmd
  hub/Chart.yaml
  hub/values.yaml
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: documentation, configuration, hub: data101, node-placeholder-deployment, helm-config, jupyterhub-deployment

#6822 no op to force redeploy
  hub/values.yaml
Labels: configuration, helm-config, jupyterhub-deployment

#6824 how many more will skip? only the shadow knows
  .github/workflows/deploy-hubs.yaml
  hub/values.yaml
Labels: build-infra, configuration, helm-config, jupyterhub-deployment

#6825 Merging #6816, #6817, #6819, #6820, #6821, #6822, #6823, #6824 to prod
  .github/workflows/deploy-hubs.yaml
  chartpress.yaml
  deployments/data101/config/common.yaml
  docs/tasks/rebuild-hub-image.qmd
  docs/tasks/user-images/rebuild-postgres-image.qmd
  hub/Chart.yaml
  hub/values.yaml
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: documentation, build-infra, configuration, hub: data101, node-placeholder-deployment, helm-config, jupyterhub-deployment

#6826 Use available images.
  deployments/cdss-discovery/config/common.yaml
  deployments/cdss-discovery/hubploy.yaml
Labels: configuration

#6827 Use hub image built at gitlab.
  deployments/cdss-discovery/config/common.yaml
Labels: configuration

#6830 Bump resources on cdss-discovery.
  deployments/cdss-discovery/config/common.yaml
Labels: configuration

#6831 [DH-473] Increase RAM for Legal Studies 123
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#6832 Merge 6826, 6827, 6830 and 6831 to prod
  deployments/cdss-discovery/config/common.yaml
  deployments/cdss-discovery/hubploy.yaml
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#6835 Set proper limits. Use profiles.
  deployments/cdss-discovery/config/common.yaml
  deployments/cdss-discovery/hubploy.yaml
Labels: configuration

#6836 Enable more GPUs.
  deployments/cdss-discovery/config/common.yaml
Labels: configuration

#6839 pin the main hubploy repo
  requirements.txt
Labels: configuration, jupyterhub-deployment

#6842 Update cdss-discovery image.
  deployments/cdss-discovery/config/common.yaml
Labels: configuration

#6845 [DH-258] pushed a build of the latest hub pod (the one that breaks ed…
  deployments/edx/config/staging.yaml
Labels: configuration, hub: edx

#6846 Merging #6835, #6836, #6838, #6839, #6842, and #6845 to prod
  deployments/cdss-discovery/config/common.yaml
  deployments/cdss-discovery/hubploy.yaml
  deployments/edx/config/staging.yaml
  requirements.txt
Labels: configuration, hub: edx

#6851 Use different docker images. Bump timeout.
  deployments/cdss-discovery/config/common.yaml
Labels: configuration
