Repository berkeley-dsep-infra/datahub, pull requests merged in 2025-08, with the labels that each got.

#7347 Increase RAM for nature shared conda envs and update images for EECS and data102
  deployments/data102/hubploy.yaml
  deployments/eecs/hubploy.yaml
  deployments/nature/config/common.yaml
Labels: configuration, hub: data102, hub: eecs, hub: nature

#7348 Update shared_conda to shared
  deployments/nature/config/common.yaml
  deployments/nature/config/prod.yaml
  deployments/nature/config/staging.yaml
  deployments/stat159/config/common.yaml
  deployments/stat159/config/prod.yaml
  deployments/stat159/config/staging.yaml
Labels: configuration, hub: stat159, hub: nature

#7349 Update shared_conda to shared
  deployments/nature/config/common.yaml
  deployments/nature/config/prod.yaml
  deployments/nature/config/staging.yaml
  deployments/stat159/config/common.yaml
  deployments/stat159/config/prod.yaml
  deployments/stat159/config/staging.yaml
Labels: configuration, hub: stat159, hub: nature

#7353 Merge 7352 and 7354 to prod
  deployments/datahub/config/common.yaml
  deployments/datahub/hubploy.yaml
  deployments/dev/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/gradebook/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, hub: highschool, hub: gradebook, hub: dev

#7362 Merge 7361 to prod
  deployments/datahub/hubploy.yaml
  deployments/dev/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/gradebook/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, hub: highschool, hub: gradebook, hub: dev

#7370 [DH-546] Make the shared directory visible in RStudio interface of the PH hub
  deployments/publichealth/config/common.yaml
Labels: configuration, hub: publichealth

#7376 Fall 25 setup: Implement bCourses roster-based authorization in per-course Data Hubs and increase node-placeholder value for hubs
  deployments/data100/config/common.yaml
  deployments/data101/config/common.yaml
  deployments/data102/config/common.yaml
  deployments/data8/config/common.yaml
  deployments/prob140/config/common.yaml
  node-placeholder/values.yaml
Labels: configuration, hub: data102, hub: data100, hub: data101, hub: data8, hub: prob140, node-placeholder-deployment, helm-config

#7312 update the patience message during spawn delay to include the timeout
  hub/values.yaml
Labels: configuration, helm-config, jupyterhub-deployment

#7399 [DH-558] fixes RISE
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#7400 Merging #7393, #7394, #7312, #7397, and #7399 to prod
  deployments/data8/hubploy.yaml
  deployments/datahub/config/common.yaml
  deployments/eecs/hubploy.yaml
  hub/values.yaml
  node-placeholder/values.yaml
Labels: configuration, hub: datahub, hub: data8, hub: eecs, node-placeholder-deployment, helm-config, jupyterhub-deployment

#7403 [DH-551] Enable bCourses based authorization in Stat159 Hub
  deployments/stat159/config/common.yaml
Labels: configuration, hub: stat159

#7404 [DH-551] Add fall 2025 configuration for Stat 20.
  deployments/stat20/config/common.yaml
Labels: hub: stat20, configuration

#7405 Merge 7402, 7403, 7404, 7406 and 7408 to prod
  deployments/biology/hubploy.yaml
  deployments/datahub/config/common.yaml
  deployments/stat159/config/common.yaml
  deployments/stat20/config/common.yaml
Labels: hub: stat20, configuration, hub: stat159, hub: datahub, hub: biology

#7411 Add gh-scoped-creds to docs.
  docs/_quarto.yml
  docs/tasks/gh-scoped-creds.qmd
Labels: documentation, configuration

#7414 Merge 7411 and 7413 to prod
  deployments/data101/config/common.yaml
  docs/_quarto.yml
  docs/tasks/gh-scoped-creds.qmd
Labels: documentation, configuration, hub: data101
