Repository berkeley-dsep-infra/datahub, pull requests merged in 2025-05, with the labels that each got.

#7052 update the core pool docs
  docs/tasks/core-pool.qmd
Labels: documentation

#7054 Merge 7052 and 7053 to prod
  deployments/a11y/hubploy.yaml
  docs/tasks/core-pool.qmd
Labels: documentation, configuration, hub: a11y

#7058 [DH-515] modify memory guarantee 4G -> 2G
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#7059 [DH-515] merging #7058 to prod
  deployments/data100/config/common.yaml
Labels: configuration, hub: data100

#7068 Set stat159 replicas to 1.
  node-placeholder/values.yaml
Labels: configuration, node-placeholder-deployment, helm-config

#7070 Merge #7066, #7067, #7068, #7069
  deployments/eecs/hubploy.yaml
  node-placeholder/values.yaml
Labels: configuration, hub: eecs, node-placeholder-deployment, helm-config

#7071 [DH-500] spinning down placeholders
  node-placeholder/values.yaml
Labels: configuration, node-placeholder-deployment, helm-config

#7072 Add grouper sync docs.
  docs/_quarto.yml
  docs/tasks/grouper-sync.qmd
Labels: documentation, configuration

#7077 Document Google Groups provisioning.
  docs/tasks/grouper-sync.qmd
Labels: documentation

#7079 fix deprecation warning for ingress class
  deployments/cdss-discovery/config/common.yaml
  hub/values.yaml
  support/values.yaml
Labels: configuration, helm-config, support-deployment, jupyterhub-deployment

#7081 [DH-505] update hub pod to latest jupyterhub
  hub/Chart.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
Labels: dockerfile, configuration, hub-images, node-placeholder-deployment, helm-config, jupyterhub-deployment

#7082 [DH-505] Bump requirements yaml hub
  hub/Chart.yaml
  hub/requirements.yaml
  node-placeholder/Chart.yaml
Labels: configuration, node-placeholder-deployment, helm-config, jupyterhub-deployment

#7080 DH-500
  deployments/cdss-discovery/config/common.yaml
  docs/_quarto.yml
  docs/tasks/grouper-sync.qmd
  hub/Chart.yaml
  hub/requirements.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
  node-placeholder/values.yaml
  support/values.yaml
Labels: documentation, dockerfile, configuration, hub-images, node-placeholder-deployment, helm-config, support-deployment, jupyterhub-deployment

#7084 Disable RTC for stat159.
  deployments/stat159/config/common.yaml
Labels: configuration, hub: stat159

#7089 CanvasOauthenticator update to fix authentication issue after the jupyterhub upgrade (DH-505)
  hub/Chart.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
Labels: dockerfile, configuration, hub-images, node-placeholder-deployment, helm-config, jupyterhub-deployment

#7090 Merging #7083, #7084, #7085, #7086, #7089 to prod
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/gradebook/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/stat159/config/common.yaml
  deployments/stat159/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
  hub/Chart.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
Labels: dockerfile, configuration, hub-images, hub: stat159, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, node-placeholder-deployment, hub: highschool, helm-config, jupyterhub-deployment, hub: gradebook

#7097 [DH-501] Set datahub placeholder to 1 in prep for summer session A
  node-placeholder/values.yaml
Labels: configuration, node-placeholder-deployment, helm-config

#7100 Create a profile list from a user's courses.
  deployments/dev/config/common.yaml
  deployments/dev/hubploy.yaml
Labels: configuration, hub: dev

#7103 Merge 7091, 7092, 7096, 7097, 7098 and 7100
  deployments/data8/hubploy.yaml
  deployments/dev/config/common.yaml
  deployments/dev/hubploy.yaml
  deployments/ischool/hubploy.yaml
  deployments/publichealth/hubploy.yaml
  deployments/stat20/hubploy.yaml
  node-placeholder/values.yaml
Labels: hub: stat20, configuration, hub: data8, hub: ischool, hub: publichealth, node-placeholder-deployment, helm-config, hub: dev

#7122 Merge 7078, 7108 and 7117 to prod
  deployments/a11y/hubploy.yaml
  deployments/astro/config/common.yaml
  deployments/data100/config/common.yaml
  deployments/data101/config/common.yaml
  deployments/data102/config/common.yaml
  deployments/data8/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/eecs/config/common.yaml
  deployments/prob140/config/common.yaml
  deployments/publichealth/config/common.yaml
  deployments/r/config/common.yaml
  deployments/workshop/config/common.yaml
  node-placeholder/values.yaml
Labels: configuration, hub: astro, hub: datahub, hub: a11y, hub: data102, hub: data100, hub: data101, hub: data8, hub: eecs, hub: prob140, hub: publichealth, hub: r, hub: workshop, node-placeholder-deployment, helm-config
