Repository berkeley-dsep-infra/datahub, pull requests merged in 2025-01, with the labels that each got.

#6567 update ischool image tag to 7f769a0f30ae
  deployments/ischool/hubploy.yaml
Labels: configuration, hub: ischool

#6549 [DH-420] Remove bcourses based configs across hubs
  deployments/astro/config/common.yaml
  deployments/biology/config/common.yaml
  deployments/data100/config/common.yaml
  deployments/data101/config/common.yaml
  deployments/data8/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/eecs/config/common.yaml
  deployments/prob140/config/common.yaml
  deployments/publichealth/config/common.yaml
  deployments/r/config/common.yaml
Labels: configuration, hub: astro, hub: datahub, hub: biology, hub: data100, hub: data101, hub: data8, hub: eecs, hub: prob140, hub: publichealth, hub: r

#6568 update datahub image tag to 80bf33e5110e
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, hub: highschool

#6569 update datahub image tag to 661364a51a63
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, hub: highschool

#6572 Remove admin flag again.
  deployments/datahub/config/common.yaml
Labels: configuration, hub: datahub

#6573 Merge #6549, #6567, #6568, #6569, #6572.
  deployments/astro/config/common.yaml
  deployments/biology/config/common.yaml
  deployments/data100/config/common.yaml
  deployments/data101/config/common.yaml
  deployments/data8/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/eecs/config/common.yaml
  deployments/highschool/hubploy.yaml
  deployments/ischool/hubploy.yaml
  deployments/prob140/config/common.yaml
  deployments/prob140/hubploy.yaml
  deployments/publichealth/config/common.yaml
  deployments/r/config/common.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: astro, hub: datahub, hub: dlab, hub: biology, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: prob140, hub: publichealth, hub: r, hub: workshop, hub: highschool

#6583 [DH-424] moving biology hub to new filestore
  deployments/biology/config/common.yaml
Labels: configuration, hub: biology

#6584 Merging #6583 to prod
  deployments/biology/config/common.yaml
Labels: configuration, hub: biology

#6585 [DH-424] moving nature to small-courses filestore
  deployments/nature/config/common.yaml
Labels: configuration, hub: nature

#6586 Merging #6585 to prod
  deployments/nature/config/common.yaml
Labels: configuration, hub: nature

#6588 [DH-435] fixing empty stanza and adding datahub staff as admins
  deployments/astro/config/common.yaml
Labels: configuration, hub: astro

#6589 merging 6588 to prod
  deployments/astro/config/common.yaml
Labels: configuration, hub: astro

#6591 update ischool image tag to e1aa95b55ec2
  deployments/ischool/hubploy.yaml
Labels: configuration, hub: ischool

#6592 update dev image tag to 5fe0383cd1a8
  deployments/dev/hubploy.yaml
Labels: configuration, hub: dev

#6594 Merging #6591 and #6592 to prod
  deployments/dev/hubploy.yaml
  deployments/ischool/hubploy.yaml
Labels: configuration, hub: ischool, hub: dev

#6596 update julia image tag to d3c9e08d1204
  deployments/julia/hubploy.yaml
Labels: configuration, hub: julia

#6595 update biology image tag to b9cf5eacf758
  deployments/biology/hubploy.yaml
Labels: configuration, hub: biology

#6597 merging 6595/6596 to prod
  deployments/biology/hubploy.yaml
  deployments/julia/hubploy.yaml
Labels: configuration, hub: biology, hub: julia

#6599 update publichealth image tag to 8b87bf198328
  deployments/publichealth/hubploy.yaml
Labels: configuration, hub: publichealth

#6598 update datahub image tag to ff6231004232
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, hub: highschool

#6601 update biology image tag to 7b13faa6244d
  deployments/biology/hubploy.yaml
Labels: configuration, hub: biology

#6600 update julia image tag to c4a48d8f2160
  deployments/julia/hubploy.yaml
Labels: configuration, hub: julia

#6602 update stat20 image tag to 509d361d776c
  deployments/stat20/hubploy.yaml
Labels: hub: stat20, configuration

#6603 merging 6598/6599/6600/6601/6602 to prod
  deployments/biology/hubploy.yaml
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/julia/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/publichealth/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/stat20/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: hub: stat20, configuration, hub: datahub, hub: dlab, hub: biology, hub: julia, hub: prob140, hub: publichealth, hub: r, hub: workshop, hub: highschool

#6615 update dev image tag to 958c7b2e32e3
  deployments/dev/hubploy.yaml
Labels: configuration, hub: dev

#6616 update dev image tag to d6d4f9f9b632
  deployments/dev/config/common.yaml
  deployments/dev/hubploy.yaml
Labels: configuration, hub: dev

#6633 [DH-419] upgrade hub image
  hub/Chart.yaml
  hub/requirements.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
Labels: dockerfile, configuration, hub-images, node-placeholder-deployment, helm-config, jupyterhub-deployment

#6634 [DH-419] update hub image
  hub/Chart.yaml
  hub/values.yaml
  node-placeholder/Chart.yaml
Labels: configuration, node-placeholder-deployment, helm-config, jupyterhub-deployment

#6636 update edx image tag to f6de2e6dd229
  deployments/edx/hubploy.yaml
Labels: configuration, hub: edx

#6631 update biology image tag to fe5be6d5afdf
  deployments/biology/hubploy.yaml
Labels: configuration, hub: biology

#6630 update data101 image tag to d9c593d14110
  deployments/data101/hubploy.yaml
Labels: configuration, hub: data101

#6629 update julia image tag to fb504b6c71b2
  deployments/julia/hubploy.yaml
Labels: configuration, hub: julia

#6628 update datahub image tag to 8275a72a7278
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, hub: highschool

#6627 update publichealth image tag to 8691f424a693
  deployments/publichealth/hubploy.yaml
Labels: configuration, hub: publichealth

#6626 update ischool image tag to 051e68a97669
  deployments/ischool/hubploy.yaml
Labels: configuration, hub: ischool

#6625 update stat20 image tag to bf3646d1ec3c
  deployments/stat20/hubploy.yaml
Labels: hub: stat20, configuration

#6624 update data100 image tag to 999ae7f442fb
  deployments/data100/hubploy.yaml
Labels: configuration, hub: data100

#6623 update nature image tag to 632932e482af
  deployments/nature/hubploy.yaml
Labels: configuration, hub: nature

#6622 update eecs image tag to fbaa642ad7a5
  deployments/eecs/hubploy.yaml
Labels: configuration, hub: eecs

#6621 update data102 image tag to 926368b429c3
  deployments/data102/hubploy.yaml
Labels: configuration, hub: data102

#6620 update data8 image tag to cc074e31975e
  deployments/data8/hubploy.yaml
Labels: configuration, hub: data8

#6619 update a11y image tag to af9943963652
  deployments/a11y/hubploy.yaml
Labels: configuration, hub: a11y

#6618 update cee image tag to 27299a278090
  deployments/cee/hubploy.yaml
Labels: configuration, hub: cee

#6638 merging 6615/6616/6618/6619/6620/6621/6622/6623/6624/6625/6626/6627/6628/6629/6630/6631/6633/6634/6636 to prod
  deployments/a11y/hubploy.yaml
  deployments/biology/hubploy.yaml
  deployments/cee/hubploy.yaml
  deployments/data100/hubploy.yaml
  deployments/data101/hubploy.yaml
  deployments/data102/hubploy.yaml
  deployments/data8/hubploy.yaml
  deployments/datahub/hubploy.yaml
  deployments/dev/config/common.yaml
  deployments/dev/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/edx/hubploy.yaml
  deployments/eecs/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/ischool/hubploy.yaml
  deployments/julia/hubploy.yaml
  deployments/nature/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/publichealth/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/stat20/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
  hub/Chart.yaml
  hub/requirements.yaml
  hub/values.yaml
  images/hub/Dockerfile
  node-placeholder/Chart.yaml
Labels: hub: stat20, dockerfile, configuration, hub-images, hub: datahub, hub: a11y, hub: data102, hub: dlab, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: ischool, hub: julia, hub: prob140, hub: publichealth, hub: r, hub: workshop, node-placeholder-deployment, hub: highschool, helm-config, jupyterhub-deployment, hub: edx, hub: dev, hub: nature

#6637 update a11y image tag to 6dcc885aabf9
  deployments/a11y/hubploy.yaml
Labels: configuration, hub: a11y

#6639 Fold admin into custom group profile.
  deployments/a11y/config/common.yaml
  deployments/astro/config/common.yaml
  deployments/biology/config/common.yaml
  deployments/data100/config/common.yaml
  deployments/data101/config/common.yaml
  deployments/data8/config/common.yaml
  deployments/dev/config/common.yaml
  deployments/eecs/config/common.yaml
  deployments/publichealth/config/common.yaml
  deployments/stat159/config/common.yaml
  deployments/stat20/config/common.yaml
Labels: hub: stat20, configuration, hub: astro, hub: stat159, hub: a11y, hub: biology, hub: data100, hub: data101, hub: data8, hub: eecs, hub: publichealth, hub: dev

#6642 update astro image tag to fab9b7e9e4e6
  deployments/astro/hubploy.yaml
Labels: configuration, hub: astro

#6644 update nature image tag to 5a46ef14206c
  deployments/nature/hubploy.yaml
Labels: configuration, hub: nature

#6647 update astro image tag to 0063ed5f1d8f
  deployments/astro/hubploy.yaml
Labels: configuration, hub: astro

#6648 update cee image tag to 09ff7873876d
  deployments/cee/hubploy.yaml
Labels: configuration, hub: cee

#6632 Increase RAM for Econ 148, ENVECON 153, Pol Sci 191 and enable elevated privileges for Linguistics 243
  deployments/datahub/config/common.yaml
  deployments/r/config/common.yaml
Labels: configuration, hub: datahub, hub: r

#6651 update nature image tag to 4f3bcec71659
  deployments/nature/hubploy.yaml
Labels: configuration, hub: nature

#6649 update biology image tag to d86c6301a927
  deployments/biology/hubploy.yaml
Labels: configuration, hub: biology

#6654 update data100 image tag to 99a49eef8870
  deployments/data100/hubploy.yaml
Labels: configuration, hub: data100

#6655 Add nature hub to docs.
  docs/hubs.qmd
  docs/hubs/nature.qmd
Labels: documentation

#6656 Move user image docs into new section.
  docs/_quarto.yml
  docs/admins/structure.qmd
  docs/tasks/user-images/managing-multiple-user-image-repos.qmd
  docs/tasks/user-images/new-image.qmd
  docs/tasks/user-images/new-packages.qmd
  docs/tasks/user-images/rebuild-postgres-image.qmd
  docs/tasks/user-images/repo2docker-local.qmd
  docs/tasks/user-images/transition-image.qmd
  docs/tasks/user-images/update-image.qmd
Labels: documentation, configuration

#6646 Enable shared directories for PS 191
  deployments/r/config/common.yaml
Labels: configuration, hub: r

#6658 update data101 image tag to 0b68b2cbe343
  deployments/data101/hubploy.yaml
Labels: configuration, hub: data101

#6663 Install gitconfig where conda's git reads it.
  deployments/datahub/config/common.yaml
  deployments/publichealth/config/common.yaml
  deployments/r/config/common.yaml
Labels: configuration, hub: datahub, hub: publichealth, hub: r

#6662 Enable elevated privileges for data 8 staff
  deployments/data8/config/common.yaml
Labels: configuration, hub: data8

#6664 Merge 6632, 6637, 6639, 6642, 6644, 6647, 6649, 6651, 6655, 6656, 6658, 6662, 6663 to Prod
  deployments/a11y/config/common.yaml
  deployments/a11y/hubploy.yaml
  deployments/astro/config/common.yaml
  deployments/astro/hubploy.yaml
  deployments/biology/config/common.yaml
  deployments/biology/hubploy.yaml
  deployments/cee/hubploy.yaml
  deployments/data100/config/common.yaml
  deployments/data100/hubploy.yaml
  deployments/data101/config/common.yaml
  deployments/data101/hubploy.yaml
  deployments/data8/config/common.yaml
  deployments/datahub/config/common.yaml
  deployments/dev/config/common.yaml
  deployments/eecs/config/common.yaml
  deployments/nature/hubploy.yaml
  deployments/publichealth/config/common.yaml
  deployments/r/config/common.yaml
  deployments/stat159/config/common.yaml
  deployments/stat20/config/common.yaml
  docs/_quarto.yml
  docs/admins/structure.qmd
  docs/hubs.qmd
  docs/hubs/nature.qmd
  docs/tasks/user-images/managing-multiple-user-image-repos.qmd
  docs/tasks/user-images/new-image.qmd
  docs/tasks/user-images/new-packages.qmd
  docs/tasks/user-images/rebuild-postgres-image.qmd
  docs/tasks/user-images/repo2docker-local.qmd
  docs/tasks/user-images/transition-image.qmd
  docs/tasks/user-images/update-image.qmd
Labels: documentation, hub: stat20, configuration, hub: astro, hub: stat159, hub: datahub, hub: a11y, hub: biology, hub: cee, hub: data100, hub: data101, hub: data8, hub: eecs, hub: publichealth, hub: r, hub: dev, hub: nature

#6665 update data102 image tag to d7a8078ad0e9
  deployments/data102/hubploy.yaml
Labels: configuration, hub: data102

#6666 Merging #6665 to prod
  deployments/data102/hubploy.yaml
Labels: configuration, hub: data102

#6667 update data8 image tag to e8106e7902ff
  deployments/data8/hubploy.yaml
Labels: configuration, hub: data8

#6668 [DH-425] setting placeholder values to what they were before winter
  node-placeholder/values.yaml
Labels: configuration, node-placeholder-deployment, helm-config

#6669 Merging #6667 and #6668 to prod
  deployments/data8/hubploy.yaml
  node-placeholder/values.yaml
Labels: configuration, hub: data8, node-placeholder-deployment, helm-config

#6681 update data101 image tag to 131decc9433b
  deployments/data101/hubploy.yaml
Labels: configuration, hub: data101

#6682 Merging #6681 to prod
  deployments/data101/hubploy.yaml
Labels: configuration, hub: data101

#6684 update datahub image tag to a846956fbaad
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, hub: highschool

#6689 update data101 image tag to 90863a9c33e1
  deployments/data101/hubploy.yaml
Labels: configuration, hub: data101

#6691 Enable elevated privileges for PH 142 and Data 140
  deployments/prob140/config/common.yaml
  deployments/publichealth/config/common.yaml
Labels: configuration, hub: prob140, hub: publichealth

#6686 Merge 6684, 6689 and 6691 to prod
  deployments/data101/hubploy.yaml
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/config/common.yaml
  deployments/prob140/hubploy.yaml
  deployments/publichealth/config/common.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: data101, hub: prob140, hub: publichealth, hub: r, hub: workshop, hub: highschool

#6693 Add note about Jira in new hub bcourses auth.
  docs/tasks/new-hub.qmd
Labels: documentation

#6695 update datahub image tag to 38f70f4c61df
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, hub: highschool

#6698 [DH-451] Enable private repo access for Bio Hub
  deployments/biology/config/common.yaml
Labels: configuration, hub: biology

#6701 testing removal of git credential stuff
  deployments/biology/config/common.yaml
Labels: configuration, hub: biology

#6700 Merge #6693, #6695, #6698, #6702 to prod
  deployments/biology/config/common.yaml
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
  docs/tasks/new-hub.qmd
  requirements.txt
Labels: documentation, configuration, hub: datahub, hub: dlab, hub: biology, hub: prob140, hub: r, hub: workshop, hub: highschool

#6703 [DH-454] might as well pin kubernetes in dev-requirements.txt as well
  dev-requirements.txt
Labels: documentation, configuration

#6704 Merging #6703 to prod
  dev-requirements.txt
Labels: documentation, configuration

#6711 Enable config for Data C88S
  deployments/prob140/config/common.yaml
Labels: configuration, hub: prob140

#6712 update datahub image tag to 2dee4b459cad
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, hub: highschool

#6714 Merge 6711, 6712 to prod
  deployments/datahub/hubploy.yaml
  deployments/dlab/hubploy.yaml
  deployments/highschool/hubploy.yaml
  deployments/prob140/config/common.yaml
  deployments/prob140/hubploy.yaml
  deployments/r/hubploy.yaml
  deployments/template/{{cookiecutter.hub_name}}/hubploy.yaml
  deployments/workshop/hubploy.yaml
Labels: configuration, hub: datahub, hub: dlab, hub: prob140, hub: r, hub: workshop, hub: highschool

#6724 Add configs to enable elevated privileges for data 101 course staff
  deployments/data101/config/common.yaml
Labels: configuration, hub: data101

#6727 [DH-459] fixing edx prod
  deployments/edx/config/prod.yaml
  hub/values.yaml
Labels: configuration, helm-config, jupyterhub-deployment, hub: edx

#6726 Merge 6724 to prod
  deployments/data101/config/common.yaml
  deployments/edx/config/prod.yaml
  hub/values.yaml
Labels: configuration, hub: data101, helm-config, jupyterhub-deployment, hub: edx

#6730 [DH-460] fix logins to workshop hub
  deployments/workshop/config/common.yaml
Labels: configuration, hub: workshop

#6731 merging 6730 to prod
  deployments/workshop/config/common.yaml
Labels: configuration, hub: workshop

#6732 Add cdss-discovery deployment.
  deployments/cdss-discovery/config/certificate-staging.yml
  deployments/cdss-discovery/config/common.yaml
  deployments/cdss-discovery/config/issuer.yml
  deployments/cdss-discovery/config/prod.yaml
  deployments/cdss-discovery/config/staging.yaml
  deployments/cdss-discovery/hubploy.yaml
  deployments/cdss-discovery/secrets/nautilus-kubeconfig.yaml
  deployments/cdss-discovery/secrets/prod.yaml
  deployments/cdss-discovery/secrets/staging.yaml
Labels: configuration

#6736 update a11y image tag to b321bfa2ac82
  deployments/a11y/hubploy.yaml
Labels: configuration, hub: a11y

#6737 update julia image tag to 12b6fec91592
  deployments/julia/hubploy.yaml
Labels: configuration, hub: julia

#6717 Increase RAM for EE 120 in EECS Hub and Demog 175 in Datahub
  deployments/datahub/config/common.yaml
  deployments/eecs/config/common.yaml
Labels: configuration, hub: datahub, hub: eecs

#6741 update eecs image tag to c0dcb92f86a4
  deployments/eecs/hubploy.yaml
Labels: configuration, hub: eecs
